doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title IRM - Investor Relationship Management
        link(rel="icon", type="image/png", href="img/favicon.png")
        link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
        link(href='libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(href='libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='libs/jquery.scrollbar/jquery.scrollbar.css', rel='stylesheet')
        link(href='libs/ionrangeslider/css/ion.rangeSlider.css', rel='stylesheet')
        link(href='libs/ionrangeslider/css/ion.rangeSlider.skinFlat.css', rel='stylesheet')
        link(href='libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css', rel='stylesheet')
        block css
        link(href='css/right.light.css', rel='stylesheet')
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    block vars
    body
        .wrapper
            include ./navbar.jade
            .dashboard
                include ./sidebar.jade
                include ./main.jade
        include ../include/demo.jade
        script(src='libs/jquery/jquery.min.js')
        script(src='libs/bootstrap/js/bootstrap.min.js')
        script(src='libs/jquery.scrollbar/jquery.scrollbar.min.js')
        script(src='libs/vue/vue.min.js')
        script(src='libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js')
        script(src='libs/sparkline/jquery.sparkline.min.js')
        script(src='libs/ionrangeslider/js/ion.rangeSlider.min.js')
        script(src='libs/inputNumber/js/inputNumber.js')
        script(src='libs/bootstrap-switch/dist/js/bootstrap-switch.min.js')
        block js
        if release
            script(src='js/right.min.js')
        script(src='js/main.js')