nav.navbar.navbar-static-top.header-navbar
    .header-navbar-mobile
        .header-navbar-mobile__menu
            button.btn(type="button")
                i.fa.fa-bars
        .header-navbar-mobile__brand
            a(href="index.html")
                .logo.text-nowrap
                    .logo__img
                    span.logo__text IRM
        .header-navbar-mobile__title
            span= page
        .userbar.dropdown
            a.userbar__toggle.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                .userbar__photo
                .userbar__name
                    | mr. Anderson
                    i.fa.fa-angle-down
            ul.dropdown-menu.dropdown-menu-right
                li
                    a(href="#") Log Out
    .navbar-header
        a.navbar-brand(href="index.html")
            .logo.text-nowrap
                .logo__img
                span.logo__text IRM

    .topnavbar
        ul.nav.navbar-nav.navbar-left
            li(class=page=='Dashboard' ? 'active' : '')
                a(href="index.html")
                    span Dashboard
            li(class=page=='Inbox' || page=='Sent' || page=='Compose' ? 'active' : '')
                a(href="inbox.html")
                    span Mailbox
            li.dropdown(class=page=='Products' || page=='Orders' || page=='Users' || page=='Blank' ? 'active' : '')
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                    span Pages&nbsp;
                        i.caret
                ul.dropdown-menu
                    li(class=page=='Products' ? 'active' : '')
                        a(href="products.html") Products
                    li(class=page=='Orders' ? 'active' : '')
                        a(href="orders.html") Orders
                    li(class=page=='Users' ? 'active' : '')
                        a(href="users.html") Users
                    li.divider(role="separator")
                    li
                        a(href="login.html") Login
                    li(class=page=='Blank' ? 'active' : '')
                        a(href="blank.html") Blank
        .userbar.dropdown
            a.userbar__toggle.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                .userbar__photo
                .userbar__name
                    | mr. Anderson
                    i.fa.fa-angle-down

            ul.dropdown-menu.dropdown-menu-right
                li
                    a(href="#") Log Out
        .header-navbar__search
            form
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search