// Screen Modes
@phone-s: ~"(max-width: 375px)"; // default
@phone-m: ~"(min-width: 375px)";
@phone-l: ~"(min-width: 411px)";
@tablet:  ~"(min-width: 768px)";
@desktop: ~"(min-width: 960px) and (orientation: landscape)";
@less-then-desktop: ~"(max-width: 960px)";

// Mixins
.ltr-version(@rules) {
  html[dir = ltr] & { @rules(); }
}

.when-page-loaded(@rules) {
  html.wf-active.page-loaded &, html.wf-inactive.page-loaded & { @rules(); }
}
