script(src='libs/jquery/jquery.min.js')
script(src='libs/bootstrap/js/bootstrap.min.js')
script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
script(src='js/admin.js')