.sidebar
    .userbar
        .userbar__photo(style='background-image: url("https://randomuser.me/api/portraits/thumb/men/49.jpg")')
        .userbar__name
            span Admin
            i.chevron.fa.fa-chevron-down
    .menu
        ul.nav
            li(class=page=='feed' ? 'active' : '')
                a(href='feed.html') Лента событий
            li(class=page=='users__list' ? 'active' : '')
                a(href='userslist.html') Список пользователей
            li(class=page=='feedback' ? 'active' : '')
                a(href='feedback.html') Обратная связь
                    span.badge.pull-right 2
            li(class=page=='users' ? 'active' : '')
                a(href='users.html') Учетные записи