link(href='libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
link(href='libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
link(href='css/admin.min.css', rel='stylesheet')
link(rel="icon", type="image/png", href="img/favicon.png")
link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
