extends ./include/layout.jade
block vars
    - var page = 'game'
block main
    .tb-main__object
        //object(width='860', height='596', data='../media/game.png')
        iframe(src="http://games.itsrealgames.com/squirrels/squirrels_web.html", scrolling="no", webkitallowfullscreen="true", mozallowfullscreen="true", allowfullscreen="true", frameborder="0")
