extends ./include/layout.jade
block vars
    - var page = 'index'
block main
    .tb-play
        .tb-play__help_1 Помоги белке
        .tb-play__help_2 достать орех!
        .tb-play__action
            a.tb-play__btn(href='game.html') Играть
