extends ./include/layout.jade
block vars
    - var page = 'news'
block main
    .tb-news
        .tb-news__item
            .tb-news__head
                .tb-news__pic
                    img(src='../media/pic.png', width='100%')
                .tb-news__info
                    .tb-news__title
                        a(href='') Сверхзвуковой флэш в трагедии белок!
                    .tb-news__date 30 сентября 2015
                    .tb-news__more
                        a.tb-news__btn(href='') Подробнее
            .tb-news__announce
                p Флэш в трагелии белок!
                p Это был мрачный день, на небе сверкали молнии. В один момент все замерло. Ящики, палки, все стало подниматься вверх. ЯРКАЯ ВСПЫШКА...
                table
                    tr
                        td
                            img(src='../media/flash_1.png', width='550px')
                        td
                            img(src='../media/flash_2.png', width='355px')
        .tb-news__item
            .tb-news__head
                .tb-news__pic
                    img(src='../media/pic_2.png', width='100%')
                .tb-news__info
                    .tb-news__title
                        a(href='') Новые рейтинги трагедии белок 2!
                    .tb-news__info-text Жаркое лето окутало в свои объятия всех жителей планеты. Особая жара пришлась на самое солнечное место маленького беличьего мира - Летающие острова..
                    .tb-news__more
                        a.tb-news__btn(href='') Подробнее
