/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

/* Styles */
html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    position: relative;
    font-size: 14px;
    color: #392e28;
    font-family: Ubuntu, Arial, sans-serif;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0 10px 0;
}
a {
    color: #0033bb;
    text-decoration: none;
}
strong {
    font-weight: bold;
}

.b-container {
    width: 100%;
    min-width: 300px;
    min-height: 100%;
    box-sizing: border-box;
    background: #0b0e16 url('../i/bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.soon {
    width: 800px;
    padding: 292px 0 110px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.soon__title {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
.soon-timer {
    width: 610px;
    height: 180px;
    border: 1px solid #5d5d5d;
    box-sizing: border-box;
    background-color: rgba(24, 24, 24, 0.7);
    margin: 16px auto 39px;
    padding: 35px 0 21px;
}
.soon-timer__section {
    float: left;
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid #fff;
    height: 100%;
}
.soon-timer__section:last-child {
    border-right-color: transparent;
}
.soon-timer__digits {
    font-size: 70px;
    color: #fff;
}
.soon-timer__title {
    font-size: 25px;
    color: #fff;
}

@media (max-width: 1280px) {
    .b-header-logo__title {
        font-size: 26px;
        width: 395px;
        line-height: 26px;
    }
    .b-artifacts__item {
        width: 20%;
    }
}

@media (max-width: 1024px) {
    .b-artifacts__item {
        width: 25%;
        height: 300px;
    }
    .b-artifacts__cover {
        height: 150px;
    }
    .b-artifacts-content {
        padding: 40px 21px;
    }
    .b-header-logo__img {
        width: 110px;
        height: 55px;
    }
    .b-header-logo__title {
        font-size: 20px;
        width: 345px;
        line-height: 19px;
    }
    .b-header-actions {
        height: 55px;
    }
    .soon {
        width: 100%;
        padding: 171px 0px 110px;
    }
    .b-footer-links__link {
        padding-right: 25px;
    }
}
@media (max-width: 768px) {
    .b-container {
        margin-bottom: -110px;
        padding-bottom: 110px;
    }
    .soon {
        padding: 140px 0px 25px;
    }
    .b-header-logo {
        clear: both;
    }
    .b-header-logo__title {
        width: 320px;
    }
    .b-header-actions {
        float: left;
    }
    .b-header-soclinks-link {
        margin-left: 0px;
        margin-right: 20px;
    }
    .soon__title {
        font-size: 25px;
    }
    .soon-timer {
        padding: 20px 0px 25px;
        width: 90%;
        overflow: hidden;
        height: auto;
    }
    .soon-timer__digits {
        font-size: 55px;
    }
    .soon-timer__title {
        font-size: 20px;
    }
    .soon-form {
        width: 90%;
    }
    .soon__text {
        width: 90%;
        margin: 0 auto;
    }
    .b-footer {
        height: 110px;
    }
    .b-footer-links {
        width: 250px;
    }
    .b-footer-links__link {
        padding-right: 10px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .b-footer-copyright {
        font-size: 12px;
        margin-top: 12px;
    }
    .b-footer__right p {
        font-size: 12px;
        margin-bottom: 19px;
        margin-top: 3px;
    }
    .b-artifacts__item {
        width: 50%;
        height: 300px;
    }
    .b-artifacts__cover {
        height: 150px;
    }
}
@media (max-width: 480px) {
    .b-artifacts-tab {
        width: 33%;
    }
    .b-artifacts__item {
        width: 100%;
        height: 300px;
    }
    .b-artifacts__cover {
        height: 150px;
    }
    .b-header-main {
        padding: 10px;
    }
    .b-header-logo__img {
        width: 66px;
        height: 33px;
    }
    .b-header-logo__title {
        width: 210px;
        font-size: 12px;
        line-height: 14px;
        margin-left: 10px;
    }
    .b-header-actions {
        height: 30px;
        margin: 10px 0 0;
    }
    .soon {
        padding: 90px 0px 5px;
    }
    .soon__title {
        font-size: 15px;
    }
    .soon-timer {
        padding: 15px 0px 20px;
        margin: 16px auto 16px;
    }
    .soon-timer__digits {
        font-size: 40px;
    }
    .soon-timer__title {
        font-size: 14px;
    }
    .soon-form {
        margin: 0px auto 20px;
    }

    .soon-form__input {
        padding-right: 100px;
        margin-right: -95px;
    }
    .soon-form__input input {
        height: 34px;
        font-size: 14px;
    }
    .soon-form__submit {
        width: 95px;
    }
    .soon-form__submit button[type="submit"] {
        height: 30px;
        font-size: 14px;
    }
    .soon-form__input input::-webkit-input-placeholder {
        font-size: 14px;
    }
    .soon-form__input input:-moz-placeholder {
        font-size: 14px;
    }
    .soon-form__input input::-moz-placeholder {
        font-size: 14px;
    }
    .soon-form__input input:-ms-input-placeholder {
        font-size: 14px;
    }
    .soon__text {
        font-size: 14px;
    }
    .soon__text p {
        line-height: 18px;
        margin-bottom: 20px;
    }
    .soon__text_artefacts {
        font-weight: 500;
        font-size: 16px;
    }
    .b-footer__left {
        width: 50%;
    }
    .b-footer-links {
        width: 100%;
    }
    .b-footer__right {
        width: 45%;
    }
    .b-footer__right img {
        width: 100%;
    }
}