.mb-btn {
  border: 1px solid #5e5e5e;
  margin: 0;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 32px;
  line-height: 60px;
  border-radius: 32px;

  &_pink {
    color: #fff;
    background-color: #e73c88;
    border: 1px solid #e73c88;
  }

  &_blue {
    color: #fff;
    background-color: #3195d4;
    border: 1px solid #3195d4;
  }

  &:hover {
    opacity: .9;
  }
}