.mb-game {
  background: #e8edf4;
  height: 900px;

  &__cont {
    position: relative;
  }

  &__profile{
    position: relative;
    height: 700px;
  }

  &__header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    z-index: 100;
  }

  &__name {
    font-size: 34px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }

    &:after {
      content: '';
      display: inline-block;
      height: 37px;
      width: 37px;
      background: url('../img/game/ico_link.png') no-repeat;
      margin-left: 17px;
      margin-top: -7px;
      vertical-align: middle;
    }
  }

  &__photo {
    height: 100%;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__action {
    position: absolute;
    bottom: 5px;
    text-align: center;
    height: 170px;
    width: 100%;
    left: 0;
  }

  &__btns {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 95px;
    height: 170px;
    display: inline-block;
    padding: 14px;
    font-size: 0;

    & > *:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__like {
    display: inline-block;
    width: 142px;
    height: 142px;
    background-color: white;
    background-image: linear-gradient(to top, white 0%, #e6e6e6 13%, white 54%, white 100%);
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:before {
      content: '';
      position: absolute;
      width: 86px;
      height: 86px;
      left: 28px;
      top: 28px;
      background: url('../img/game/ico_like.png') no-repeat;
    }
  }

  &__dislike {
    display: inline-block;
    width: 142px;
    height: 142px;
    background-color: white;
    background-image: linear-gradient(to top, white 0%, #e6e6e6 13%, white 54%, white 100%);
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:before {
      content: '';
      position: absolute;
      width: 86px;
      height: 86px;
      left: 28px;
      top: 28px;
      background: url('../img/game/ico_dislike.png') no-repeat;
    }
  }

  &__nav {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    margin-top: -110px;
    cursor: pointer;

    &_prev {
      left: 0;
      background: url('../img/game/ico_prev.png') 50% 50% no-repeat;
    }

    &_next {
      right: 0;
      background: url('../img/game/ico_next.png') 50% 50% no-repeat;
    }
  }

  &__menu {
    font-size: 0;
    margin-top: 17px;
  }

  &__btn {
    display: inline-block;
    width: 33.3%;
    background: transparent;
    border: 0;
    color: #272727;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    padding: 25px;
    white-space: nowrap;
    outline: none;

    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: 38px;
      height: 38px;
      vertical-align: middle;
    }

    &_gift:before {
      background: url('../img/game/ico_gift.png') 50% 50% no-repeat;
      margin-top: -7px;
    }

    &_chat:before {
      background: url('../img/game/ico_chat.png') 50% 50% no-repeat;
      margin-top: -2px;
    }

    &_profile:before {
      background: url('../img/game/ico_profile.png') 50% 50% no-repeat;
      margin-top: -2px;
    }
  }
}