.mb-header {
  height: 85px;
  background-color: #2e242c;
  overflow: hidden;
  text-align: center;

  &__left {
    float: left;
    width: 81px;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__center {
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 81px;
    margin: 0 -81px;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__right {
    float: left;
    width: 81px;
    height: 100%;
    position: relative;
  }

  &__back {
    display: inline-block;
    width: 39px;
    height: 31px;
    vertical-align: middle;
    padding: 0;
    border: 0;
    margin: 0;
    background: url('../img/ico_back.svg') 50% 50% no-repeat;
    outline: none;
  }

  &__title {
    font-size: 34px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
}