.mb-menu {
  display: inline-block;
  min-height: 100%;
  max-width: 580px;
  width: 0;
  z-index: 1000;
  vertical-align: top;
  border-top: 8px solid transparent;
  margin-top: -8px;
  overflow: hidden;
  height: 100%;
  transition: width 0.2s;
  white-space: normal;

  &_open {
    height: auto;
    width: 85%;
  }

  &__cont {
    padding: 24px 27px;
    background-color: #2e242c;
  }

  &__btn {
    display: inline-block;
    width: 37px;
    height: 33px;
    background: transparent url('../img/menu/ico_menu.svg') 50% 50% no-repeat;
    vertical-align: middle;
    border: 0;
    padding: 0;
    outline: none;
  }

  &__profile {
    overflow: hidden;
    height: 94px;

    .mb-menu__link {
      padding-top: 18px;
    }
  }

  &__photo {
    width: 94px;
    height: 94px;
    float: left;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 25px 0 0;
  }

  &__item {
    overflow: hidden;
    height: 94px;
    padding: 24px 0px 16px 0;

    &_vip .mb-menu__ico:before {
      background: url('../img/menu/ico_vip.svg') 50% 50% no-repeat;
      width: 53px;
      height: 53px;
      margin-top: -27px;
      margin-left: -27px;
    }

    &_vip-active .mb-menu__ico:before {
      background: url('../img/menu/ico_vip_active.svg') 50% 50% no-repeat;
      width: 53px;
      height: 53px;
      margin-top: -27px;
      margin-left: -27px;
    }

    &_chat .mb-menu__ico:before {
      background: url('../img/menu/ico_chat.svg') 50% 50% no-repeat;
      width: 50px;
      height: 47px;
      margin-top: -24px;
      margin-left: -25px;
    }

    &_smile .mb-menu__ico:before {
      background: url('../img/menu/ico_smile.svg') 50% 50% no-repeat;
      width: 48px;
      height: 46px;
      margin-top: -23px;
      margin-left: -24px;
    }

    &_ulibaster {

      padding-right: 0;

      .mb-menu__link {
        padding-right: 0;
        margin-right: 0;
      }

      .mb-menu__ico:before {
        background: url('../img/menu/ico_ulibaster.svg') 50% 50% no-repeat;
        width: 68px;
        height: 51px;
        margin-top: -26px;
        margin-left: -20px;
      }
    }

    .badge {
      float: right;
      color: #fff;
      font-size: 34px;
      font-weight: 400;
      display: inline-block;
      padding: 7px 12px;
      background-color: #f2398b;
      border-radius: 8px;
      margin-top: 8px;
    }
  }

  &__ico {
    float: left;
    width: 94px;
    height: 100%;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &__link {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 122px;
    margin-left: -94px;
    padding-right: 100px;
    margin-right: -100px;
    font-size: 34px;
    font-weight: 400;
    line-height: 35px;
    vertical-align: middle;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-top: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover, &:focus {
      text-decoration: none;
      color: #fff;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__filter {
    margin-top: 87px;
    padding: 0 25px;
  }

  &__target {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 34px;
  }

  &__change {
    background-color: #3195d4;
    border-radius: 32px;
    font-size: 34px;
    font-weight: 400;
    padding: 8px 43px;
    text-decoration: none;
    display: inline-block;
    color: #fff;

    &:hover, &:focus {
      opacity: .9;
      color: #fff;
      text-decoration: none;
    }
  }

  &__info {
    list-style: none;
    padding: 0 25px;
    margin: 41px 0 0;

    li {

      a {
        color: #aebccb;
        font-size: 28px;
        font-weight: 400;
        line-height: 48px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}