.mb-profile {
  background: #fff;

  &__name_online {

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #2ace50;
      margin-left: 10px;
    }
  }

  &__counts {
    overflow: hidden;
    margin: 34px 0;
    padding: 0 25px;
  }

  &__count {
    float: left;
    width: 33.3%;
    color: #000;
    box-sizing: border-box;
    padding: 0 10px;

    &:first-child .mb-profile__count-cont {
      border-left: 0;
    }
  }

  &__count-cont {
    margin-top: 50px;
    text-align: center;
    border-left: 1px solid #b0b0b0;
    padding: 15px 0 10px;
  }

  &__count-value {
    font-size: 48px;
    font-weight: 400;
    line-height: 26px;
  }

  &__count-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  &__rating {
    width: 185px;
    height: 185px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(-45deg, transparent 50%, #d7d7d7 50%), linear-gradient(-45deg, #d7d7d7 50%, transparent 50%), linear-gradient(45deg, transparent 50%, #d7d7d7 50%), linear-gradient(45deg, #d7d7d7 50%, transparent 50%), linear-gradient(-45deg, #d7d7d7 50%, transparent 50%), linear-gradient(-45deg, transparent 50%, #d7d7d7 50%), linear-gradient(45deg, #d7d7d7 50%, transparent 50%), linear-gradient(45deg, transparent 50%, #d7d7d7 50%), linear-gradient(0deg, #fccf03 10%, #ff8738 50%, #e94480 100%), linear-gradient(0deg, #fccf03 10%, #8dee33 45%, #14fc76 100%);
    background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%,50% 50%, 50% 50%, 50% 50%, 50% 50%, 51% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: 200% 200%, 200% 200%, 200% 200%, 200% 200%, 200% 200%, 200% 200%, 200% 200%, 200% 200%, 0 0, 100% 0;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 36px;
      height: 18px;
      top: -2px;
      left: 50%;
      margin-left: -18px;
      background: url('../img/rating__mask.png') 50% 50% no-repeat;
    }

    .mb-profile__count-cont {
      margin-top: 37px;
    }
  }

  &__rating-inner {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    border-radius: 50%;
    background: #fff;
  }

  &__btns {
    padding: 0 25px;
    margin-bottom: 50px;

    .mb-btn {
      width: 100%;
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    padding: 0 25px 50px;
  }

  &__field {
    margin-bottom: 44px;
    overflow: hidden;
  }

  &__field-edit {
    display: block;
    float: right;
    text-align: right;
    color: #0049ce;
    font-size: 34px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
  }

  &__field-title {
    color: #010101;
    font-size: 34px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 23px;
  }

  &__field-value {
    color: #010101;
    font-size: 28px;
    font-weight: 400;

    &_empty {
      color: #5e5e5e;
    }
  }

  &__photos {
    overflow: hidden;
    height: 360px;
  }

  &__photos-main {
    float: left;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: 50% 50%;
  }

  &__photos-add {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #34495e;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__photos-upload {
    color: #e8edf4;
    font-size: 34px;
    font-weight: 400;
    display: inline-block;
    width: 250px;
    padding-top: 90px;
    background: url('../img/ico_photo.png') 50% top no-repeat;
    vertical-align: middle;
    cursor: pointer;
  }
}

.mb-profile-game {
  position: relative;
  height: 700px;

  &__photos {
    height: 100%;
    overflow: hidden;
  }

  &__photo {
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }
}