.sm-apps {
  text-align: center;
  flex-grow: 1;
  display: flex;
  max-height: 322px;

  @media @phone-m {
    max-height: 375px;
  }

  @media @phone-l {
    max-height: 420px;
  }

  @media @tablet {
    margin-top: 1.5rem;
  }

  @media @desktop {
    margin-top: 0;
    display: block;
    text-align: right;
    flex-grow: 0;
    max-height: none;

    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 800ms;

    .wf-active.page-loaded &, .wf-inactive.page-loaded & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__cont {
    flex-grow: 1;
    display: flex;
  }

  &__get {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;

    @media @tablet {
      justify-content: flex-start;
    }

    @media @desktop {
      display: block;
      max-width: 150px;
      margin-right: 2px;
    }
  }

  &__os {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;

    &:nth-child(1) {
      transition-delay: 550ms;
    }

    &:nth-child(2) {
      transition-delay: 950ms;
    }

    .wf-active.page-loaded &, .wf-inactive.page-loaded & {
      opacity: 1;
      transform: translateY(0);
    }

    @media @tablet {
      margin-bottom: 0.5rem;
    }

    @media @desktop {
      margin-bottom: 6px;
      transition: none;
    }
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    line-height: 1.4rem;

    @media @desktop {
      display: none;
    }
  }

  &__badge {
    width: 210px;
    height: 62px;
    display: block;
    margin: 0 auto;
    position: relative;

    &[disabled] {
      cursor: default;

      &:after {
        content: 'قريبا في متجر ابل';
        font-family: 'ANegaar', sans-serif;
        padding: 5px;
        width: 100px;
        text-align: center;
        border-radius: 3px;
        background-color: rgba(64, 64, 64, 1);
        opacity: 0;
        position: absolute;
        white-space: nowrap;
        top: 50%;
        right: 50%;
        margin-top: -15px;
        margin-right: -50px;
        display: block;
        z-index: 100;

        transform: translate(0, -15px);
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;

        @media @desktop {
          background-color: rgba(64, 64, 64, 0.9);
          margin-left: 0;
          right: 100%;
          margin-right: 15px;
          transform: translate(-15px, 0);
        }
      }

      &:hover {

        & > svg {
          opacity: 0.4;

          @media @desktop {
            opacity: 1;
          }
        }

        &:after {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }

    @media @phone-m {
      width: 250px;
      height: 74px;
    }

    @media @phone-l {
      width: 270px;
      height: 80px;
    }

    @media @desktop {
      margin: 0;
      width: 102px;
      height: 30px;
    }

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;

      transition: opacity 0.2s ease-out;
    }
  }

  &__info {
    font-size: 0.65rem;
    margin: 1rem 0 0.7rem;

    opacity: 0;
    /* transform: translateY(-20px); */
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 950ms;

    .wf-active.page-loaded &, .wf-inactive.page-loaded & {
      opacity: 1;
      transform: translateY(0);
    }

    @media @tablet {
      justify-content: flex-start;
    }

    @media @desktop {
      margin: -2px 0 0;
      font-size: 0.4rem;
      line-height: 1em;
      transition: none;

      span {
        display: block;
      }
    }

    p {
      margin: 0;
    }
  }

  &__heading {
    display: none;
    color: #0D216E;
    font-size: 0.9rem;
    font-family: 'TanseekModPro', sans-serif;
    font-weight: bold;
    margin-bottom: 2px;

    @media @desktop {
      display: block;
    }
  }

  &__rules {
    display: none;

    @media @desktop {
      display: flex;
    }
  }
}
