.sm-content {
  padding: 17vh 0 0;
  height: 100%;
  text-align: center;

  @media (max-height: 450px) {
    padding-top: 13vh;
  }

  @media @desktop {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    padding: 8vh 0 5vh;
  }
}

.sm-promo {
  display: none;
  width: 450px;
  padding-left: 10px;
  background-image: url('../../img/pack.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-origin: content-box;

  opacity: 0;
  transform: translateY(-20px);

  transition: opacity 0.8s ease-out, transform 0.4s ease-out;
  transition-delay: 400ms;

  .wf-active.page-loaded &, .wf-inactive.page-loaded & {
    opacity: 1;
    transform: translateY(0);
  }

  @media @desktop {
    display: block;
  }
}

.sm-info {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media @tablet {
    justify-content: flex-start;
  }

  @media @desktop {
    flex-grow: 1;
    width: 50%;
    justify-content: center;
    padding-right: 23px;
    padding-top: 65px;
  }
}

.sm-title {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  transition-delay: 400ms;

  .wf-active.page-loaded &, .wf-inactive.page-loaded & {
    opacity: 1;
    transform: translateY(0);
  }

  @media @desktop {
    text-align: right;
  }

  h1 {
    font-family: 'ANegaar', sans-serif;
    font-size: 1rem;
    line-height: 1.2em;

    @media @desktop {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-family: 'ANegaar', sans-serif;
    font-size: 0.88rem;
    line-height: 1.2em;

    @media @desktop {
      font-size: 1.15rem;
    }
  }

  &__1 {
    color: #0D216E;
    margin: 0.7rem 0 0.1rem;

    @media @desktop {
      margin-bottom: 0.4rem;
    }

    .sm-title__sub {
      font-size: 1.3em;

      @media @desktop {
        font-size: 1.5em;
      }
    }
  }

  &__2 {
    margin: 0.1rem 0 0.65rem;

    @media @desktop {
      margin-bottom: 0.8rem;

      .sm-title__dots {
        display: none;
      }

      .sm-title__sub {
        color: #FCDE44;
      }
    }
  }

  &__3 {
    color: #FCDE44;
    margin: 0;

    @media @desktop {
      display: none;
    }
  }
}
