html {
  height: 100%;
  width: 100%;
  font-size: 24px;

  @media (min-width: 375px) {
    font-size: 28px;
  }

  @media (min-width: 411px) {
    font-size: 31px;
  }

}

body {
  font-family: 'TanseekModPro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  height: 100%;
  width: 100%;
  min-width: 320px;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: underline;;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.svg-sprite {
  display: block;
  width: 0;
  height: 0;
}

.ie {

  .ie-hide {
    display: none;
  }

  svg * {
    clip-path: none !important;
  }

  .combined-langs {

    .latin-ch {
      display: none;
    }
  }
}
