.sm-rules {
  flex-flow: row nowrap;
  justify-content: flex-start;

  &__step {
    margin-left: 13px;
    width: 66px;
  }

  &__pic {
    width: 100%;
    height: 66px;
    background-color: #ffe32d;

    img, svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 0.55rem;
    line-height: 0.8em;
    text-align: center;
  }
}
