.sm-video {
  display: none;
  width: 240px;
  height: 134px;
  /* background-color: #000000; */
  margin-bottom: 8px;
  overflow: hidden;

  @media @desktop {
    display: block;
    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 600ms;

    .wf-active.page-loaded &, .wf-inactive.page-loaded & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .video-js {
    width: 100%;
    height: 100%;
  }
}

.video-js {

  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
  }
}

.vjs-poster {
  background-color: transparent;
}
