extends ./include/layout.jade
block vars
    - var page = 'index'
block header
    .mb-header
        .mb-header__left
            button.mb-menu__btn(type='button')
        .mb-header__center
            .mb-logo
        .mb-header__right
block main
    .mb-game
        .mb-game__cont
            .mb-game__profile
                .mb-game__header
                    a.mb-game__name(href='profile.html') Виктория, 19
                .mb-game__photo(style='background-image: url("http://i.imgur.com/AEYHJNJ.jpg")')
                .mb-game__action
                    .mb-game__btns
                        .mb-game__dislike
                        .mb-game__like
            .mb-game__nav.mb-game__nav_prev
            .mb-game__nav.mb-game__nav_next
            .mb-game__menu
                button.mb-game__btn.mb-game__btn_gift(type='button') Подарок
                button.mb-game__btn.mb-game__btn_chat(type='button') Сообщение
                button.mb-game__btn.mb-game__btn_profile(type='button') Профиль