extends ./include/layout.jade
block vars
    - var page = 'profile'
block header
    .mb-header
        .mb-header__left
            button.mb-menu__btn(type='button')
        .mb-header__center
            .mb-header__title
                .mb-profile__name Мой профиль
        .mb-header__right
block main
    .mb-profile
        .mb-profile__cont
            .mb-profile__photos
                .mb-profile__photos-main(style='background-image: url("http://img2.1001golos.ru/ratings/332000/331279/pic2.jpg")')
                .mb-profile__photos-add
                    .mb-profile__photos-upload Добавить фото
            .mb-profile__counts
                .mb-profile__count
                    .mb-profile__rating
                        .mb-profile__rating-inner
                            .mb-profile__count-cont
                                .mb-profile__count-value 50%
                                .mb-profile__count-title Рейтинг
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 155
                        .mb-profile__count-title улыбок
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 255
                        .mb-profile__count-title голосов
            .mb-profile__btns
                button.mb-btn.mb-btn_blue(type='button') Получить улыбки
            .mb-profile__info
                .mb-profile__field
                    .mb-profile__field-title Василий, 25
                        .mb-profile__field-edit Изменить
                .mb-profile__field
                    .mb-profile__field-title Местоположение
                        .mb-profile__field-edit Изменить
                    .mb-profile__field-value Москва
                .mb-profile__field
                    .mb-profile__field-title О себе
                        .mb-profile__field-edit Изменить
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Интересы
                        .mb-profile__field-edit Изменить
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Личная информация
                        .mb-profile__field-edit Изменить
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.