extends ./include/layout.jade
block vars
    - var page = 'profile'
block header
    .mb-header
        .mb-header__left
            button.mb-header__back(type='button')
        .mb-header__center
            .mb-header__title
                .mb-profile__name.mb-profile__name_online Виктория, 28
        .mb-header__right
block main
    .mb-profile
        .mb-profile__cont
            .mb-profile-game
                .mb-profile-game__photos
                    .mb-profile-game__photo(style='background-image: url("http://i.imgur.com/AEYHJNJ.jpg")')
                .mb-game__action
                    .mb-game__btns
                        .mb-game__dislike
                        .mb-game__like
                .mb-game__nav.mb-game__nav_prev
                .mb-game__nav.mb-game__nav_next
            .mb-profile__counts
                .mb-profile__count
                    .mb-profile__rating
                        .mb-profile__rating-inner
                            .mb-profile__count-cont
                                .mb-profile__count-value 50%
                                .mb-profile__count-title Рейтинг
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 155
                        .mb-profile__count-title улыбок
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 255
                        .mb-profile__count-title голосов
            .mb-profile__btns
                button.mb-btn.mb-btn_pink(type='button') Подарить подарок
                button.mb-btn(type='button') Написать сообщение
            .mb-profile__info
                .mb-profile__field
                    .mb-profile__field-title Местоположение
                    .mb-profile__field-value Москва
                .mb-profile__field
                    .mb-profile__field-title О себе
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Интересы
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Личная информация
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.