.fancybox-close {
  background-image: url('../img/close.png');
  width: 18px;
  height: 18px;
  right: 0;
  top: -24px;
}

.fancybox-skin {
  padding: 0 !important;
}

.fancybox-nav.fancybox-next span {
  width: 30px;
  height: 90px;
  right: 0;
  top: 50%;
  margin-top: -45px;
  background: rgba(0, 0, 0, 0.3) url('../img/arrow_right.png') 50% 50% no-repeat;
}

.fancybox-nav.fancybox-prev span {
  width: 30px;
  height: 90px;
  left: 0;
  top: 50%;
  margin-top: -45px;
  background: rgba(0, 0, 0, 0.3) url('../img/arrow_left.png') 50% 50% no-repeat;
}