.size (@width, @height) {
  width: @width;
  height: @height;
}

.size (@size) {
  width: @size;
  height: @size;
}

.xl-desktops(@rules) {
  @media (min-width: 1650px) { @rules(); }
}

.l-desktops(@rules) {
  @media (min-width: 1400px) { @rules(); }
}

.desktops(@rules) {
  @media (min-width: 970px) { @rules(); }
}

.tablets(@rules) {
  @media (min-width: 750px) { @rules(); }
}

.phones(@rules) {
  @media (max-width: 749px) { @rules(); }
}