.tb-background {
  position: absolute;
  left: 0;
  top: 0;
  .size(100%);
  background: @bg url('../img/background_.png') left top no-repeat;
  background-size: 100% auto;
  overflow: hidden;

  &__layer {
    position: absolute;
    top:-40px !important;
    left: -40px !important;
    right: -40px !important;
    height: 100%;
    min-width: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;

    &_landscape {
      min-width: 110%;
      background-image: url('../img/landscape_.png');
    }

    &_island {
      padding-top: 130px;
      box-sizing: border-box;
      background-image: url('../img/island.png');
      background-origin: content-box;
    }

    &_rocket {
      top:-70px !important;
      left: -70px !important;
      right: -70px !important;
      background-image: url('../img/rocket.png');
    }

    &_mask {
      background-image: url('../img/mask.png');
      background-size: 100% 100%;

      .tb_game & {
        background-image: url('../img/mask_game.png');
      }
    }

    &_squirrel {
      padding-top: 215px;
      box-sizing: border-box;
      background-image: url('../img/squirrel.png');
      background-origin: content-box;
      display: none;
    }
  }
}

.tb_index .tb-background__layer_squirrel {
  display: block;
}