.tb-count {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 55px;
  height: 120px;
  position: relative;
  text-align: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    border-top: 3px solid #ffb900;
  }

  &__container {
    display: inline-block;
    position: relative;
    height: 74px;
    padding: 0 24px;
    margin-top: 23px;
    white-space: nowrap;
    font: 22px/74px aPlakatTitul, Arial, sans-serif;
    font-weight: 700;
    color: #9daddf;
    border: 3px solid #ffb900;
    border-radius: 4px;
    background: #230d5d;
    background: -moz-linear-gradient(left, #230d5d 0%, #3a1683 50%, #230d5d 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#230d5d), color-stop(50%,#3a1683), color-stop(100%,#230d5d));
    background: -webkit-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: -o-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: -ms-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: linear-gradient(to right, #230d5d 0%,#3a1683 50%,#230d5d 100%);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -27px;
      left: -64px;
      .size(120px, 121px);
      background: transparent url('../img/grass_1.png') left top no-repeat;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -30px;
      right: -68px;
      .size(180px, 68px);
      background: transparent url('../img/grass_2.png') left top no-repeat;
    }
  }

  &__total {
    color: #ffc72f;
  }
}