.tb-footer {
  width: 100%;
  background-color: #070f3f;
  padding: 23px 0;
  font-size: 14px;
  color: #bddbff;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;

  p {
    margin: 0;
  }

  &__cont {
    max-width: 1040px;
    padding: 0 20px 0px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__copyright {
    float: right;
    text-align: right;
    color: #899ec1;

    a {
      color: #899ec1;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}