.tb-join {
  float: left;

  &__links {
    overflow: hidden;
    margin: 15px 0 0;
  }

  &__link {
    display: block;
    float: left;
    margin-right: 3px;
    .size(25px);
    border-radius: 3px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;

    a {
      position: absolute;
      .size(100%);
      display: block;
      top:0;
      left: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &_vk {
      background-image: url('../img/vk.png');
    }

    &_fb {
      background-image: url('../img/fb.png');
    }

    &_ok {
      background-image: url('../img/ok.png');
    }

    &_mm {
      background-image: url('../img/mm.png');
    }

    &_yt {
      background-image: url('../img/yt.png');
    }

    &_gp {
      background-image: url('../img/gp.png');
    }

    &_fs {
      background-image: url('../img/fs.png');
    }
  }
}