.tb-menu {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;

  &__list {
    overflow: hidden;
    margin-left: -10px;
  }

  &__item {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding-left: 10px;
  }

  &__link {
    display: block;
    background-color: @menu-bg;
    color: @menu-link;
    border-radius: 3px;
    font: 22px/45px aPlakatTitul, Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    .tb-menu__item_active &,
    &:hover {
      background-color: @menu-bg-active;
      color: @menu-link-active;
    }
  }
}