.tb-main {
  max-width: 980px;
  width: 100%;
  margin: 10px auto;

  &__object {
    .size(100%, 596px);
    max-width: 860px;
    margin: 0 auto;
    box-shadow: #131a54 0 3px 10px ;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 596px;
    }
  }
}