.tb-news {
  background-color: #dfe2ee;
  padding: 30px 26px;
  border-radius: 3px;
  overflow: hidden;

  &__item {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #cbcfdc;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__head {
    border-bottom: 2px solid #cbcfdc;
    overflow: hidden;
    padding: 0 5px 10px;
  }

  &__pic {
    float: left;
    width: 180px;
  }

  &__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 190px;
    margin-left: -180px;
  }

  &__title {
    a {
      font-size: 31px;
      font-family: aPlakatTitul, Arial, Helvetica, sans-serif;
      color: #a20303;
      text-decoration: none;
      line-height: 1;
      text-transform: uppercase;
      line-height: 35px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__date {
    margin-top: 17px;
    color: #3b4b96;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  &__more {
    margin-top: 0px;
    text-align: right;
  }

  &__btn {
    display: inline-block;
    background-color: #c3c8d6;
    font-size: 22px;
    line-height: 50px;
    font-family: aPlakatTitul, Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0 25px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 15px #aaadb6;
    margin-right: 25px;

    &:hover, &:active {
      background-color: #b6bac7;
    }
  }

  &__announce {
    font-family: Arial, Helvetica, sans-serif;
    color: #1c3c85;
    font-weight: bold;
    font-size: 18px;
    padding: 0 11px;

    p {
      margin-top: 13px;
      margin-bottom: 26px;
    }
  }

  &__info-text {
    color: #64657b;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 27px;
    font-weight: bold;
  }
}