.tb-play {
  .size(100%, 596px);
  max-width: 860px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1680px) {
    .size(100%, 350px);
  }

  &__action {
    position: absolute;
    bottom: 44px;
    width: 100%;
    left: 0;
    text-align: center;
    height: 79px;
  }

  &__btn {
    display: inline-block;
    font: 45px/77px aPlakatTitul, Arial, sans;
    font-weight: 700;
    color: #ffcc01;
    padding: 0 57px;
    border: 1px solid #ffcc01;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    background: #230d5d;
    background: -moz-linear-gradient(left, #230d5d 0%, #3a1683 50%, #230d5d 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#230d5d), color-stop(50%,#3a1683), color-stop(100%,#230d5d));
    background: -webkit-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: -o-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: -ms-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
    background: linear-gradient(to right, #230d5d 0%,#3a1683 50%,#230d5d 100%);

    &:hover, &:active, &:focus {
      background: @menu-bg-active;
      color: @menu-link-active;
    }
  }

  &__help_1 {
    color: #ff8b6b;
    transform: rotate(-6deg);
    font-family: a_PlakatCmpl, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin-left: 47px;
    margin-top: 24px;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px 2px;
  }

  &__help_2 {
    color: #ff8b6b;
    transform: rotate(-6deg);
    padding-left: 40px;
    padding-top: 10px;
    font-family: a_PlakatCmpl, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    margin-left: 148px;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px 2px;
  }
}
