.tb-social {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;

  &__comments {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 260px;
    margin-right: -250px;
    min-height: 1px;

    #vk_comments {
      width: 100% !important;

      &>iframe {
        width: 100%;
      }
    }
  }

  &__communities {
    float: left;
    width: 250px;
    background-color: #dfe1ee;
    padding: 8px 15px 17px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 14px;
    color: #646683;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  &__links {
    overflow: hidden;
    border: 1px solid #eceef8;
    padding: 8px 3px;
    border-radius: 3px;
    margin-top: 5px;
  }

  &__link {
    float: left;
    .size(25%, 45px);
    box-sizing: border-box;
    padding: 0 3px;
    border-radius: 9px;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: relative;

    a {
      position: absolute;
      .size(100%);
      display: block;
      top:0;
      left: 0;
    }

    &:hover {
      opacity: 1;
    }

    &_vk {
      background-image: url('../img/vk.png');
    }

    &_fb {
      background-image: url('../img/fb.png');
    }

    &_ok {
      background-image: url('../img/ok.png');
    }

    &_mm {
      background-image: url('../img/mm.png');
    }
  }
}