.tb-screens {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 40px;
  background: #230d5d;
  background: -moz-linear-gradient(left, #230d5d 0%, #3a1683 50%, #230d5d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#230d5d), color-stop(50%,#3a1683), color-stop(100%,#230d5d));
  background: -webkit-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
  background: -o-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
  background: -ms-linear-gradient(left, #230d5d 0%,#3a1683 50%,#230d5d 100%);
  background: linear-gradient(to right, #230d5d 0%,#3a1683 50%,#230d5d 100%);
  border-radius: 3px;
  padding: 10px 7px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  box-sizing: border-box;

  &__item {
    float: left;
    width: 16.66%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 3px;
  }

  &__link {
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
  }
}