.tb-tabs {
  margin-top: 18px;

  &__nav {
    overflow: hidden;
    margin: 0 -1px 0;
  }

  &__btn {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #e7eef4;
    background-clip: content-box;
    overflow: hidden;

    &_active, &:hover {
      background-color: #c9d5e5;
    }

    button {
      width: 100%;
      border: 0;
      margin: 0;
      outline: none;
      text-align: left;
      padding: 4px;
      background: transparent;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      color: #47474b;
      font-weight: bold;
      line-height: 24px;
      white-space: nowrap;

      img {
        display: inline-block;
        .size(24px);
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  &__tab {
    display: none;
  }
}