.sm-apps {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
  text-align: center;

  @media @less-then-desktop {
    height: 55vh;
    padding-bottom: 5vh;
    order: 1;
    box-sizing: content-box;

    .sm-more {
      display: none;
    }
  }

  @media @desktop {
    margin-top: 0;
    display: block;
    text-align: right;
    flex-grow: 0;
    max-height: none;

    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 800ms;

    .when-page-loaded({
      opacity: 1;
      transform: translateY(0);
    });
  }

  &__cont {
    display: flex;

    @media @less-then-desktop {
      flex-flow: column nowrap;
      align-items: center;
    }

    @media @desktop {
      flex-grow: 1;

      .ltr-version({
        flex-direction: row-reverse;
      });
    }
  }

  &__heading {
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: #0D216E;
    font-family: 'TanseekModPro', sans-serif;
    font-weight: bold;

    @media @desktop {
      font-size: 0.9rem;
    }
  }

  &__rules {
    display: flex;
  }
}
