.sm-back {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: #FFE300;
  overflow: hidden;

  @media @desktop {
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: -50%;
    right: -50%;
    bottom: 0;
    border-radius: 50% 50% 0 0;

    top: 0;
    border-radius: 0;
    transition: top 0.4s ease-out, border-radius 0.4s ease-out;
    transition-delay: 100ms;

    @media @desktop {
      left: -20%;
      right: -20%;
      transition: top 0.6s ease-out, border-radius 0.4s;
    }
  }

  &:before {
    background-color: #269FDA;

    .when-page-loaded({
      top: 6vh;
      border-radius: 50% 50% 0 0;

      @media @desktop {
        top: 6vh;
      }
    });
  }

  &:after {
    left: -55%;
    right: -55%;
    background: rgb(136,205,233);
    background: radial-gradient(ellipse at center, rgba(136,205,233,1) 0%, rgba(95,190,228,1) 100%);

    @media @desktop {
      left: -25%;
      right: -25%;
    }

    .when-page-loaded({
      top: 6.7vh;
      border-radius: 50% 50% 0 0;

      @media @desktop {
        top: 8.3vh;
      }
    });
  }

  &__confetti {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    opacity: 0;
    transition: opacity 1.5s ease-out;
    transition-delay: 100ms;

    .when-page-loaded({
      opacity: 1;
    });
  }

  &__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../../img/confetti_sprite.png');
    background-size: 450% auto;
    background-repeat: no-repeat;

    transition: opacity 1.5s ease-out, transform 1s ease-out;
    transition-delay: 100ms;

    .when-page-loaded({
      transform: translateY(0px);
    });

    @media @desktop {
      background-size: 300% auto;
    }

    &--1 {
      /* back */
      background-position: 0 0;
      transform: translateY(-40px);
    }

    &--2 {
      /* mid */
      background-position: 100% 0;
      transform: translateY(-80px);
    }

    &--3 {
      /* front */
      background-position: 50% 0;
      transform: translateY(-120px);
    }
  }
}
