.sm-buttons {
  position: fixed;
  left: 26px;
  right: 26px;
  bottom: 3vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;

  @media @less-then-desktop {
    max-width: 360px;
    margin: 0 auto;
  }

  @media @desktop {
    position: static;
    display: block;
    margin-right: 13px;

    .ltr-version({
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: flex-start;
    });
  }

  &__btn {
    width: 42%;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;

    &:nth-child(1) {
      transition-delay: 550ms;
    }

    &:nth-child(2) {
      transition-delay: 950ms;

      @media @less-then-desktop {
        transition-delay: 550ms;
      }
    }

    .when-page-loaded({
      opacity: 1;
      transform: translateY(0);
    });

    @media @tablet {
      margin-bottom: 0.5rem;
    }

    @media @desktop {
      width: auto;
      margin-bottom: 11px;
      transition: none;
    }

    html.no-svg & {
      svg {
        display: none;
      }

      .sm-buttons__badge {
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &--google-play {
        .sm-buttons__badge {
          background-image: url('../../img/google-play_2x.png');
        }
      }

      &--app-store {
        .sm-buttons__badge {
          background-image: url('../../img/app-store_2x.png');
        }
      }
    }
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    line-height: 1.4rem;

    @media @desktop {
      display: none;
    }
  }

  &__badge {
    width: 100%;
    height: 52px;

    display: block;
    margin: 0 auto;
    position: relative;

    &[disabled] {
      cursor: default;

      &:after {
        content: 'قريبا في متجر ابل';
        font-family: 'ANegaar', sans-serif;
        padding: 5px;
        width: 100px;
        text-align: center;
        border-radius: 3px;
        background-color: rgba(64, 64, 64, 1);
        opacity: 0;
        position: absolute;
        white-space: nowrap;
        top: 50%;
        right: 50%;
        margin-top: -15px;
        margin-right: -50px;
        display: block;
        z-index: 100;

        transform: translate(0, -15px);
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;

        @media @desktop {
          background-color: rgba(64, 64, 64, 0.9);
          margin-left: 0;
          right: 100%;
          margin-right: 15px;
          transform: translate(-15px, 0);
        }
      }

      &:hover {

        & > svg {
          opacity: 0.4;

          @media @desktop {
            opacity: 1;
          }
        }

        &:after {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }

    @media @less-then-desktop {
      html.no-svg & {
        height: 44px;
      }
    }

    @media @desktop {
      margin: 0;
      width: 145px;
      height: 42px;
    }

    svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;

      transition: opacity 0.2s ease-out;
    }


  }

  &__info {
    font-size: 0.55rem;
    margin: 0 0 0.1rem;

    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 950ms;

    .when-page-loaded({
      opacity: 1;
      transform: translateY(0);
    });

    @media @phone-m {
      font-size: 0.65rem;
    }

    @media @less-then-desktop {
      .ltr-version({
        font-size: 0.58rem;
      });
    }

    @media @tablet {
      justify-content: flex-start;
    }

    @media @desktop {
      margin: -8px 0 0;
      font-size: 0.6rem;
      line-height: 1em;
      transition: none;
      text-align: right;

      .ltr-version({
        text-align: left;
        margin: -7px 0 0;
        line-height: 0.9em;
      });

      span {
        display: block;
      }
    }

    a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin: 0;
    }
  }
}
