.sm-lang {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #4C9FDC;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;

  transition: opacity 0.4s ease-out;
  transition-delay: 400ms;

  .when-page-loaded({
    opacity: 1;
  });

  @media @phone-m {
    width: 38px;
    height: 38px;
  }

  @media @desktop {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: .7rem;
    line-height: 28px;

    box-sizing: border-box;
    border-radius: 50%;
    font-family: TanseekModPro, sans-serif;

    &:hover, &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    html.win & {
      font-size: .7rem;
      line-height: 26px;
    }

    @media @phone-m {
      font-size: .7rem;
      line-height: 36px;

      html.win & {
        font-size: .7rem;
        line-height: 32px;
      }

    }

    @media @desktop {
      font-size: .9rem;
      line-height: 48px;

      html.win & {
        font-size: .9rem;
        line-height: 42px;
      }
    }
  }
}
