.sm-scrollbar {
  &::-webkit-scrollbar {
      height: 0;
      width: 0;
  }
}

/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;

    html.ie[dir = rtl] &, html.firefox[dir = rtl] & {
      margin-left: 34px !important;
    }

    html.ie[dir = ltr] &, html.firefox[dir = ltr] & {
      margin-right: 34px !important;
    }
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;

    html.ie[dir = rtl] &, html.firefox[dir = rtl] & {
      margin: 0px 17px -17px -17px !important;
    }

    html.ie[dir = ltr] &, html.firefox[dir = ltr] & {
      margin: 0px -17px -17px 17px !important;
    }
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-wrapper.scroll--rtl {
  direction: rtl;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

//.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.sm-scrollbar > .scroll-element,
.sm-scrollbar > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.sm-scrollbar > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.sm-scrollbar > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.sm-scrollbar > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 4px;

    opacity: 0;
    transition: opacity 0.4s ease-out 400ms;

    .when-page-loaded({
      opacity: 1;
    });

    @media @desktop {
      width: 8px;
      right: 0;
    }
}

.sm-scrollbar > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.sm-scrollbar > .scroll-element .scroll-element_outer,
.sm-scrollbar > .scroll-element .scroll-element_track,
.sm-scrollbar > .scroll-element .scroll-bar {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.sm-scrollbar > .scroll-element .scroll-element_track,
.sm-scrollbar > .scroll-element .scroll-bar {
    // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    // filter: alpha(opacity=40);
    // opacity: 0.4;
}

.sm-scrollbar > .scroll-element .scroll-element_track { background-color: #ffffff; }
.sm-scrollbar > .scroll-element .scroll-bar { background-color: #4d96cd; }
.sm-scrollbar > .scroll-element:hover .scroll-bar { background-color: darken(#4d96cd, 10%); }
//.sm-scrollbar > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.sm-scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.sm-scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.sm-scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.sm-scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
