.sm-terms {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease-out 400ms, transform 0.4s ease-out 400ms;

  .when-page-loaded({
    opacity: 1;
    transform: translateY(0);
  });

  @media @less-then-desktop {
    height: 80vh;
  }

  @media @desktop {
    margin-top: 1rem;
    height: 378px;

    .ltr-version({
      margin-top: 2.4rem;
    });
  }

  &__cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-family: 'ANegaar', sans-serif;
    color: #0D216E;
    text-transform: uppercase;

    .ltr-version({
      font-family: 'Chalkboard', cursive;
    });

    h1 {
      margin: 0;
      letter-spacing: -1px;

      @media @less-then-desktop {
        font-size: 1.13rem;
        line-height: 1.8rem;
        margin-bottom: 0.7rem;

        .ltr-version({
          font-size: 0.94rem;
          line-height: 1.5rem;
          margin-bottom: 1.15rem;
        })
      }

      @media @desktop {
        font-size: 1.5rem;
        line-height: 1.26rem;
        margin-bottom: 0.7rem;

        .ltr-version({
          font-size: 1.18rem;
          line-height: 1.18rem;
          margin-bottom: 0.8rem;
        });
      }
    }
  }

  &__text {
    font-family: 'HelveticaNeueArabic', sans-serif;
    font-weight: 300;
    color: #3483b8;
    text-align: right;

    font-size: 0.8rem;
    line-height: 1.4rem;
    margin: 0 auto;

    flex-grow: 1;
    overflow: auto;

    p {
      margin: 0;
      padding: 0 20px;
    }

    .ltr-version({
      text-align: left;
      font-family: 'HelveticaNeue', sans-serif;
    });

    @media @less-then-desktop {
      max-width: 290px;
      font-size: 0.6rem;
      line-height: 1rem;

      .ltr-version({
        line-height: 0.85rem;
      });
    }

    @media @desktop {
      font-size: 0.8rem;
      max-width: 430px;

      p {
        padding: 0 30px;
      }

      .ltr-version({
        line-height: 1.17rem;
        max-width: 390px;

        p {
          padding: 0 20px;
        }
      })
    }

    @media @phone-l {
      max-width: 100%;
    }
  }

  &__buttons {
    padding: 25px 0 10px;
    text-align: center;

    @media @less-then-desktop {
      padding: 40px 0 10px;
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    padding: 6px 14px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #4d96cd;
    background-color: #fff;
    font-family: Anegaar, sans-serif;
    font-weight: bold;

    &:hover {
      box-shadow: 0 2px 2px darken(#4d96cd, 10%);
    }

    .ltr-version({
      font-family: Chalkboard, sans-serif;
    })
  }
}
