.sm-video {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 8px;
  overflow: hidden;

  @media @less-then-desktop {
    height: 50vh;
    order: 3;
  }

  @media @desktop {
    flex-flow: row nowrap;
    justify-content: flex-start;
    order: unset;

    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 600ms;

    .when-page-loaded({
      opacity: 1;
      transform: translateY(0);
    });

    .ltr-version({
      flex-direction: row-reverse;
      margin-bottom: 5px;
    });

    .sm-more {
      display: none;
    }
  }

  &__player {
    margin: 0 auto 5vh;
    width: 240px;
    height: 134px;


    @media @phone-m {
      width: 268px;
      height: 150px;
    }

    @media @less-then-desktop {
      &.no-touch iframe {
        pointer-events: none;
      }
    }

    @media @desktop {
      width: 240px;
      height: 134px;
      margin: 0;
    }

    .video-js, .youtube-player {
      width: 100%;
      height: 100%;
    }
  }
}

.video-js {

  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
  }
}

.vjs-poster {
  background-color: transparent;
}
