.sm-wrapper {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 768px;

  @media @less-then-desktop {
    height: 100vh;
    padding: 30vh 15px 20vh;
    overflow: hidden;

    html.m-safari & {
      padding: 26vh 15px 24vh;
    }

    .terms-page({
      padding: 15vh 15px 5vh;
    });
  }

  @media @desktop {
    max-width: 996px;
    padding: 0 20px;
    min-height: 600px;
  }

  html.ie & {
    opacity: 0;
  }

  html.ie.page-loaded.wf-active &,
  html.ie.page-loaded.wf-inactive & {
    opacity: 1;
  }
}
