.btn {
  border-radius: 2px;
  line-height: 19px;
  outline: none !important;
}

.btn-success {
  background-color: #0ea87b;
  border-color: #0ea87b;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    background-color: darken(#0ea87b, 5%);
    border-color: darken(#0ea87b, 5%);
  }
}

.btn-default {
  background-color: #989eaf;
  border-color: #989eaf;
  color: #fff;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: darken(#989eaf, 5%);
    border-color: darken(#989eaf, 5%);
  }
}

.btn-danger {
  background-color: #be4727;
  border-color: #be4727;
  color: #fff;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    background-color: darken(#be4727, 5%);
    border-color: darken(#be4727, 5%);
  }
}