@font-face {
  font-family: "CleanvertisingLight";
  src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot");
  src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff"),
  url("../fonts/CleanvertisingLight/CleanvertisingLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.cleanvertising {
  font-family: 'CleanvertisingLight', "Helvetica Neue",Helvetica,Arial,sans-serif;
}