.input-daterange {

  input {
    border-radius: 2px !important;
    text-align: center;
    width: 116px !important;
    padding: 6px 28px;
    cursor: pointer;
  }

  label {
    padding-right: 8px;
  }

  .input-group {
    position: relative;
    margin-right: 8px;
    color: #5d6c73;
  }

  .input-ico {
    position: absolute;
    width: 15px;
    height: 100%;
    z-index: 10;
    white-space: nowrap;
    font-size: 0;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    .fa {
      vertical-align: middle;
      font-size: 14px;
    }

    .fa-chevron-down {
      font-size: 11px;
    }
  }

  .input-ico_left {
    left: 11px;
  }

  .input-ico_right {
    right: 7px;
  }
}