.feed {

  &__title {
    font-size: 22px;
    margin-bottom: 21px;
    line-height: 27px;
  }

  &__post {
    position: relative;
    overflow: hidden;
    margin-bottom: 18px;
  }

  &__photo {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 3px;
  }

  &__postbody {
    float: left;
    padding-left: 47px;
    margin-left: -32px;
    width: 100%;
    box-sizing: border-box;
  }

  &__username {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    line-height: 15px;
    padding-right: 17px;
  }

  &__date {
    font-size: 12px;
    color: #a5a5a5;
  }

  &__content {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;

    p {
      margin-bottom: 6px;
    }

    img {
      max-width: 60%;
      margin-bottom: 6px;
      margin-top: 10px;
    }
  }

  &__address {
    font-size: 13px;
    line-height: 15px;
    color: #0ea87b;
  }

  &__post-cont {
    padding-bottom: 17px;
    border-bottom: 1px solid #d8e2e7;
  }

  .feed__post:last-child .feed__post-cont {
    border-color: transparent;
  }

  &__close {
    color: #a8200e;
    opacity: .8;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    right: 0;
    cursor: pointer;
    line-height: 10px;

    &:hover {
      opacity: 1;
    }
  }
}