.feedback {
  margin-top: 7px;

  &__msg {
    padding-bottom: 16px;
    border-bottom: 1px solid #d8e2e7;
    margin-bottom: 18px;

    &:last-child {
      border-bottom-color: transparent;
    }
  }

  .label-new {
    font-size: 12px;
    line-height: 15px;
    background-color: #ff8a00;
    margin-right: 15px;
    padding: 2px 9px;
  }

  &__username {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    line-height: 15px;
    padding-right: 18px;
  }

  &__date {
    font-size: 12px;
    color: #a5a5a5;
  }

  &__text {
    margin-top: 5px;
    font-size: 13px;
    line-height: 20px;

    p {
      margin: 0;
    }
  }

  &__info {
    font-size: 13px;
    line-height: 15px;
    color: #0ea87b;
    margin-top: 7px;

    span {
      padding-right: 30px;
    }
  }
}