.header {
  padding: 22px 30px;
  border-bottom: 1px solid #d8e2e7;
  min-height: 79px;
  overflow: hidden;

  &__cont {
    overflow: hidden;
  }

  &__title {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 360px;
    margin-right: -345px;
    font-size: 27px;
    line-height: 31px;
  }

  &__action {
    float: right;
    width: 345px;
  }

  &__search {

    .form-control {
      height: 31px;
      outline: none;
      border-color: transparent !important;
      box-shadow: none;
      font-size: 13px;

      &::-moz-placeholder {
        color: #475860;
      }
      &:-ms-input-placeholder {
        color: #475860;
      }
      &::-webkit-input-placeholder {
        color: #475860;
      }
    }

    .input-group-addon {
      font-size: 13px;
      padding: 0;
      background-color: transparent;
      border-color: transparent;
    }
  }

  &__btn {
    text-align: right;

    .btn {
      width: 205px;
    }
  }

  &__backlink {
    clear: both;
    font-size: 13px;
    margin-top: 10px;
    line-height: 20px;

    .fa {
      margin-right: 12px;
    }
  }
}