.login {
  height: 100%;
  background-color: #545b68;
  text-align: center;
  white-space: nowrap;
  font-size: 0;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &__form {
    display: inline-block;
    width: 310px;
    height: 300px;
    vertical-align: middle;
    white-space: normal;
    font-size: 14px;
    text-align: left;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 53px;
    color: #fff;
    text-align: center;
  }

  .form-control {
    height: 40px;
    padding-left: 47px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 14px;

    &::-moz-placeholder {
      color: #ffffff;
    }
    &:-ms-input-placeholder {
      color: #ffffff;
    }
    &::-webkit-input-placeholder {
      color: #ffffff;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  &__remember {
    margin-top: 20px;
  }

  .checkbox {

    input[type='checkbox'] {
      display: none;
    }

    label {
      color: #fff;
      padding-left: 0;

      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        margin-right: 13px;
        vertical-align: middle;
        font: normal normal normal 14px/1 FontAwesome;
      }
    }

    input[type='checkbox']:checked+label:before {
      background-color: #fff;
      content: "\f00c";
      color: #000;
      text-align: center;
      font-size: 15px;
    }
  }

  &__submit {
    margin-top: 18px;

    .btn {
      height: 40px;
      font-size: 17px;
    }
  }

  &__login {
    background-image: url('../img/u.png');
    background-position: 16px 50%;
    background-repeat: no-repeat;
  }

  &__password {
    background-image: url('../img/l.png');
    background-position: 18px 50%;
    background-repeat: no-repeat;
  }
}