.main {
  float: left;
  width: 100%;
  padding-left: 230px;
  margin-left: -230px;
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  background-clip: content-box;
  overflow: auto;

  &__filter {
    padding: 8px 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d8e2e7;

    label {
      color: #475860;
      font-size: 13px;
      padding-right: 11px;
    }
  }

  &__content {
    padding: 20px 30px;
  }

  &__form {
    overflow: hidden;

    label {
      margin-bottom: 10px;
    }

    .form-control {
      height: 40px;
      font-size: 27px;
    }
  }

  &__form-cont {
    width: 241px;
    margin-top: 6px;
    float: left;
  }

  &__form-submit {
    margin-top: 30px;

    .btn {
      font-size: 17px;
      padding: 10px 23px;
      line-height: 18px;
    }
  }

  &__form-delete {
    .btn {
      padding: 6px 27px;
    }
  }

}