.menu {

  .nav {
    margin-top: 14px;
  }

  .nav>li {
    padding-left: 28px;
    padding-right: 30px;
    border-left: 2px solid transparent;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 4px solid transparent;
      left: 0;
      top: 50%;
      margin-top: -5px;
    }

    &.active, &:hover {
      border-left: 2px solid #f6a804;

      &:before {
        border-left-color: #f6a804;
      }

      & > a {
        color: #f6a804;
      }
    }

    &:last-child > a {
      border-color: transparent;
    }
  }

  .nav>li>a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #c4c8d3;
    width: 100%;
    padding: 9px 0 10px;
    border-bottom: 1px solid #3f434d;
    background-color: transparent;
  }
}