.post {
  margin-bottom: 20px;

  &__head {
    margin-bottom: 20px;
  }

  &__address {
    color: #0ea87b;
    padding-right: 30px;
    font-size: 13px;
  }

  &__date {
    color: #a5a5a5;
    font-size: 12px;
  }

  &__body {
    margin-bottom: 30px;
  }

  &__field {
    margin-bottom: 19px;
    position: relative;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 13px;
    line-height: 20px;

    p {
      margin: 0;
    }
  }

  &__close {
    color: #a8200e;
    opacity: .8;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    right: 0;
    cursor: pointer;
    line-height: 10px;

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    margin-top: 15px;
    width: 50%;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__img-name {
    font-weight: bold;
    color: #a5a5a5;
    font-style: italic;
    margin-top: 10px;
    font-size: 12px;
  }

  .post__img .post__close {
    right: -30px;
    top:0;
  }

  &__photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 15px;
  }

  &__save, &__add {
    .btn {
      padding: 10px 27px;
      font-size: 17px;
    }
  }

  &__img-add {
    margin-top: 19px;

    .btn {
      padding: 7px 27px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}