.profile {

  .row {
    margin-right: -30px;
    margin-left: -30px;
  }

  &__props {
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8e2e7;
    margin-bottom: 25px;
  }

  &__prop {
    margin-bottom: 20px;
  }

  &__prop-title {
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__prop-data {
    font-size: 12px;
    line-height: 18px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 15px;
  }

  &__info {
    padding-bottom: 15px;
    border-bottom: 1px solid #d8e2e7;
    margin-bottom: 25px;
  }

  &__info-field {
    margin-bottom: 10px;
  }

  &__info-title {
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  &__info-data {
    font-size: 13px;
  }

  &__status {
    color: #0ea87b;
  }
}

.profile-msg {
  padding-bottom: 14px;
  border-bottom: 1px solid #d8e2e7;
  margin-bottom: 16px;

  &:last-child {
    border-bottom-color: transparent;
  }

  &__title {
    margin-bottom: 19px;
    font-size: 22px;
    line-height: 25px;
  }

  &__head {
    margin-bottom: 5px;
  }

  &__subject {
    font-weight: bold;
    padding-right: 16px;
  }

  &__date {
    font-size: 13px;
    color: #a5a5a5;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;

    p {
      margin: 0;
    }
  }

  &__address {
    color: #6cc0a2;
    margin-top: 4px;
  }
}