.users {

  &__title {
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 30px;
  }

  table.users__table {
    vertical-align: top;

    tr>td {
      border-top: 0;
      border-bottom: 1px solid #d8e2e7;
      padding: 15px 8px 12px 0;
      line-height: 15px;
    }

    td.users__photo {
      width: 46px;
      border-bottom: 0 !important;
      padding-right: 14px;
    }
  }

  &__photo-cont {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__name-cont {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 6px;
    line-height: 15px;
  }

  &__date {
    font-size: 12px;
    color: #a5a5a5;
  }

  &__contact {
    color: #0ea87b;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
  }

  &__blocks_blocked {
    color: #a8200e;
  }
}