.userbar {
  padding: 15px 30px;
  border-bottom: 1px solid #42464e;
  overflow: hidden;

  &__photo {
    float: left;
    width: 48px;
    height: 48px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
  }

  &__name {
    float: left;
    width: 100%;
    padding-left: 62px;
    margin-left: -48px;
    box-sizing: border-box;
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    color: #fff;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      line-height: 16px;
      display: inline-block;
    }

    .chevron {
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      color: #6a707f;
    }
  }
}