@import 'import/mixins.less';
@import 'import/colors.less';
@import 'import/tb-container.less';
@import 'import/tb-background.less';
@import 'import/tb-content.less';
@import 'import/tb-header.less';
@import 'import/tb-logo.less';
@import 'import/tb-menu.less';
@import 'import/tb-main.less';
@import 'import/tb-play.less';
@import 'import/tb-screens.less';
@import 'import/tb-count.less';
@import 'import/tb-social.less';
@import 'import/tb-tabs.less';
@import 'import/tb-footer.less';
@import 'import/tb-join.less';
@import 'import/tb-news.less';
@import 'import/fancybox.less';

html {
  height: 100%;
}

body {
  height: 100%;
  font: normal 12px/20px Arial, sans-serif;
  color: @text;
  background-color: @bg;
}

@font-face {
  font-family: 'aPlakatTitul';
  font-style: normal;
  font-weight: 700;
  src: local('a_PlakatTitul ExtraBold'), local('a_PlakatTitul-ExtraBold'),
  url('../fonts/a_plakattitul.woff') format('woff'),
  url('../fonts/a_plakattitul.ttf') format('truetype');
}

@font-face {
  font-family: 'a_PlakatCmpl';
  font-style: normal;
  font-weight: 700;
  src: local('a_PlakatCmpl ExtraBold'), local('a_PlakatCmpl-ExtraBold'),
  url('../fonts/a_plakatcmpl.woff') format('woff'),
  url('../fonts/a_plakatcmpl.ttf') format('truetype');
}