@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/latolight.woff2') format('woff2'), url('../fonts/latolight.woff') format('woff'), url('../fonts/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/latolightitalic.woff2') format('woff2'), url('../fonts/latolightitalic.woff') format('woff'), url('../fonts/latolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/latoitalic.woff2') format('woff2'), url('../fonts/latoitalic.woff') format('woff'), url('../fonts/latoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/latomedium.woff2') format('woff2'), url('../fonts/latomedium.woff') format('woff'), url('../fonts/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('../fonts/latomediumitalic.woff2') format('woff2'), url('../fonts/latomediumitalic.woff') format('woff'), url('../fonts/latomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/latobolditalic.woff2') format('woff2'), url('../fonts/latobolditalic.woff') format('woff'), url('../fonts/latobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

html, body {
    height: 100%;
}

body {
    font-family: Lato, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 16px;
}
a, a:focus, a:active {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.as-wrapper {
    background-color: #fff;
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    padding: 0 0 230px;
    box-sizing: border-box;
}
.as-container {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 5px;
    box-sizing: border-box;
}
.as-header {
    padding: 18px 0;
    height: 120px;
    overflow: hidden;
}
.as-logo {
    float: left;
    width: 395px;
    height: 100%;
    background: url('../img/logo.png') right 0 no-repeat;
    position: relative;
}
.as-logo__link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.as-location {
    float: left;
    margin-left: 40px;
    margin-top: 19px;
    padding-left: 30px;
    height: 24px;
    background: url('../img/ico_location.png') 0 0 no-repeat;
}
.as-location a {
    line-height: 26px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.as-menu {
    margin-bottom: 18px;
}
.as-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.as-menu__item {
    display: block;
    float: left;
    margin-right: 30px;
}
.as-menu__link {
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 11px 0;
    font-weight: 700;
}
.as-slider {
    position: relative;
}
.as-slider__slides {
    overflow: hidden;
    height: 470px;
}
.as-slider__slide {
    height: 470px;
    width: 100%;
    background-position: 50% 50%;
}
.as-slider__prev {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 50%;
    margin-top: -45px;
    left: 40px;
    cursor: pointer;
    perspective: 1px;
    overflow: hidden;
}
.as-slider__next {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 50%;
    margin-top: -45px;
    right: 40px;
    cursor: pointer;
    perspective: 1px;
    overflow: hidden;
}
.as-slider__prev:before,
.as-slider__next:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
    filter: url('../img/blur.svg#blur');
}
.as-slider__prev:after,
.as-slider__next:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.as-slider__prev:after{
    background: url('../img/ico_left_red.png') 50% 50% no-repeat;
}
.as-slider__next:after {
    background: url('../img/ico_right_red.png') 50% 50% no-repeat;
}
.as-slider__all {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 18px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 30px;
    background: #e11928;
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 26px;
    text-decoration: none;
    background-clip: padding-box;
}
.as-slider__all:hover, .as-slider__all:active, .as-slider__all:focus {
    color: #fff;
    text-decoration: none;
    opacity: .9;
}
.as-slider__all:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 19px;
    height: 24px;
    background: url('../img/ico_all.png') 50% 50% no-repeat;
    vertical-align: middle;
}
.as-slider .slick-dots {
    position: absolute;
    width: 100%;
    height: 34px;
    left: 0;
    text-align: center;
    bottom: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.as-slider .slick-dots li {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 8px;
}
.as-slider .slick-dots li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 34px;
}
.as-slider__dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    perspective: 1px;
    color: #e11928;
    font-size: 14px;
    text-align: center;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.7);
    line-height: 24px;
}
.as-slider__dot:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.as-slider__dot:hover,
.slick-dots li.slick-active .as-slider__dot {
    color: #fff;
    font-size: 16px;
    background: #e11928;
    width: 34px;
    height: 34px;
    line-height: 31px;
}
.as-cats {
    background-color: #f2f2f2;
    margin-bottom: 30px;
}
.as-cats__title {
    text-align: center;
    background-color: #82001e;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 0;
}
.as-cats__slider {
    max-width: 1188px;
    margin: 0 auto;
    position: relative;
    height: 114px;
    padding: 18px 0;
}
.as-cats__arrow {
    position: absolute;

    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    cursor: pointer;
}
.as-cats__arrow:hover {
    opacity: .9;
}
.as-cats__left {
    left: 5px;
    background: url('../img/ico_left.png') 0 0 no-repeat;
}
.as-cats__right {
    right: 5px;
    background: url('../img/ico_right.png') 0 0 no-repeat;
}
.as-cats__list {
    box-sizing: border-box;
    padding: 0 35px;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    overflow: hidden;
}
.as-cats__cont {
    margin-right: -70px;
    overflow: hidden;
    height: 114px;
}
.as-cats__item {
    width: 33.3%;
    box-sizing: border-box;
    padding-right: 70px;
    float: left;
}
.as-cats__cat {
    height: 114px;
    overflow: hidden;
}
.as-cats__cover {
    float: left;
    width: 80px;
    height: 100%;
    background-position: 50% top;
    background-size: cover;
}
.as-cats__info {
    float: left;
    height: 100%;
    padding-left: 98px;
    margin-left: -80px;
    box-sizing: border-box;
    width: 100%;
}
.as-cats__wrap {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    position: relative;
}
.as-cats__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 2px;
}
.as-cats__desc {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.as-cats__links {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.as-cats__link {
    display: inline-block;
    min-width: 116px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-right: 8px;
}
.as-cats__link:hover {
    text-decoration: none;
    opacity: .9;
}
.as-cats__link_brown {
    background-color: #82001e;
    color: #fff;
}
.as-cats__link_flesh {
    background-color: #ffe7ab;
    color: #000;
}
.as-cases {
    margin-bottom: 30px;
    overflow: hidden;
}
.as-cases__cont {
    margin-right: -80px;
    overflow: hidden;
}
.as-case {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding-right: 80px;
    text-align: center;
}
.as-case__cover {
    height: 184px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 18px;
}
.as-case__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.as-case__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
}
.as-case__more {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/ico_more.png') 0 0 no-repeat;
}
.as-case__more:hover {
    opacity: .9;
}
.as-news {
    overflow: hidden;
}
.as-news__title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 21px;
}
.as-news__cont {
    margin: 0 -20px;
    overflow: hidden;
}
.as-news__item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 20px;
}
.as-news__item-cont {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.as-news__item_big {
    height: 314px;
    position: relative;
    margin-bottom: 30px;
}
.as-news__item_big .as-news__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-size: cover;
    background-position: 50% 50%;
}
.as-news__item_big .as-news__link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: rgba(0, 0, 0, 0.2);
}
.as-news__item_big .as-news__info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 18px 29px;
}
.as-news__item_big .as-news__date {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 16px;
}
.as-news__item_big .as-news__topic {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 28px;
}
.as-news__item_big .as-news__text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 18px;
}
.as-news__item_small {
    margin-bottom: 18px;
}

.as-news__item_small .as-news__cover {
    float: left;
    width: 142px;
    height: 88px;
    background-position: 50% 50%;
    background-size: cover;
}
.as-news__item_small .as-news__info {
    float: left;
    padding-left: 160px;
    margin-left: -142px;
    box-sizing: border-box;
    width: 100%;
}
.as-news__item_small .as-news__date {
    font-size: 14px;
    line-height: 18px;
    color: #7c7c84;
    margin-bottom: 4px;
}
.as-news__item_small .as-news__annonce {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
.as-footer {
    padding: 18px 5px 29px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.as-footer__cont {
    overflow: hidden;
}
.as-footer__copyright {
    float: left;
    width: 235px;
    position: relative;
    font-size: 14px;
    color: #7c7c84;
    line-height: 24px;
    margin-top: -4px;
}
.as-footer__copyright p {
    margin: 0;
}
.as-footer__copyright a {
    color: #82001e;
}
.as-footer__info {
    float: left;
    padding-left: 235px;
    margin-left: -235px;
    box-sizing: border-box;
    width: 100%;
}
.as-footer__menu {
    margin-bottom: 18px;
}
.as-footer__menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.as-footer__menu-item {
    display: block;
    float: right;
    margin-left: 30px;
    margin-bottom: 5px;
}
.as-footer__menu-link {
    color: #2f2f33;
    font-size: 14px;
    font-weight: 500;
}
.as-social {
    overflow: hidden;
}
.as-social__link {
    display: block;
    float: right;
    width: 44px;
    height: 44px;
    margin-left: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.as-social__link:hover {
    opacity: .9;
}
.as-social__link_fb {
    background-image: url('../img/ico_fb.png');
}
.as-social__link_vk {
    background-image: url('../img/ico_vk.png');
}
.as-social__link_in {
    background-image: url('../img/ico_in.png');
}
.as-social__link_ok {
    background-image: url('../img/ico_ok.png');
}
