<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IRM - Investor Relationship Management</title>
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-favicon.png">
  <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/libs/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet">
  <link href="assets/libs/ionrangeslider/css/ion.rangeSlider.css" rel="stylesheet">
  <link href="assets/libs/ionrangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
  <link href="assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
  <link href="assets/libs/morris.js/morris.css" rel="stylesheet">
  <link href="assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="assets/libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
  <link href="assets/css/right.light.css" rel="stylesheet"><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="wrapper" id="app">
  <nav class="navbar navbar-static-top header-navbar">
    <div class="header-navbar-mobile">
      <div class="header-navbar-mobile__menu">
        <button type="button" class="btn"><i class="fa fa-bars"></i></button>
      </div>
      <div class="header-navbar-mobile__brand"><a href="index.html">
        <div class="logo text-nowrap">
          <div class="logo__img"></div><span class="logo__text">IRM</span>
        </div></a></div>
      <div class="header-navbar-mobile__title"><span>Dashboard</span></div>
      <div class="userbar dropdown"><a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="userbar__toggle dropdown-toggle">
        <div class="userbar__photo"></div>
        <div class="userbar__name">mr. Anderson<i class="fa fa-angle-down"></i></div></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-header"><a href="index.html" class="navbar-brand">
      <div class="logo text-nowrap">
        <div class="logo__img"></div><span class="logo__text">IRM</span>
      </div></a></div>
    <div class="topnavbar" id="user">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="accounts.html"><span>Accounts</span></a></li>
        <li class="active"><a href="investments.html"><span>Investments</span></a></li>
        <li><a href="blank.html"><span>Investor</span></a></li>
        <li><a href="blank.html"><span>Support</span></a></li>
      </ul>
      <div class="userbar dropdown"><a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="userbar__toggle dropdown-toggle">
        <div class="userbar__photo"></div>
        <div class="userbar__name">{{user.name}}<i class="fa fa-angle-down"></i></div></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
      <div class="header-navbar__search">
        <form>
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <div class="fa fa-search"></div>
                  </button></span>
          </div>
        </form>
      </div>
      <div class="user-toggle">
        <div class="checkbox">
          <input id="admin" type="checkbox" v-model="user.admin">
          <label for="admin">Admin</label>
        </div>
      </div>
    </div>
  </nav>
  <div class="dashboard">
    <div class="sidebar">
      <div class="quickmenu">
        <div class="quickmenu__cont">
          <div class="quickmenu__list">
            <div class="quickmenu__item active">
              <div class="fa fa-fw fa-home"></div>
            </div>
            <div class="quickmenu__item">
              <div class="fa fa-fw fa-envelope-o"></div>
            </div>
            <div class="quickmenu__item new">
              <div class="fa fa-fw fa-comments-o"></div>
            </div>
            <div class="quickmenu__item">
              <div class="fa fa-fw fa-feed"></div>
            </div>
            <div class="quickmenu__item">
              <div class="fa fa-fw fa-cog"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollable scrollbar-macosx">
        <div class="sidebar__cont">
          <div class="sidebar__menu">
            <div class="sidebar__title">Navigation</div>
            <ul class="nav nav-menu">
              <li><a href="accounts.html">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-sitemap"></i></div>
                <div class="nav-menu__text"><span>Accounts</span></div></a>
              </li>
              <li><a href="investments.html">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-line-chart"></i></div>
                <div class="nav-menu__text"><span>Investments</span></div></a>
              </li>
              <li><a href="#">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-briefcase"></i></div>
                <div class="nav-menu__text"><span>Investor</span></div>
                <div class="nav-menu__right"><i class="fa fa-fw fa-angle-right arrow"></i></div></a>
                <ul class="nav nav-menu__second collapse">
                  <li><a href="blank.html">Documents</a></li>
                  <li><a href="blank.html">Forms</a></li>
                  <li><a href="blank.html">Notifications</a></li>
                  <li><a href="blank.html">Settings</a></li>
                </ul>
              <li><a href="#">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-life-ring"></i></div>
                <div class="nav-menu__text"><span>Support</span></div>
                <div class="nav-menu__right"><i class="fa fa-fw fa-angle-right arrow"></i></div></a>
                <ul class="nav nav-menu__second collapse">
                  <li><a href="blank.html">Knowledge base</a></li>
                  <li><a href="blank.html">Support Ticket</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sidebar__menu">
            <div class="sidebar__btn"><a href="compose.html" class="btn btn-block btn-default">Compose Mail</a></div>
            <div class="sidebar__title">Mail</div>
            <ul class="nav nav-menu">
              <li><a href="inbox.html">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-inbox"></i></div>
                <div class="nav-menu__text"><span>Inbox</span></div>
                <div class="nav-menu__right"><i class="badge badge-default"><b>2</b> / 100</i></div></a></li>
              <li><a href="sent.html">
                <div class="nav-menu__ico"><i class="fa fa-fw fa-upload"></i></div>
                <div class="nav-menu__text"><span>Sent</span></div>
                <div class="nav-menu__right"><i class="badge badge-default">30</i></div></a></li>
            </ul>
            <div class="sidebar__title">Tags</div>
            <div class="ul nav nav-menu">
              <li><a href="inbox.html">
                <div class="nav-menu__ico tag_clients"><i class="fa fa-fw fa-tag"></i></div>
                <div class="nav-menu__text"><span>Clients</span></div></a></li>
              <li><a href="inbox.html">
                <div class="nav-menu__ico tag_social"><i class="fa fa-fw fa-tag"></i></div>
                <div class="nav-menu__text"><span>Social</span></div></a></li>
              <li><a href="inbox.html">
                <div class="nav-menu__ico tag_support"><i class="fa fa-fw fa-tag"></i></div>
                <div class="nav-menu__text"><span>Support</span></div></a></li>
            </div>
          </div>
          <div class="sidebar__menu">
            <script type="x-template" id="lmWidgetTpl">
              <div v-if="messages.new.length">
                <div class="sidebar__title">New Messages</div>
                <div class="lm-widget">
                  <div class="lm-widget__list">
                    <div class="lm-widget__item new" v-for="msg in messages.new">
                      <div class="lm-widget__title"><i class="fa fa-fw fa-tag {{msg.tag != '' ? 'tag_'+msg.tag : ''}}"></i><span>{{msg.name}}</span></div>
                      <div class="lm-widget__text">{{msg.text}}</div>
                      <a href="inbox.html" class="lm-widget__link"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="messages.last.length">
                <div class="sidebar__title">Recent list</div>
                <div class="lm-widget">
                  <div class="lm-widget__list">
                    <div class="lm-widget__item" v-for="msg in messages.last">
                      <div class="lm-widget__title"><i class="fa fa-fw fa-tag {{msg.tag != '' ? 'tag_'+msg.tag : ''}}"></i><span>{{msg.name}}</span></div>
                      <div class="lm-widget__text">{{msg.text}}</div>
                      <a href="inbox.html" class="lm-widget__link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </script>
            <div id="lmWidget"></div>
          </div>
          <div class="sidebar__menu">
            <div class="sidebar__title">Recent activity</div>
            <script type="x-template" id="raWidgetTpl">
              <div class="ra-widget">
                <div class="ra-widget__cont">
                  <div class="ra-widget__list">
                    <div v-for="item in feed" class="ra-widget__item ra-widget__item_{{item.type}}">
                      <div class="ra-widget__ico"><i class="fa fa-fw"></i></div>
                      <div class="ra-widget__info">
                        <div class="ra-widget__text">{{{item.text}}}<span class="ra-widget__date">{{item.date | formatDate}}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </script>
            <div id="raWidget"></div>
          </div>
          <div class="sidebar__menu">
            <div class="sidebar__title">Settings</div>
            <div class="ss-widget">
              <div class="ss-widget__cont">
                <div class="ss-widget__row">
                  <div class="ss-widget__cell">Site</div>
                  <div class="ss-widget__cell">
                    <input type="checkbox" checked="checked" data-size="micro" data-on-color="success" data-off-color="danger" class="bs-switch">
                  </div>
                </div>
                <div class="ss-widget__row">
                  <div class="ss-widget__cell">Mailing</div>
                  <div class="ss-widget__cell">
                    <input type="checkbox" data-size="micro" data-on-color="success" data-off-color="danger" class="bs-switch">
                  </div>
                </div>
                <div class="ss-widget__item">
                  <div class="ss-widget__label">Limit</div>
                  <div class="ss-widget__value">
                    <input type="text" name="" value="" data-grid="false" data-min="0" data-max="2000" data-from="600" data-step="200" class="settings-slider">
                  </div>
                </div>
                <div class="ss-widget__row">
                  <div class="ss-widget__cell">Timeout</div>
                  <div class="ss-widget__cell">
                    <input type="number" min="5" max="50" step="5" value="15" class="form-control input-sm">
                  </div>
                </div>
              </div>
            </div>
            <div class="sidestat" id="sideStat">
              <div class="sidestat__cont">
                <div class="sidestat__item" v-for="item in items">
                  <div class="sidestat__value">{{item.data[item.data.length-1]}}</div>
                  <div class="sidestat__text">{{item.title}}</div>
                  <div class="sidestat__chart" v-sparkline="{data: item.data, options: types[item.type]}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main__scroll scrollbar-macosx">
        <div class="main__cont">

        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/libs/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/libs/vue/vue.min.js"></script>
<script src="assets/libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js"></script>
<script src="assets/libs/sparkline/jquery.sparkline.min.js"></script>
<script src="assets/libs/ionrangeslider/js/ion.rangeSlider.min.js"></script>
<script src="assets/libs/inputNumber/js/inputNumber.js"></script>
<script src="assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script src="assets/libs/raphael/raphael-min.js"></script>
<script src="assets/libs/morris.js/morris.min.js"></script>
<script src="assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="assets/js/vue/directives/morris.js"></script>
<script src="assets/js/vue/directives/sparkline.js"></script>
<script src="assets/js/vue/vm/user.js"></script>
<script src="assets/js/vue/vm/sidebar.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>