.ab-btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #7b8488;
  outline: none;
  padding: 5px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.42857143;

  &:hover {
    //background-color: rgba(224,224,224,0.4);
    background-color: #f2f5f7;
    border-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #afafaf;
    background-color: transparent;
    opacity: 0.6;
  }

  &_info {
    background: #56d0e9;
    border-color: #53c1da;
    color: #ffffff;

    &:hover {
      background: #51c1d8;
    }
  }

  &_alt {
    background: #51d8c1;
    border-color: #4fc5b2;
    color: #ffffff;

    &:hover {
      background: #4eceb8 ;
    }
  }

  &--white {
    color: #a2a2a2;
    background-color: #ffffff;
    border: 1px solid #dedede;
    box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);

    &:hover {
      background-color: #f2f2f2;
      border: 1px solid #dedede;
      color: #7b8488;
    }
  }

  &_medium {
    padding: 10px 24px;
    font-size: 14px;
  }

  &_large {
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 4px;

    @media (max-width : 1200px) {
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 3px;
    }

    @media (max-width : 425px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}

.ab-btn-bookmark {

  &.active,
  &:hover,
  &:active,
  &:focus {
    color: #FE938C;
    border: 1px solid #dedede;
    background-color: #ffffff;
  }

  &,
  &.active:hover,
  &.active:active,
  &.active:focus {
    color: #cacaca;
    border: 1px solid #dedede;
    background-color: #ffffff;
  }

}

.ab-btn-link {
  text-decoration: none;
  color: #56d0e9;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
  }
}

.ab-btn-block {
  display: block;
  width: 100%;
}

.ab-btn-group {
  display: inline-block;
  white-space: nowrap;
  font-size: 0;

  .ab-btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ab-btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
}
