.ab-catalog {

  &__header {
    border-bottom: 1px solid #e6eaed;
    margin-bottom: 20px;
    padding: 0 20px;

    @media (max-width: 425px) {
      padding: 0px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__title {
    float: left;
    font-size: 18px;
    padding-bottom: 10px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 767px) {
      width: auto;
    }
  }

  &__tabs {
    float: left;
    width: 100%;
    padding-left: 300px;
    margin-left: -300px;
    text-align: right;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__selector {
    display: none;
    float: right;
    line-height: 26px;

    @media (max-width: 767px) {
      display: block;
    }

    .ui.inline.dropdown .dropdown.icon {
      margin-right: 0;
    }
  }

  &__tab {
    display: inline-block;
    line-height: 25px;
    padding-left: 30px;

    a {
      text-decoration: none;
      color: inherit;
    }

    &>div {
      padding-bottom: 10px;
      cursor: pointer;
      position: relative;
    }

    &.active {

      &>div {
        font-weight: 600;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 20%;
          height: 3px;
          width: 60%;
          background: #56d0e9;
          box-shadow: 0 -1px 6px #95e6f7;
        }
      }
    }
  }

  &__items {
    margin: 15px -15px -20px;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &__empty {
    padding: 0px 35px;

    @media (max-width: 425px) {
      padding: 0 15px;
    }
  }
}
