.ab-content {

  h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 0px;
    margin: 5px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }

  p {
    margin: 0 0 20px;
  }

  a {
    color: #56d0e9;
  }

  ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    li {

      &::before {
        content: '•';
        display: inline-block;
        padding: 0 10px 0 15px;
        line-height: 1;
        font-weight: bold;
      }
    }
  }

  ol {
    margin: 0 0 20px;
    padding: 0 0 0 30px;

    li {
      padding-left: 2px;
    }
  }

  img {
    vertical-align: top;
    max-width: 100%;
  }

}
