.ab-dropdown {
  display: inline-block;
  position: relative;

  &:hover {
    .ab-dropdown-list,
    .ab-dropdown-bubble {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .ab-dropdown-list {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #eaedef;
    border-radius: 4px;
    position: absolute;
    z-index: 100;
    right: -11px;
    top: 100%;
    margin-top: 8px;
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(193, 193, 193, 0.8);
    transform: translateY(-10px);
    transition: transform 150ms, max-height 150ms, opacity 100ms;
    transition-delay: 100ms;

    > ul {
      list-style: none;
      margin: 0;
      padding: 5px 0;

      > li {
        display: block;

        > a {
          display: block;
          padding: 6px 20px;
          text-decoration: none;
          white-space: nowrap;
          color: #7b8488;

          &:hover,
          &:active,
          &:focus {
            background-color: rgba(0, 0, 0, 0.02);
            color: #54595a;
          }
        }
      }
    }
  }

  .ab-dropdown-divider {
    margin: 5px 0;
    border-bottom: 1px solid #eaedef;
  }

  .ab-dropdown-bubble {
    position: absolute;
    z-index: 101;
    right: -1px;
    top: 100%;
    margin-top: -8px;
    opacity: 0;

    transform: translateY(-10px);
    transition: transform 150ms, opacity 100ms;
    transition-delay: 100ms;


    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border: 8px solid transparent;
      border-bottom-color: #eaedef;
    }

    &:after {
      top: 1px;
      border-bottom-color: #ffffff;
    }
  }

  .ab-dropdown-bubble + .ab-dropdown-list > ul {
    padding-top: 10px;
  }
}
