.ab-form {

  &__group {
    margin-bottom: 10px;
    text-align: left;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .ab-input {
      width: 100%;
    }
  }

  .help-block {

    p {
      padding: 10px 5px 0;
      margin: 0;
      font-size: 12px;
    }
  }

  &__label {
    margin-bottom: 5px;
    display: block;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
  }
}
