html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #7b8488;
  height: 100%;
  width: 100%;
  min-width: 320px;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: underline;;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.noscroll {
  overflow: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}
