.ab-input {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  border-radius: 2px;
  height: 36px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #7b8488;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px #56d0e9;
    border-color: #56d0e9;
  }

  &[disabled] {
    background-color: #f5f5f5;
  }
}

.ab-input-group {
  display: table;
  white-space: nowrap;

  input {
    float: left;
    width: 100%;
    display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
  }

  span {
    display: table-cell;
    vertical-align: top;
    width: 1%;
    position: relative;
    z-index: 1;
  }

  input+span {
    margin-left: -1px;

    .ab-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
  }
}

.has-error .ab-input {
  border-color: #f15858;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px #f15858;
    border-color: #f15858;
  }
}
