.ab-item {
  width: 33.3%;
  float: left;
  padding: 0 15px;
  margin-bottom: 20px;

  @media (max-width: 1023px) {
    width: 50%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &__cont {
    margin-top: 35px;
    border: 1px solid #eaedef;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px 33px 15px 20px;
    position: relative;
  }

  &__cover {
    width: 100%;
    //height: 200px;
    margin-top: -55px;
    background-color: #fff;
    background-position: 0% 0%;
    background-size: cover;
    position: relative;

    a {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 2px 15px #7f7f7f;
    }
  }

  &__spacer {
    border: 0;
    width: 100%;
    vertical-align: top;
  }

  &__main {
    margin-top: 15px;
  }

  &__title {
    font-size: 18px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__tagline {
    margin-bottom: 5px;
    color: #afafaf;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__desc {
    margin-top: 5px;
    margin-bottom: 8px;
    height: 42px;
    overflow: hidden;

    p {
      margin: 0;
    }
  }

  &__footer {
    overflow: hidden;
    white-space: nowrap;
  }

  &__count,
  &__external {
    display: inline-block;
    padding: 6px 0;
    color: #afafaf;

    .fa {
      color: #ffd82b;
    }
  }

  &__purchases {

    @media (max-width: 1170px) {
      display: none;
    }

    @media (max-width: 1023px) {
      display: inline;;
    }
  }

  &__btns {
    display: inline-block;
    text-align: left;
    margin-right: 12px;
  }

  &__menu {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    .ab-dropdown-list {
      margin-top: 0px;
      right: -20px;
    }
  }

  &__menuico {
    width: 25px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    color: darken(#cacaca, 5%);

    .ab-item__menu:hover & {
      color: #7b8488;
    }
  }

  &__price {
    position: absolute;
    padding: 3px 8px;
    right: -4px;
    background: #56D0E9;
    top: 34px;
    border-radius: 2px;
    color: #fff;
  }

  &__sale {
    position: absolute;
    padding: 3px 8px;
    right: -4px;
    background: #ec532c;
    top: 70px;
    border-radius: 2px;
    color: #fff;
  }
}

.ab-item_old {
  width: 33.3%;
  float: left;
  padding: 0 15px;
  margin-bottom: 20px;

  &__cont {
    margin-top: 35px;
    border: 1px solid #eaedef;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px 20px;
    position: relative;
  }

  &__main {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__cover {
    float: left;
    width: 145px;
    height: 225px;
    margin-top: -55px;
    background-color: #fff;
    background-position: 0% 0%;
    background-size: cover;
    box-shadow: 0 2px 15px #7f7f7f;
    position: relative;

    a {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &:hover {
        background-color: rgba(50, 50, 50, 0.02);
      }
    }
  }

  &__info {
    float: left;
    width: 100%;
    padding-left: 170px;
    margin-left: -145px;
  }

  &__title {
    font-size: 18px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__tagline {
    margin-bottom: 12px;
    color: #afafaf;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__pop {
    font-size: 13px;
    color: #d1d1d1;
  }

  &__desc {
    margin-top: 9px;
    height: 82px;
    overflow: hidden;

    p {
      margin: 0;
    }
  }

  &__menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;

    .ui.dropdown .menu {
      left: auto;
      right: 0;
    }
  }

  &__menuico {
    width: 15px;
    height: 15px;
    text-align: center;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  &__price {
    position: absolute;
    padding: 3px 8px;
    right: -4px;
    background: #56d0e9;
    top: 35px;
    border-radius: 2px;
    color: #fff;
  }
}
