.ab-main {
  padding: 20px 20px;
  clear: both;
  max-width: 1020px;
  margin: 0 auto;

  &__cont {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    white-space: normal;
  }

  &__sections {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__center {
    float: left;
    width: 100%;
    padding-right: 220px;
    margin-right: -200px;

    @media (max-width: 768px) {
      padding-right: 0;
      margin-right: 0;
    }
  }

  &__side {
    float: left;
    width: 200px;
    position: relative;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
