.ab-pagination {
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: normal;
  font-size: 0;

  > li {
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    border-radius: 0px;
    font-size: 14px;

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.active > a {
      color: #7b8488;
      background-color: rgba(0, 0, 0, 0.05);
      cursor: default;
    }

    > a {
      display: block;
      padding: 5px 12px;
      color: darken(#afafaf, 5%);
      text-decoration: none;

      &:hover {
        color: #7b8488;
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        color: #afafaf;
        background-color: transparent;
        opacity: 0.6;
      }
    }
  }
}
