.ab-product {
  max-width: 980px;
  margin: 40px auto 0;
  position: relative;

  @media (max-width: 980px) {
    margin-top: 20px;
  }

  .clearfix {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__btns {
    position: absolute;
    width: 100%;
    top: -20px;
    padding: 0 30px;
    text-align: right;
    z-index: 2;
    font-size: 0;

    @media (max-width: 980px) {
      padding: 0 30px;
    }
  }

  &__bookmark {

    &.ab-product-btn {
      color: #cacaca;

      &:hover {
        color: darken(#cacaca, 8%);
      }

      &.active {
        color: #FE938C;

        &:hover {
          color: darken(#FE938C, 8%);
        }
      }
    }
  }

  &__top {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #eaedef;
    border-radius: 4px;
    position: relative;

    .ab-msg {
      margin-bottom: 0px;
    }

    @media (max-width: 980px) {
      padding-top: 35px;
      text-align: center;
    }
  }

  &__cover {
    float: left;
    max-width: 480px;
    background-color: rgba(200, 200, 200, 0.3);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 25px #7f7f7f;
    position: relative;
    overflow: hidden;
    margin-top: -65px;

    @media (max-width: 980px) {
      margin: 20px auto 20px;
      width: 100%;
      max-width: 480px;
      float: none;
      box-shadow: 0 2px 15px #7f7f7f;
    }

    img {
      vertical-align: top;
      max-width: 100%;
    }
  }

  &__col {
    float: left;
    width: 100%;
    margin-left: -480px;
    padding: 0px 15px 0 525px;

    @media (max-width: 980px) {
      float: none;
      padding: 0;
      margin-left: 0;
    }
  }

  &__title {
    padding-top: 15px;
    float: right;

    h1 {
      margin: 0 0 3px;
      font-size: 20px;
      font-weight: normal;
      line-height: 25px;
      padding-top: 2px;

      @media (max-width: 425px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        padding: 0;
      }
    }

    @media (max-width: 980px) {
      float: none;
      padding: 0;
    }
  }

  &__category {
    margin-bottom: 5px;
    color: #afafaf;
  }

  &__desc {
    margin-bottom: 12px;

    @media (max-width: 980px) {
      margin-bottom: 20px;
    }

    p {
      margin: 0;

      @media (max-width: 980px) {
        max-width: 480px;
        margin: 0 auto;
        text-align: justify;
      }
    }
  }

  &__buy {
    font-size: 0;

    a:not(.ab-btn) {
      padding: 13px 0;
      font-size: 14px;
      margin-left: 15px;
      color: #56d0e9;
      white-space: nowrap;
      display: inline-block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width : 1200px) {
        padding: 10px 0;
      }
    }

    .ab-btn, a {
      margin-right: 5px;
    }
  }

  &__middle {
    margin: 20px 0px 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__main {
    float: left;
    width: 100%;
    padding-right: 302px;
    margin-right: -282px;

    @media (max-width : 768px) {
      padding-right: 0;
      margin-right: 0;
    }
  }

  &__side {
    float: left;
    width: 282px;

    @media (max-width : 768px) {
      width: 100%;
      margin-top: 20px;
    }

    .ab-msg {
      margin-bottom: 20px;
    }
  }

  &__details {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #eaedef;

    p {
      margin: 0;
    }
  }

  &__promo {
    margin-top: 20px;
    border: 1px solid #eaedef;

    img {
      width: 100%;
      border: 0;
      vertical-align: top;
    }
  }

  &__table {
    margin-bottom: 20px;

    .fa-check {
      color: #4fc5b2;
    }

    .fa-close {
      color: #f55f2a;
      width: 14px;
      text-align: center;
    }
  }

  &__related {

    h3 {
      font-size: 14px;
      font-weight: 700;
      margin: 0 15px 0;
    }
  }
}

.ab-product-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #cacaca;
  background-color: #ffffff;
  border: 1px solid #eaedef;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;

  &:hover,
  &:active {
    color: #aaaaaa;
  }

  &.disabled {
    pointer-events: none;
    box-shadow: none;
    background-color: #fbfbfb;
  }

  i.fa {
    line-height: 35px;

    &.fa-angle-left,
    &.fa-angle-right {
      font-size: 18px;
    }
  }
}

.ab-product-btn-group {
  display: inline-block;
  box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);
  border-radius: 3px;
  margin-left: 10px;

  .ab-product-btn {
    box-shadow: none;
    margin: 0;

    &:not(:last-child) {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
