.ui.tabular.menu .item {
  display: inline-block;
  color: inherit;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 3px;

  &:not(.active) {
    cursor: pointer;
  }

  &.active {
    background: rgba(0,0,0,.05);
  }
}

.ui.tab {
  padding: 15px 0;
}
