.ab-table {
  width: 100%;
  background: #fff;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 0;

  thead th {
    background: #f0f0f0;
    text-align: left;
    padding: 6px 10px;
    vertical-align: middle;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-bottom: 1px solid #d4d4d5;
  }

  td {
    text-align: left;
    vertical-align: top;
    padding: 6px 10px;
    border: 1px solid #d4d4d5;
    border-top: 0;
    border-left: 0;

    &:last-child {
      border-right: 0;
    }
  }

  tbody tr {

    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}
