@import 'import/mixins.less';
@import 'import/colors.less';
@import 'import/ort-container.less';
@import 'import/ort-header.less';
@import 'import/ort-profiles-lock.less';
@import 'import/ort-social-ico.less';
@import 'import/ort-menu.less';
@import 'import/ort-main.less';
@import 'import/ort-profile.less';
@import 'import/ort-footer.less';
@import 'import/ort-up.less';
@import 'import/ort-notif.less';
@import 'import/ort-player.less';

body {
  font: normal 12px/20px Arial, sans-serif;
  color: @text;
  background-color: @bg;
}