.mb-menu
    .mb-menu__cont
        .mb-menu__profile
            .mb-menu__photo(style='background-image: url("http://img2.1001golos.ru/ratings/332000/331279/pic2.jpg")')
            a.mb-menu__link(href='my-profile.html')
                span Мой профиль
        ul.mb-menu__list
            li.mb-menu__item.mb-menu__item_vip
                .mb-menu__ico
                a.mb-menu__link(href='')
                    span Vip
            li.mb-menu__item.mb-menu__item_chat
                .mb-menu__ico
                a.mb-menu__link(href='', title='Сообщения')
                    span Сообщения
                span.badge 10
            li.mb-menu__item.mb-menu__item_smile
                .mb-menu__ico
                a.mb-menu__link(href='', title='Улыбнулись мне')
                    span Улыбнулись мне
            li.mb-menu__item.mb-menu__item_smile
                .mb-menu__ico
                a.mb-menu__link(href='', title='Я улыбнулся')
                    span Я улыбнулся
            li.mb-menu__item.mb-menu__item_smile
                .mb-menu__ico
                a.mb-menu__link(href='', title='Взаимные улыбки')
                    span Взаимные улыбки
                span.badge 1000
            li.mb-menu__item.mb-menu__item_ulibaster
                .mb-menu__ico
                a.mb-menu__link(href='', title='Отправить улыбастер')
                    span Отправить улыбастер
        .mb-menu__filter
            .mb-menu__target Я ищу девушку от 22 - 31
            a.mb-menu__change(href='') Изменить
        ul.mb-menu__info
            li
                a(href='') Правила
            li
                a(href='') Как оплатить
            li
                a(href='') Техническая поддержка
