link(rel="icon", type="image/png", href="img/favicon.png")
link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
link(href='libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='css/mb.css', rel='stylesheet')
