extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li.active Отзывы
        .ac-main__body.ac-newprod
            form.ac-newprod__form
                    .container-fluid
                        .row
                            .col-md-6.col-sm-6
                                .form-group
                                    button.btn(type='button') Загрузить фото
                                .form-group
                                    label Наименование
                                    input.form-control(type='text', placeholder='Введите наименование')
                                .form-group
                                    label Штрих-код товара
                                    input.form-control(type='text', placeholder='Введите штрих-код')
                                .form-group
                                    label Производитель
                                    input.form-control(type='text', placeholder='Введите производителя')
                                .form-group
                                    label Бренд
                                    input.form-control(type='text', placeholder='Введите бренд')
                            .col-md-6.col-sm-6
                                .form-group
                                    button.btn(type='button') Добавить отзыв
                                .form-group
                                    label ГОСТ
                                    input.form-control(type='text', placeholder='Введите ГОСТ')
                                .form-group
                                    label Цены
                                    .ac-prices
                                        .ac-prices__list
                                            .ac-prices__price
                                                .ac-prices__shop
                                                    select.selectpicker(placeholder='Магазин')
                                                        option(value='0') Ашан
                                                        option(value='1') Перекресток
                                                        option(value='2') Магнит
                                                .ac-prices__value
                                                    .ac-prices__control
                                                        input.form-control(type='text')
                                                    .ac-prices__label руб.
                                                .ac-prices__value
                                                    .ac-prices__control
                                                        input.form-control(type='text')
                                                    .ac-prices__label коп.
                                        .ac-prices__new
                                            button.btn(type='button') Добавить магазин
                        .row
                            .col-md-12
                                .ac-newprod__submit
                                    button.btn.btn-success.btn-big(type='submit') Сохранить товар

