doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title AC Admin
        include ./include/styles.jade
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body.ac
        .ac-login
            .ac-login__cont
                form.ac-login__form
                    .ac-login__title Авторизация
                    .form-group
                        input.form-control#auth__phone(type='text', placeholder='7 ( ___ ) - ___ - __ - __', required='required')
                    .form-group
                        input.form-control(type='password', placeholder='Пароль')
                    .checkbox.ac-login__remember
                        input#remember(type='checkbox')
                        label(for='remember')
                            span Запомнить меня
                    .ac-login__submit
                        button.btn.btn-warning.btn-block.btn-big(type='submit') Войти
        include ./include/js.jade