extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href="#") Карточка товара
                    li.active Отзывы
        .ac-main__body.ac-reviews
            .ac-reviews__list
                .ac-reviews__title Отзывы (10)
                .ac-reviews__item.ac-editable
                    .ac-reviews__name
                        span Дарья Семенова
                        button.ac-editable__edit(type='button') Редактировать
                        button.ac-editable__delete(type='button') ×
                    .ac-reviews__rating
                        input(type="number", value='3')
                    .ac-reviews__value
                        .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                        textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                    button.ac-editable__save(type='button') Сохранить
                .ac-reviews__item.ac-editable
                    .ac-reviews__name
                        span Дарья Семенова
                        button.ac-editable__edit(type='button') Редактировать
                        button.ac-editable__delete(type='button') ×
                    .ac-reviews__rating
                        input(type="number", value='3')
                    .ac-reviews__value
                        .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                        textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                    button.ac-editable__save(type='button') Сохранить
            nav
                ul.pagination
                    li
                        a(href="#") <i class="glyphicon glyphicon-menu-left"></i> Назад
                    li
                        a(href="#") 1
                    li.active
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#")
                            span Вперед <i class="glyphicon glyphicon-menu-right"></i>
            .ac-product__submit
                button.btn.btn-success.btn-big(type='submit') Сохранить товар