<template>
  <div class="env-preview" @click="hide()">
    <div class="env-preview__cont" @click.stop="">
      <div class="ab-product">
        <div class="ab-product__btns">
          <a href="" class="ab-product-btn ab-product__bookmark"
            :class="{ 'active': isBookmark }"
            @click.prevent="bookmark">
            <i class="fa fa-bookmark"></i>
          </a>
          <div class="ab-product-btn-group">
            <a href="" class="ab-product-btn ab-product__prev" @click.prevent="prev()">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="" class="ab-product-btn ab-product__next" @click.prevent="next()">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <a href="" class="ab-product-btn ab-product__close"
            @click.prevent="hide()">
            <i class="fa">×</i>
          </a>
        </div>
        <div class="ab-product__top">
          <div class="clearfix">
            <div class="ab-product__title ab-product__col">
              <h1>{{ item.name }}</h1>
            </div>
            <div class="ab-product__img">
              <div class="ab-product__cover">
                <img :src="item.previews.landscape_preview.landscape_url" :alt="item.name">
              </div>
            </div>
            <div class="ab-product__buy ab-product__col">
              <div class="ab-product__btn">
                <a :href="item.url | addReferral" target="_blank" class="ab-btn ab-btn_large ab-btn_info">
                  {{ item.price_cents / 100 | formatNumber('$') }} Buy
                </a>
                <div class="ab-product__stat">
                  <i class="fa fa-shopping-cart"></i>&nbsp;{{ item.number_of_sales | formatNumber }}
                </div>
              </div>
              <div class="ab-product__btn">
                <a :href="item.previews.live_site.url | addReferral" target="_blank" class="ab-btn ab-btn_large ab-btn_alt">Live Preview</a>
                <div class="ab-product__stat">
                  <i class="fa fa-star"></i>&nbsp;{{ item.rating.rating > 0 ? item.rating.rating : '--' }} / <small>{{ item.rating.count }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ab-product__middle">
          <div class="ab-product__side">
            <div class="ab-product__table">
              <table class="ab-table">
                <thead>
                  <tr>
                    <th colspan="2">What is Inside</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="attr in attributes" v-if="attr.values && attr.values.length">
                    <td>{{ attr.title }}</td>
                    <td>
                      <span v-for="(value, $index) in attr.values">
                        <span>{{ value + ($index < attr.values.length - 1 ? ', ' : ' ') }}</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ab-product__main">
            <div class="ab-product__details ab-content" v-html="description_with_refs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { addReferral } from '../../utils/filters.js';
  import Moment from 'moment';
  export default {
    props: ['item', 'bookmarks'],
    data: function() {
      return {}
    },
    computed: {
      description_with_refs: function() {
        let matchHref = /href="([^"]+)"/g;

        function getURL(match) {
          return match.replace(/^(href=)(")([^"]+)(")/g, '$3');
        }

        function getRefferalHref(match) {
          let url = getURL(match);
          return 'href="' + addReferral(url) + '" target="_blank"';
        }

        return this.item.description_html.replace(matchHref, getRefferalHref);
      },
      attributes: function() {
        let a = [];

        this.item.attributes.forEach((attr) => {
          switch (attr.name) {
            case 'compatible-with':
              a.push({
                title: 'Compatible',
                values: attr.value,
                order: 0
              })
              break;
            case 'compatible-browsers':
              a.push({
                title: 'Browsers',
                values: attr.value,
                order: 2
              })
              break;
            case 'documentation':
              a.push({
                title: 'Docs',
                values: [attr.value],
                order: 3
              })
              break;
            case 'layout':
              a.push({
                title: 'Layout',
                values: [attr.value],
                order: 1
              })
              break;
            default:
              break;
          }
        })

        a.push({ title: 'Created', values: [ Moment(this.item.published_at).format('DD MMM YYYY') ], order: 4 });
        a.push({ title: 'Updated', values: [ Moment(this.item.updated_at).fromNow() ], order: 5 });

        return a.sort((a, b) => a.order - b.order);
      },
      isBookmark: function() {
        return this.bookmarks.filter((bookmark) => bookmark.id == this.item.id).length;
      }
    },
    methods: {
      hide: function() {
        this.$emit('hide-preview');
      },
      next: function() {
        this.$emit('next-preview');
      },
      prev: function() {
        this.$emit('prev-preview');
      },
      bookmark: function() {
        this.$emit('bookmark', this.item);
      }
    }
  }
</script>

<style lang="less">
  .env-preview {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(242, 245, 247, 0.90);
    white-space: normal;
    font-size: 14px;
    padding: 40px 0;
    cursor: pointer;

    &__cont {
      max-width: 1020px;
      margin: 0 auto;
      cursor: default;
    }

    .ab-product {
      padding: 30px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      box-shadow: 0 2px 25px rgba(127, 127, 127, 0.29);

      &__top {
        padding: 0;
        border: 0;
        box-shadow: none;
      }

      &__btns {
        left: 0;
      }

      &__close {
        margin-left: 10px;
        font-size: 22px;
        display: inline-block;

        i {
          font-weight: bold;
        }
      }

      &__img {
        float: left;
        width: 100%;
        padding-right: 300px;
        margin-right: -270px;
        margin-top: -65px;

        @media (max-width: 768px) {
          float: none;
          padding-right: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }

      &__cover {
        float: none;
        max-width: 590px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      &__col {
        text-align: center;
        width: 270px;
        margin: 0;
        padding: 0;
        position: relative;

        @media (max-width: 980px) {
          float: left;
        }

        @media (max-width: 768px) {
          float: none;
          width: 100%;
        }
      }

      &__title {
        margin-bottom: 15px;
        margin-top: 25px;

        @media (max-width: 980px) {
          float: right;
          margin-top: 0;
        }

        @media (max-width: 768px) {
          float: none;
        }

        h1 {
          margin: 0;
        }
      }

      &__stat {
        font-size: 14px;
        color: #afafaf;
        margin-top: 15px;
      }

      &__buy {
        .ab-btn_large {
          font-size: 16px;
        }
      }

      &__btn {
        display: inline-block;
        text-align: center;
      }

      &__middle {
        margin-top: 10px;

        @media (max-width: 768px) {
          margin-top: 20px;
        }
      }

      &__main {
        float: right;
        padding-right: 300px;
        margin-right: -270px;

        @media (max-width: 768px) {
          float: none;
          padding-right: 0px;
          margin-right: 0px;
        }
      }

      &__side {
        width: 270px;
        float: right;

        @media (max-width: 768px) {
          float: none;
          width: 100%;
          max-width: 618px;
          margin: 0 auto;
        }
      }

      &__details {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.5;
        font-size: 16px;
        overflow: hidden;
        padding: 0px;
        border: 0;

        @media (max-width: 768px) {
          max-width: 618px;
          margin: 0 auto;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          margin-bottom: 20px;
          padding: 0
        }

        p:last-child {
          margin-bottom: 0
        }

        small {
          font-size: 12px
        }

        ol,ul {
          margin-bottom: 20px;
          padding-left: 25px
        }

        ol:last-child,
        ul:last-child {
          margin-bottom: 0
        }

        ol {
          list-style-type: decimal
        }

        ul {
          list-style: disc;

          li {
            &:before {
              display: none;
            }
          }
        }

        table {
          margin-bottom: 20px;
          max-width: 100%;
          overflow: auto
        }

        img {
          max-width: 100%
        }

        blockquote {
          border-left: 1px solid #a2a2a2;
          font-style: italic;
          margin: 0 0 20px;
          padding-left: 20px
        }

        pre {
          margin-bottom: 20px;
          overflow: hidden;
        }

        h2,h3,h4,h5,h6 {
          margin: 30px 0 20px;
          padding: 0;
          font-weight: inherit;
        }

        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child {
          margin-top: 0
        }

        h1 {
          display: none
        }

        h2 {
          border-bottom: 1px solid #d4d4d4;
          font-size: 20px;
          line-height: 30px;
          padding-bottom: 10px
        }

        h3 {
          border-bottom: 1px solid #d4d4d4;
          font-size: 18px;
          line-height: 27px;
          color: #545454;
          padding-bottom: 10px
        }

        h4 {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
        }

        h5 {
          font-size: 17px;
          line-height: normal;
        }

        ol,ul {
          padding-left: 35px
        }
      }
    }
  }
</style>
