<template>
  <div class="env-search">
    <input class="ab-input" type="text" placeholder="angular, laravel, material"
       v-model="term"
       @focus="focus = true"
       @blur="focus = false"
       @keyup.down="nextSuggestion()"
       @keyup.up="prevSuggestion()"
       @keyup.enter.prevent="search()"
       ref="input">
    <div class="env-search__count">
      <span v-if="loading || searching"><i class="fa fa-spinner fa-pulse"></i></span>
      <span v-else-if="error"><i class="fa fa-warning"></i></span>
      <span v-else-if="term.length">
        <span>Found: {{ found | formatNumber }}</span>
        <a @click.prevent="clear()" href="" class="env-search__clear">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
      <span v-else-if="!term.length">Total: {{ total | formatNumber }}</span>
    </div>
    <div class="env-search__suggestions" v-if="focus && suggestions.length > 1">
      <ul>
        <li
          v-for="(item, index) in suggestions"
          v-if="item != null"
          :class="{ active: index == cursor }"
          @mouseover="cursor = index"
          @mousedown="selectSuggestion(index)">{{ item }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { EnvatoApi } from 'modules/api';
  import throttle from 'lodash/throttle';

  export default {
    props: ['total', 'loading', 'error'],
    data: function() {
      return {
        suggestions: [ null, 'angular', 'react', 'vue', 'laravel', 'rails', 'material' ],
        focus: false,
        term: '',
        cursor: 0,
        searching: false,
        found: 0,
        url: '/discovery/search/search/item?site=themeforest.net&category=site-templates/admin-templates&'
      }
    },
    watch: {
      term: function() {
        this.getSuggestions()
      }
    },
    methods: {
      getSuggestions: throttle(function() {
        this.searching = true;
        EnvatoApi.get(this.url + 'term=' + this.term)
          .then(( { data } ) => {
            this.found = data.total_hits;
            this.searching = false;
          })
          .catch(( response ) => {
            this.found = 0;
            this.searching = false;
          })
      }, 500, { leading: false, trailing: true }),
      nextSuggestion: function() {
        if (this.suggestions.length > 1) {
          this.cursor = this.cursor < this.suggestions.length - 1 ? this.cursor + 1 : 0;
        }
      },
      prevSuggestion: function() {
        if (this.suggestions.length > 1) {
          this.cursor = this.cursor > 0 ? this.cursor - 1 : this.suggestions.length - 1;
        }
      },
      selectSuggestion: function(index) {
        this.cursor = index;
        this.search();
      },
      search: function() {
        if (this.suggestions.length > 1 && this.cursor > 0) {
          this.term += ' ' + this.suggestions[this.cursor];
        }
        this.$refs.input.blur();
        this.cursor = 0;
        this.$emit('search', this.term);
      },
      clear: function() {
        this.term = '';
        this.$refs.input.blur();
        this.cursor = 0;
        this.$emit('search', this.term);
      }
    }
  }
</script>

<style lang="less">
  .env-search {
    margin-bottom: 35px;
    position: relative;

    input {
      width: 100%;
      padding: 15px 146px 15px 20px;
      border-radius: 2px;
      line-height: 18px;
      height: auto;
      box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);

      &::-webkit-input-placeholder { color: #cacaca; }
      &::-moz-placeholder { color: #cacaca; }
      &:-moz-placeholder { color: #cacaca; }
      &:-ms-input-placeholder { color: #cacaca; }
      &::placeholder { color: #cacaca; }
    }

    &__count {
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px 20px;
      color: #cacaca;
    }

    &__clear {
      margin-left: 5px;

      &:hover {
        color: darken(#cacaca, 10%);
      }
    }

    &__suggestions {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -2px;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      z-index: 150;
      box-shadow: 0 3px 15px rgba(127, 127, 127, 0.15);

      ul {
        margin: 0;
        padding: 5px 0;
        list-style: none;

        li {
          padding: 5px 20px;
          cursor: pointer;

          &.active {
            background-color: rgba(0, 0, 0, 0.04);
          }
        }
      }
    }
  }
</style>
