<template>
  <div class="env-item ab-item">
    <div class="ab-item__cont">
      <div class="ab-item__cover"
        :style="{ backgroundImage: 'url(' + item.previews.landscape_preview.landscape_url + ')' }">
        <img src="assets/src/img/16x9.png" alt="" class="ab-item__spacer">
        <a href="" @click.prevent="preview()"></a>
      </div>
      <div class="ab-item__main">
        <div class="ab-item__footer">
          <div class="ab-item__btns">
            <div class="ab-btn-group">
              <a class="ab-btn ab-btn_info" :href="item.url | addReferral" target="_blank">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;{{ item.number_of_sales | formatNumber }}
              </a>
              <a class="ab-btn ab-btn_info" href="" @click.prevent="preview()">Details</a>
            </div>
          </div>
          <span class="env-item__rating">
            <i class="fa fa-star"></i> {{ item.rating.rating > 0 ? item.rating.rating : '--' }} / <small>{{ item.rating.count | formatNumber }}</small>
          </span>
        </div>
      </div>
      <div class="ab-item__price">
        <span>{{ item.price_cents / 100 | formatNumber('$') }}</span>
      </div>
      <div class="ab-item__menu">
        <div class="ab-dropdown">
          <div class="ab-item__menuico">
            <div class="fa fa-ellipsis-v"></div>
          </div>
          <div class="ab-dropdown-list">
            <ul>
              <li><a href="" @click.prevent="preview()">Details</a></li>
              <li><a :href="item.previews.live_site.url | addReferral" target="_blank">Preview</a></li>
              <li><a :href="item.url | addReferral" target="_blank">Buy {{ item.price_cents / 100 | formatNumber('$') }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a class="env-item__bookmark" href=""
        @click.prevent="bookmark(item)"
        :class="{ 'active': isBookmark }">
        <i class="fa fa-bookmark"></i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  props: ['item', 'bookmarks'],
  data: function() {
    return {}
  },
  computed: {
    isBookmark: function() {
      return this.bookmarks.filter((bookmark) => bookmark.id == this.item.id).length;
    }
  },
  methods: {
    preview: function() {
      this.$emit('show-preview', this.item);
    },
    bookmark: function(item) {
      this.$emit('bookmark', item);
    }
  }
}
</script>

<style lang="less">
  .env-item {
    //width: 33.3%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;

    @media (max-width: 710px) {
      width: 100%;
    }

    &__rating {
      color: #cacaca;
    }

    &__bookmark {
      display: block;
      position: absolute;
      top: 67px;
      right: 5px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #cacaca;

      a& {
        text-decoration: none;

        &:hover {
          color: darken(#cacaca, 8%);
        }

        &.active {
          color: #FE938C;

          &:hover {
            color: darken(#FE938C, 8%);
          }
        }
      }
    }

    .ab-item__cover {
      cursor: pointer;
    }
  }
</style>
