<template>
  <div class="env-catalog" :class="{ 'env-catalog--loading': loading || error }" id="env-catalog">
    <div class="env-catalog__main">
      <div class="env-catalog__header">
        <env-search
          :total="total"
          :loading="loading"
          :error="error"
          v-on:search="value => { updateQuery({ term: value }) }"></env-search>
        <div class="env-catalog__tabs">
          <div class="env-tab" :class="{ active: !isBookmarksShown && query.sort_by == 'sales' && query.sort_direction == 'desc' }">
            <a href="" @click.prevent="updateQuery({ sort_by: 'sales', sort_direction: 'desc' })">Best Sellers</a>
          </div>
          <div class="env-tab" :class="{ active: !isBookmarksShown && query.sort_by == 'trending' && query.sort_direction == 'desc' }">
            <a href="" @click.prevent="updateQuery({ sort_by: 'trending', sort_direction: 'desc' })">Trending</a>
          </div>
          <div class="env-tab" :class="{ active: !isBookmarksShown && query.sort_by == 'date' && query.sort_direction == 'desc' }">
            <a href="" @click.prevent="updateQuery({ sort_by: 'date', sort_direction: 'desc' })">Newest</a>
          </div>
          <div class="env-tab" :class="{ active: !isBookmarksShown && query.sort_by == 'rating' && query.sort_direction == 'desc' }">
            <a href="" @click.prevent="updateQuery({ sort_by: 'rating', sort_direction: 'desc' })">Best Rated</a>
          </div>
          <div class="env-tab" :class="{ active: isBookmarksShown }">
            <a href="" @click.prevent="showBookmarks()">Bookmarks ({{ bookmarks.length }})</a>
          </div>
        </div>
      </div>
      <div class="env-catalog__items">
        <env-item
          v-for="(item, index) in items"
          :key="item.id"
          :item="item"
          :bookmarks="bookmarks"
          v-on:show-preview="showPreview"
          v-on:bookmark="toggleBookmark"></env-item>
        <div class="env-msg" v-if="!loading && !items.length && !error && !isBookmarksShown">No results found.</div>
        <div class="env-msg" v-if="!loading && !items.length && !error && isBookmarksShown">Use the <i class="fa fa-bookmark fa-fw"></i> button to save your favorite templates.</div>
        <div v-if="loading || error" class="env-loader">
          <div class="env-alert env-alert--info" v-if="loading">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
            <span>Loading..</span>
          </div>
          <div class="env-alert env-alert--danger cursor-pointer" v-if="error" @click.prevent="requestItems()">
            <i class="fa fa-refresh fa-fw"></i>
            <span>Request Error</span>
          </div>
        </div>
      </div>
      <div class="env-catalog__footer" v-if="items.length && !isBookmarksShown">
        <div class="env-catalog__pagination">
          <pagination
            v-on:pageChanged="setPage"
            :page="query.page"
            :perpage="query.page_size"
            :total="total"
            :disabled="loading"></pagination>
        </div>
        <a href="" class="ab-btn ab-btn--white env-catalog__more"
          v-if="notLastPage"
          :class="{ 'disabled': loading }"
          @click.prevent="loadMore()">
          <span v-if="!loading && !error">Load More</span>
          <i v-if="loading" class="fa fa-spinner fa-pulse"></i>
        </a>
        <div class="">
          <div class="env-logo">
            <a href="https://themeforest.net/category/site-templates/admin-templates/?ref=AdminBootstrap" target="_blank">
              <img src="assets/src/img/envato-api-logo.png" alt="Envato API Logo">
            </a>
          </div>
        </div>
      </div>
    </div>
    <env-preview
      v-if="preview"
      :item="preview"
      :bookmarks="bookmarks"
      v-on:hide-preview="hidePreview"
      v-on:next-preview="nextPreview"
      v-on:prev-preview="prevPreview"
      v-on:bookmark="toggleBookmark"></env-preview>
  </div>
</template>

<script>
  import { EnvatoApi } from 'modules/api';
  import { throttle, isEqual } from 'lodash';
  import EnvItem from 'components/envato/env-item.vue';
  import EnvPreview from 'components/envato/env-preview.vue';
  import EnvSearch from 'components/envato/env-search.vue';
  import Pagination from 'components/pagination.vue';

  export default {
    components: { EnvItem, EnvPreview, EnvSearch, Pagination },
    data: function() {
      return {
        items: [],
        bookmarks: [],
        total: 0,
        loading: false,
        error: false,
        isBookmarksShown: false,
        preview: null,
        current: null,
        url: '/discovery/search/search/item?',
        query: {
          site: 'themeforest.net',
          category: 'site-templates/admin-templates',
          page_size: 12,
          page: 1,
          term: '',
          sort_by: 'sales',
          sort_direction: 'desc',
          suggest: true
        }
      }
    },
    created() {
      this.requestItems();
      this.getBookmarks();
    },
    computed: {
      apiURL: function() {
        let url = this.url;

        for (var param in this.query) {
          if (this.query.hasOwnProperty(param)) {
            url += param + '=' + this.query[param] + '&';
          }
        }

        return url;
      },
      notLastPage: function() {
        return this.query.page < Math.ceil(this.total / this.query.page_size)
      }
    },
    methods: {
      requestItems: function(replace = true) {
        throttle((replace) => {
          this.loading = true;
          this.error = false;
          EnvatoApi.get(this.apiURL)
            .then(({ data }) => {
              this.items = replace ? data.matches : [ ...this.items, ...data.matches];
              this.total = data.total_hits;
              this.loading = false;
              this.isBookmarksShown = false;
            })
            .catch(( response ) => {
              this.error = true;
              this.loading = false;
              this.total = 0;

              if (document.body.scrollTop > this.$el.offsetTop) {
                App.scrollTo(this.$el, 200);
              }
            })
          }, 300, { leading: true }
        )(replace)
      },
      loadMore: function() {
        this.query.page += 1;
        this.requestItems(false);
      },
      setPage: function(page) {
        this.query.page = page;

        if (document.body.scrollTop > this.$el.offsetTop) {
          App.scrollTo(this.$el, 200);
        }

        this.requestItems();
      },
      updateQuery: function(fields) {
        let oldValue = JSON.parse(JSON.stringify(this.query)),
            newValue = JSON.parse(JSON.stringify(Object.assign({}, oldValue, fields, { page: 1 })));

        if (!isEqual(newValue, oldValue) || this.isBookmarksShown) {
          this.query = newValue;
          this.requestItems();
        }
      },
      showBookmarks: function() {
        this.isBookmarksShown = true;
        this.items = this.bookmarks;
      },
      showPreview: function(item) {
        let index = this.items.indexOf(item);
        if (item && index !== -1) {
          document.body.classList.add('noscroll');
          this.preview = item;
          this.current = index;
        }
      },
      hidePreview: function() {
        this.preview = null;
        document.body.classList.remove('noscroll');
      },
      nextPreview: function() {
        let item = this.items[this.current + 1];
        if (item) {
          this.preview = item;
          this.current += 1;
        } else {
          this.hidePreview();
        }
      },
      prevPreview: function() {
        let item = this.items[this.current - 1];
        if (item) {
          this.preview = item;
          this.current -= 1;
        } else {
          this.hidePreview();
        }
      },
      getBookmarks: function() {
        if (localStorage['bookmarks']) {
          let b = JSON.parse(localStorage['bookmarks']);
          if (b.length) {
            this.bookmarks = b;
          }
        }
      },
      toggleBookmark: function(item) {
        let bookmark = this.bookmarks.filter((b) => b.id == item.id)[0];

        if (bookmark) {
          let index = this.bookmarks.indexOf(bookmark);
          if (index !== -1) {
            this.bookmarks.splice(index, 1);
          }
        } else {
          this.bookmarks.push(item);
        }

        localStorage['bookmarks'] = JSON.stringify(this.bookmarks);
      }
    }
  }
</script>

<style lang="less">
  .ab-envato {
    max-width: 980px;
    margin: 0 auto;
  }

  .env-catalog {
    clear: both;
    padding: 20px 0;
    margin: 0;

    @media (max-width: 767px) {
      padding-top: 0;
    }

    &--loading {

      .env-item {
        opacity: 0.1;
      }
    }

    &__main {
    }

    &__header {}

    &__tabs {
      margin-bottom: 30px;
      text-align: center;

      @media (max-width: 440px) {
        margin-bottom: 10px;
      }
    }

    &__items {
      margin: 0 -15px;
      clear: both;
      position: relative;
      min-height: 100px;

      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    &__footer {
      text-align: center;

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .ab-pagination {
        box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);
      }
    }

    &__pagination {
      display: inline-block;
      margin-bottom: 15px;
    }

    &__more {
      display: inline-block;
      margin: 0 10px 20px;
      min-width: 75px;
      text-align: center;
    }

    .ab-item__footer {
      margin-right: -20px;
    }
  }

  .env-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    white-space: nowrap;
    font-size: 0;

    .env-alert {
      margin-top: 15px;
    }
  }

  .env-alert {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 14px;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    box-shadow: 3px 3px 10px rgba(127, 127, 127, 0.15);

    &--info {
      background-color: #56d0e9;
      color: #ffffff;
    }

    &--danger {
      background-color: #FE938C;
      color: #ffffff;
    }

    a&, a {
      text-decoration: none;
    }
  }

  .env-msg {
    padding: 10px 15px;
    text-align: center;
    margin-top: 15px;
  }

  .env-tab {
    display: inline-block;
    padding: 0 14px;
    margin-bottom: 15px;

    &.active > a {
      font-weight: 600;
    }

    &.active > a:after,
    & > a:hover:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 20%;
      height: 3px;
      width: 60%;
      background: #56d0e9;
      box-shadow: 0 -1px 6px #95e6f7;
    }

    > a {
      display: block;
      padding-bottom: 10px;
      text-decoration: none;
      color: inherit;
      position: relative;
    }

    &:hover > div:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 20%;
      height: 3px;
      width: 60%;
      background: #56d0e9;
      box-shadow: 0 -1px 6px #95e6f7;
    }
  }

  .env-logo {
    display: inline-block;
    text-align: left;
    border-radius: 2px;
    background-color: #ffffff;
    margin-bottom: 15px;

    a {
      display: block;
      padding: 5px 10px;
      height: 32px;
      box-sizing: border-box;
    }

    img {
      height: 100%;
      vertical-align: top;
    }
  }
</style>
