.ort-footer
    .ort-footer__copyright Copyright © 2014 Eurorevenue.Com
    p
        | All girls appearing on this website are 18 years or older. Click&thinsp;
        a(href='') here
        | &thinsp;for 18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement. By entering this site you swear
        | you are of legal age in your area to view adult material and that you wish to view such material.
    .ort-footer__menu
        .ort-footer__menu-item
            a.ort-footer__menu-link(href='') Webmaster Program
        .ort-footer__menu-item
            a.ort-footer__menu-link(href='') Terms of Service
        .ort-footer__menu-item
            a.ort-footer__menu-link(href='') Customer and Billing Support
        .ort-footer__menu-item
            a.ort-footer__menu-link(href='') Privicy Policy
.ort-up.ort-up_hidden
    button(type='button') Up
.ort-notif
    .ort-notif__new
        .ort-notif__count 3
        .ort-notif__profiles
            .ort-notif__kind New
            .ort-notif__what Profiles
    .ort-notif__check Check Now!
    a.ort-notif__link(href='')