.ort-header
    .ort-header__top
        span.ort-header__downloaded 321654 Profiles downloaded
    .ort-header__main
        .ort-header__logo
            a(href='')
        .ort-header__title
            span Ortnec Test Task
        button.ort-menu__btn(type="button")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .ort-header__profiles
            .ort-header__profile
                img.ort-header__profile-img(src='../media/girl1.png')
                a.ort-header__profile-link(href='')
                .ort-social-ico.ort-social-ico_instagramm
            .ort-header__profile
                img.ort-header__profile-img(src='../media/girl2.png')
                a.ort-header__profile-link(href='')
                .ort-social-ico.ort-social-ico_pinterest
            .ort-header__profile
                img.ort-header__profile-img(src='../media/girl3.png')
                a.ort-header__profile-link(href='')
                .ort-social-ico.ort-social-ico_twitter
            .ort-header__profile
                img.ort-header__profile-img(src='../media/girl4.png')
                a.ort-header__profile-link(href='')
                .ort-social-ico.ort-social-ico_facebook
            .ort-profiles-lock
                .ort-profiles-lock__light
                    a.ort-profiles-lock__link(href='')
                        i.ort-social-ico.ort-social-ico_facebook
                .ort-profiles-lock__dark