script(src='libs/jquery/jquery.min.js')
script(src='libs/video.js/plugins/videojs-resolution-switcher.js')
script(src='libs/video.js/plugins/videojs-downloader.js')
script(src='libs/video.js/plugins/videojs-tiny-plugins.js')
script(src='js/ort-player.js')
script(src='js/ortnec.js')