.ort-menu
    .ort-menu__cont
        .ort-menu__items
            .ort-menu__item
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_home
                    span.ort-menu__text Home
            .ort-menu__item
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_bonus
                    span.ort-menu__text Bonus Content
            .ort-menu__item
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_chat
                    span.ort-menu__text Sex Chat
            .ort-menu__item
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_hot
                    span.ort-menu__text Hot Sites
            .ort-menu__item.active
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_favorites
                    span.ort-menu__text Favorites
            .ort-menu__item
                a.ort-menu__link(href='')
                    i.ort-menu__ico.ort-menu__ico_out
                    span.ort-menu__text Sign Out
