link(rel="icon", type="image/png", href="img/favicon.png")
link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
link(href='libs/normalize.css/normalize.css', rel='stylesheet')
link(href='libs/video.js/video-js.min.css', rel='stylesheet')
link(href='css/ortnec.css', rel='stylesheet')
script(src='libs/video.js/ie8/videojs-ie8.min.js')
script(src='libs/video.js/video.min.js')
script
    | videojs.options.flash.swf = 'libs/video.js/video-js.swf';