.panel {
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid @smoke-dark;
  color: @gray-text;
}

.panel>.panel-heading {
  border: 0;
  padding: 11px 20px 9px;
  background-color: transparent;
  border-bottom: 2px solid @gray-ui;
}

.panel-heading_label {
  overflow: hidden;

  .panel-title {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 95px;
    margin-right: -80px;
  }

  .label {
    display: block;
    float: right;
    padding: 0 4px;
    line-height: 14px;
    font-size: 12px;
  }
}

.panel-title {
  line-height: 16px;
  font-weight: normal;
  color: #333;
  text-transform: none;
  font-size: 15px;
}

.panel-body {
  padding: 7px 20px;
  border-bottom: 1px solid @smoke-dark;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 15px;
  }

  &:nth-of-type(2) {
    padding-top: 15px;
  }
}

.panel-primary {
  &>.panel-heading {
    border-bottom-color: @blue;
  }
}

.panel-danger {
  &>.panel-heading {
    border-bottom-color: @red;
  }
}

.panel-orange {
  &>.panel-heading {
    border-bottom-color: @orange;
  }
}

.panel-warning {
  &>.panel-heading {
    border-bottom-color: @yellow;
  }
}

.panel-info {
  &>.panel-heading {
    border-bottom-color: @blue-light;
  }
}

.panel-success {
  &>.panel-heading {
    border-bottom-color: @green;
  }
}