@import 'blocks/mb-wrapper.less';
@import 'blocks/mb-menu.less';
@import 'blocks/mb-frame.less';
@import 'blocks/mb-line.less';
@import 'blocks/mb-header.less';
@import 'blocks/mb-logo.less';
@import 'blocks/mb-game.less';
@import 'blocks/mb-profile.less';
@import 'blocks/mb-btn.less';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  color: #fff;
  font-family: Arial, sans-serif;
}

a, a:focus, a:hover {
  outline: none;
}