.ac-editable {

  &__edit {
    display: inline-block;
    color: #ff6218;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;

    .ac-reviews & {
      margin-right: 12px;
    }
  }

  &__save {
    display: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    background: transparent;
    border: 0;
    margin: 10px 0 0;
    padding: 0;
    outline: none;
    color: #478b1c;
  }

  &__delete {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    background: transparent;
    border: 0;
    vertical-align: middle;
    padding: 0;
    outline: none;
    color: #a8200e;
  }

  &__input {
    display: none;
  }
}

.ac-editable_edit {

  .ac-editable__edit {
    display: none;
  }

  .ac-editable__delete {
    display: none;
  }

  .ac-editable__save {
    display: inline-block;
  }

  .ac-editable__text {
    display: none;
  }

  .ac-editable__input{
    display: block;
  }
}
