.ac-header {

  &__cont {
    height: 77px;
    padding: 0 40px;
    background: url('../img/bg.jpg') 0 0;
    background-size: 244px 244px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }


}