.ac-login {
  height: 100%;
  background: url('../img/bg.jpg') 0 0;

  &__cont {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__form {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 308px;

    .form-group {
      margin-bottom: 15px;
    }

    .form-control {
      border: 0;
      border-radius: 2px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      color: #4a4a4a;
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      padding: 14px 20px 10px;
    }

    .checkbox {
      margin: 20px 0;
    }

    .checkbox input[type='checkbox'] {
      display: none;
    }
    .checkbox label {
      color: #fff;
      padding-left: 0;
      font-size: 13px;
      font-weight: 400;

      span {
        vertical-align: middle;
      }
    }
    .checkbox label:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 1px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      margin-right: 15px;
      vertical-align: middle;
    }
    .checkbox input[type='checkbox']:checked + label:before {
      background-color: #fff;
      font-family: 'Glyphicons Halflings';
      content: "\e013";
      color: #4a4a4a;
      text-align: center;
      font-size: 15px;
    }
  }

  &__title {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
  }
}