.ac-menu {
  margin-top: 25px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    padding: 8px 0;

    &_active {
      a.ac-menu__link {
        &, &:hover, &:active, &:focus {
          color: #ffffff;
        }
      }

      &:before {
        content:'';
        display: block;
        border: 7px solid transparent;
        border-left: 7px solid #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -7px;
      }
    }
  }

  a&__link {
    display: block;
    white-space: nowrap;
    font-size: 0;
    padding-left: 30px;

    &, &:active, &:focus {
      color: #baf398;
      text-decoration: none;
    }

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }

    span {
      white-space: normal;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      vertical-align: middle;
    }
  }
}