.ac-profile {
  padding: 30px 30px 18px;

  &__toggle {
    height: 35px;
    cursor: pointer;
    font-size: 0;
    white-space: nowrap;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__toggle-photo {
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    float: left;
  }

  &__toggle-name {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 53px;
    margin-left: -35px;
    padding-right: 15px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 35px;
      width: 12px;
      background: url('../img/ico_caret_white.svg') 50% 50% no-repeat;
    }
  }

  &__cont {
    margin: 0 0 0 30px;
    border: 0;
    background: #ffffff;
    padding: 30px;
    border-radius: 4px;
    min-width: 308px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);

    &:before {
      content:'';
      display: block;
      border: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -10px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__photo {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
  }

  &__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 86px;
    margin-left: -64px;
    margin-top: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 13px;
  }

  a&__logout {
    color: #ff6218;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    &, &:hover, &:active, &:focus {
      color: #ff6218;
    }
  }
}