.ac-product {

  &__cont {
    overflow: hidden;
  }

  &__cover {
    float: left;
    width: 270px;
    position: relative;

    &_empty {

      .ac-product__cover-load {
        display: block;
      }

      .ac-product__photo-delete {
        display: none;
      }
    }
  }

  &__photo {
    width: 270px;
    height: 270px;
    position: relative;
    background-image: url('../img/product__photo.png');
    background-position: 50% top;
    background-size: contain;
  }

  &__cover-load {
    margin-top: 22px;
    text-align: center;
    display: none;
  }

  &__photo-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
  }

  &__photo-delete {
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    color: #a8200e;
  }

  &__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 290px;
    margin-left: -270px;
    margin-top: -2px;
  }

  &__field {
    margin-bottom: 12px;

    textarea {
      height: 110px;
    }
  }

  .ac-editable {
    &.ac-product__value {
      margin-top: 2px;
    }
  }

  &__label {

    label {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: #8c8c8c;
      margin: 0 18px 0 0;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding: 11px 0;
    color: #000000;
    margin-top: -1px;
  }

  &__submit {
    margin-top: 40px;

    .ac-reviews & {
      margin-top: 30px;
    }
  }
}

.ac-prices {
  .ac-product__field {
    margin-bottom: 7px;
  }
  .ac-product__value {
    margin-top: 2px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}