.ac-reviews {

  &__list {}

  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #8c8c8c;
    margin-bottom: 18px;
  }

  &__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 17px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    margin-bottom: 8px;

    span {
      display: inline-block;
      margin-right: 18px;
      vertical-align: middle;
    }
  }

  &__rating {
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
  }

  &__toggle {
    padding-bottom: 18px;

    label {
      cursor: pointer;
    }
  }
}

