.pagination {
  margin: 30px 0 20px;
  border-radius: 0;
  margin-left: -10px;

  > li {

    > a,
    > span {
      padding: 4px 10px;
      color: #767676;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 13px;
      font-weight: 500;
      margin-right: 12px;
    }
    &:first-child {
      > a,
      > span {
        border-radius: 0;
      }
    }
    &:last-child {
      > a,
      > span {
        border-radius: 0;
      }
    }

    .glyphicon {
      font-weight: 400;
      padding: 0px 0 3px;
      vertical-align: middle;
    }
  }

  > li > a {
    &:hover,
    &:focus {
      color: #000;
      background-color: transparent;
      border-color: #c2c2c2;
    }
  }

  > li > span {
    &:hover,
    &:focus {
      color: #767676;
      background-color: transparent;
      border-color: transparent;
    }
  }

  > .active > a {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #000;
      background-color: transparent;
      border-color: #c2c2c2;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #c9c9c9;;
      background-color: transparent;
      border-color: transparent;
      cursor: default;
    }
  }
}