.ort-header {

  &__top {
    height: 25px;
    background-color: @blue-dark;
    padding: 0 40px;

    .phones({
      display: none;
    });

    .tablets({
      display: block;
    });
  }

  &__downloaded {
    color: @ui-light;
    line-height: 25px;
  }

  &__main {
    height: 150px;
    background-color: @blue-soft;
    overflow: hidden;

    .phones({
      height: auto;
    });

    .tablets({
      height: 150px;
    });
  }

  &__logo {
    float: left;
    .size(96px, 135px);
    background: url('../img/logo.png') no-repeat;
    background-size: cover;
    margin: 10px 0 0 28px;
    position: relative;

    .phones({
      .size(36px, 50px);
      margin: 5px 0 5px 10px;
    });

    .tablets({
      .size(96px, 135px);
      margin: 10px 0 0 28px;
    });

    a {
      position: absolute;
      .size(100%);
      left: 0;
      top:0;
    }
  }

  &__title {
    float: left;
    color: #d0d8ef;
    width: 100%;
    height: 60px;
    margin-left: -36px;
    padding-left: 46px;
    padding-right: 80px;
    margin-right: -70px;
    box-sizing: border-box;
    line-height: 58px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    .phones({
      display: block;
    });

    .tablets({
      display: none;
    });
  }

  &__profiles {
    float: right;
    position: relative;
    padding-left: 50px;

    .phones({
      display: none;
    });

    .tablets({
      display: block;
    });
  }

  &__profile {
    float: right;
    position: relative;
    height: 150px;
    overflow: hidden;
  }

  &__profile-link {
    position: absolute;
    .size(100%);
    top:0;
    left:0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}