.ort-player {
  margin-bottom: 63px;
  background-color: @blue-light;
  border-radius: 5px;

  .phones({
    border-radius: 0;
  });

  .tablets({
    border-radius: 5px;
  });

  .vjs-tech {
    border-radius: 5px;

    .phones({
      border-radius: 0;
    });

    .tablets({
      border-radius: 5px;
    });
  }

  .vjs-poster {
    outline: none;
    background-size: cover;
    border-radius: 5px;

    .phones({
      border-radius: 0;
    });

    .tablets({
      border-radius: 5px;
    });
  }

  .vjs-big-play-button {
    .size(43px);
    border: 0;
    background-color: transparent;
    opacity: 0.7;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      .size(43px);
      background-image: url('../img/ort-player.png');
      background-position: -5px -5px;
      background-repeat: no-repeat;
    }
  }

  &:hover .vjs-big-play-button,
  .vjs-big-play-button:focus {
    background-color: transparent !important;
    opacity: 1;
  }

  &.vjs-big-play-centered .vjs-big-play-button {
    margin-top: -21.5px;
    margin-left: -21.5px;
  }

  .vjs-control-bar {
    bottom: -63px;
    display: flex;
    height: 63px;
    background-color: @bg;
  }

  &.vjs-has-started.vjs-user-inactive.vjs-playing {

    .vjs-control-bar {
      visibility: visible;
      opacity: 1;
    }
  }

  .vjs-control {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    text-shadow: none !important;
  }

  .vjs-play-control {
    display: block;
    .size(25px);

    &:before {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      .size(25px);
      background-image: url('../img/ort-player.png');
      background-position: -5px -175px;
      background-repeat: no-repeat;
    }

    &.vjs-paused:after {
      background-position: -5px -140px;
    }
  }

  .vjs-volume-menu-button {
    left: 50px;
    .size(28px, 25px);

    .phones({
      left: 35px;
    });

    .tablets({
      left: 50px;
    });

    &:before {
      content: '' !important;
      display: block;
      position: absolute;
      top:0;
      left:0;
      .size(28px, 24px);
      background-image: url('../img/ort-player.png');
      background-repeat: no-repeat;
    }

    &.vjs-vol-0:before {
      background-position: -5px -275px;
    }

    &.vjs-vol-1:before {
      background-position: -5px -309px;
    }

    &.vjs-vol-2:before {
      background-position: -5px -343px;
    }

    &.vjs-vol-3:before {
      background-position: -5px -377px;
    }

    &:hover {
      width: 28px;
    }

    .vjs-menu {
      display: block;
      opacity: 1;
      width: 18px;
      left: 12px;

      .vjs-menu-content {
        width: 100%;
        height: 100%;
      }
    }

    .vjs-volume-bar {
      width: 100%;
      margin: 0;
      height: 100%;
      background-color: transparent;
    }

    .vjs-volume-level {
      display: none;
    }
  }

  .vjs-resolution-button {
    left: 105px;
    width: 85px;
    height: 25px;

    &:before {
      content: '' !important;
      display: block;
      position: absolute;
      top:0;
      left:0;
      .size(27px, 23px);
      background-image: url('../img/ort-player.png');
      background-position: -5px -210px;
      background-repeat: no-repeat;
    }

    .phones({
      left: 75px;
    });

    .tablets({
      left: 105px;
    });

    .vjs-resolution-button-label {
      display: block;
      position: absolute;
      top: 8px;
      width: 28px;
      text-align: center;
      color: @menu;
    }

    .vjs-menu {
      width: 43px;
      left: auto;
      right: 0;
      top: 0;
      bottom: auto;
      margin: 0;
      border: 0;
      margin-top: -36px;
      height: 100px;
      white-space: nowrap;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      &:after {
        content: '';
        display: block;
        .size(0px);
        border: 6px solid transparent;
        border-right-color: #95a6da;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        left: -10px;
      }

      li {
        display: block;
        width: 100%;
      }

      .vjs-menu-item {
        color: #fff;
        background-color: transparent;
        position: relative;
        z-index: 10;

        &:hover {
          background-color: @menu;
        }

        &:after {
          content: 'p';
        }
      }
    }

    .vjs-menu-content {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      bottom: auto;
      top: auto;
      background-color: #95a6da;
      border-radius: 2px;

      &:before {
        content: '';
        display: block;
        .size(6px, 9px);
        background: transparent url('../img/ort-player.png') no-repeat;
        background-position: -5px -58px;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: -12px;
        width: 6px;
        height: 9px;
      }
    }
  }

  .vjs-time-control {
    .size(60px, 25px);
    left: 50%;
    margin-left: -30px;
    font-size: 15px;
    color: @menu;
    line-height: 25px;
  }

  .vjs-download-button {
    .size(110px, 25px);
    right: 0;
    text-align: left;
    background-color: #95a6da;
    border-radius: 13px;
    padding: 0 10px;
    z-index: 100;

    &:after {
      content: '';
      display: block;
      .size(29px, 29px);
      position: absolute;
      top:0;
      right: 0;
      border: 4px solid #95a6da;
      border-radius: 50%;
      background-image: url('../img/ort-player.png');
      background-color: #95a6da;
      background-position: -5px -77px;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: @menu;

      &:after {
        border-color: @menu;
        background-color: @menu;
      }
    }

    .vjs-download-label {
      font-size: 12px;
      color: #fff;
      line-height: 26px;
      font-family: "Arial Black", Arial, sans-serif;
      font-weight: 900;
      display: inline-block;
      text-transform: uppercase;
      transform: scale(0.7, 1.1) skewX(-20deg) translateX(-7px);
    }

    .vjs-menu {
      width: 75px;
      left: 10px;
      right: auto;
      top: 0;
      bottom: auto;
      margin: 0;
      border: 0;
      margin-top: 25px;
      min-height: 100px;
    }
    .vjs-menu-content {
      position: static;
      display: block;
      margin: 0;
      bottom: auto;
      top: auto;
      background-color: #95a6da;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .vjs-menu-item {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      font-size: 11px;
      padding: 1px 3px;

      &.vjs-selected {
        background-color: transparent;
        color: #fff;
      }

      &:hover {
        background-color: @menu;
      }
    }

    .vjs-download-item-label {
      font-family: "Arial Black", Arial, sans-serif;
      font-weight: 900;
      display: inline-block;
      text-transform: uppercase;
      transform: scale(0.8, 1.0) skewX(-12deg) translateX(0px);
      font-size: 14px;
      width: 25px;
    }

    .vjs-download-item-size {
      display: inline-block;
    }
  }

  .vjs-favorite-button {
    .size(25px);
    right: 140px;
    text-align: left;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top:1px;
      left: 0;
      .size(25px, 22px);
      background-image: url('../img/ort-player.png');
      background-position: -5px -243px;
      background-repeat: no-repeat;
    }

    .phones({
      right: 115px;
    });

    .tablets({
      right: 140px;
    });

    &.vjs-selected:after {
      background-position: -5px -108px;
    }
  }

  .vjs-watermark {
    z-index: 9999;
  }

  .vjs-watermark-star {
    .size(33px, 31px);
    position: absolute;
    top: 7px;
    right: 9px;
    background: transparent url('../img/star.png') 50% 50% no-repeat;
  }

  .vjs-watermark-something {
    .size(16px);
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: transparent url('../img/something.png') 50% 50% no-repeat;
  }
}