.ort-footer {
  background-color: @blue-soft;
  padding: 17px 60px 63px;
  text-align: center;
  color: #fff;

  .phones({
    padding: 17px 20px 20px;
  });

  .tablets({
    padding: 17px 60px 63px;
  });

  &__copyright {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    margin: 7px 0;
    line-height: 16px;

    a {
      color: #fcff00;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__menu {
    margin: 0 42px;
    text-align: center;
    font-size: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid @menu;
    margin-top: 16px;
  }

  &__menu-item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    margin-right: 8px;

    &:not(:last-child):after {
      content: '|';
      display: inline-block;
      margin-left: 8px;
      font-size: 14px;
    }
  }

  &__menu-link {
    font-size: 14px;
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}