.ort-profile {
  margin: 0 140px;

  .phones({
    margin: 0;
  });

  .tablets({
    margin: 0 40px;
  });

  .desktops({
    margin: 0 140px;
  });

  &__videos {

    .phones({
      padding: 0 20px;
    });

    .tablets({
      padding: 0;
    });
  }

  &__videos-title {
    text-align: right;
    position: relative;
    margin-bottom: 40px;

    .phones({
      margin-bottom: 20px;
    });

    .tablets({
      margin-bottom: 28px;
    });

    .desktops({
      margin-bottom: 40px;
    });

    h2 {
      position: relative;
      color: @blue-light;
      text-transform: uppercase;
      font-size: 19px;
      font-family: "Arial Black", Arial, sans-serif;
      font-weight: 900;
      line-height: 1em;
      display: inline-block;
      background-color: @bg;
      padding: 0 10px 0 15px;
      margin: 0;
      transform: scale(0.9, 1.5) skewX(-15deg) translateX(19px);
      letter-spacing: 0;

      .l-desktops({
        font-size: 22px;
      });
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      width: 100%;
      border-top: 1px solid @blue-light;
    }
  }

  &__videos-list {
    overflow: hidden;
  }

  &__videos-cont {
    margin: 0 -6px;
    overflow: hidden;
  }

  &__videos-more {
    text-align: center;
    margin-top: -12px;

    button {
      border: 0;
      outline: none;
      width: auto;
      display: inline-block;
      color: #95a6da;
      padding-top: 42px;
      background: transparent url('../img/i-more.png') 50% top no-repeat;
      font-weight: bold;
      font-size: 14px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__video {
    position: relative;
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 0 6px;
    margin-bottom: 42px;
    text-align: center;

    .phones({
      width: 100%;
    });

    .tablets({
      width: 25%;
    });

    .l-desktops({
      width: 20%;
    });
  }

  &__video-cover {
    position: relative;
    .size(100%, 133px);
    box-sizing: border-box;
    border: 1px solid #d9dee9;
    margin-bottom: 5px;
    background-position: 50% 50%;
    background-size: cover;

    .phones({
      height: 250px;
      margin-bottom: 10px;
    });

    .tablets({
      height: 133px;
      margin-bottom: 5px;
    });

    .ort-social-ico {
      position: absolute;
      bottom: 4px;
      left: 4px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      .size(100%);
      top:0;
      left: 0;

      .ort-profile__video:hover & {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &__video-title {
    color: @blue-soft;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;

    .phones({
      font-size: 18px;
    });

    .tablets({
      font-size: 12px;
    });

    .ort-profile__video:hover & {
      text-decoration: underline;
    }
  }

  &__video-link {
    position: absolute;
    display: block;
    .size(100%);
    top:0;
    left:0;
  }

  &__main {
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__info {
    float: right;
    width: 188px;
    padding-left: 11px;
    box-sizing: border-box;

    .phones({
      float: none;
      padding: 0 20px;
      width: 100%;
    });

    .tablets({
      width: 188px;
      padding-left: 22px;
    });

    .desktops({
      padding-left: 11px;
    });

    .l-desktops({
      width: 240px;
      padding-left: 30px;
    });
  }

  &__photo {
    .size(142px);
    margin: 0 auto 15px;
    border-radius: 50%;
    background-position: 50% top;
    background-size: cover;

    .l-desktops({
      .size(200px);
      margin: 0 auto 30px;
    });
  }

  &__name {
    color: #465993;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 900;
    transform: scale(0.91, 1.4) skewX(-15deg) translateX(0px);
    letter-spacing: 0;
    margin: 0 -8px 11px;

    .phones({
      text-align: center;
      margin: 0 -8px 20px;
    });

    .tablets({
      text-align: left;
      margin: 0 -8px 11px;
    });

    .l-desktops({
      font-size: 28px;
      margin: 0 -8px 15px;
    });
  }

  &__props {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    font-size: 12px;
    color: @menu;

    .tablets({
      margin: 0 0 15px;
    });

    .desktops({
      margin: 0 0 30px;
    });

    li {
      display: block;
      line-height: 16px;
    }

    a {
      color: @menu;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__notes {
    color: @blue-dark;
    font-size: 12px;
  }

  &__main-video {
    float: left;
    width: 100%;
    padding-right: 188px;
    margin-right: -188px;
    box-sizing: border-box;

    .phones({
      float: none;
      padding: 0;
      margin: 0 0 20px;
    });

    .tablets({
      float: left;
      padding-right: 188px;
      margin-right: -188px;
      margin-bottom: 0;
    });

    .l-desktops({
      padding-right: 240px;
      margin-right: -240px;
    });

    video {
      width: 100%;
    }

    .ort-player {
      width: 100%;
      min-height: 415px;

      .phones({
        min-height: 232px;
      });

      .tablets({
        min-height: 300px;
      });

      .desktops({
        min-height: 415px;
      });
    }
  }
}
