.ort-social-ico {
  .size(16px);
  background: url('../img/social-icons.png') no-repeat;
  overflow: hidden;

  .ort-header__profile & {
    position: absolute;
    right: 7px;
    bottom: 5px;
  }

  &_facebook {
    background-position: -0px -0px;
  }

  &_flickr {
    background-position: -16px -0px;
  }

  &_google {
    background-position: -0px -16px;
  }

  &_instagram {
    background-position: -16px -16px;
  }

  &_pinterest {
    background-position: -0px -32px;
  }

  &_tamblr {
    background-position: -16px -32px;
  }

  &_twitter {
    background-position: -0px -48px;
  }
}
