.ort-up {
  text-align: center;
  position: fixed;
  right: -9999px;
  bottom: 225px;
  width: 32px;
  display: none;

  .desktops({
    right: 54px;
  });

  button {
    border: 0;
    outline: none;
    width: 32px;
    display: inline-block;
    color: #95a6da;
    padding-top: 21px;
    background: transparent url('../img/i-up.png') 50% top no-repeat;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &:active, &:focus {
      margin: 0;
      padding: 21px 0 0;
      border: 0;
    }
  }
}
