.ort-menu {
  background-color: @blue-dark;

  .phones({
    display: none;
    overflow: hidden;
  });

  .tablets({
    display: block;
    overflow: auto;
  });

  &__btn {
    float: right;
    position: relative;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 10px 10px 10px 0;
    height: 40px;
    width: 46px;
    background-color: transparent;
    outline: none;

    .phones({
      display: block;
    });

    .tablets({
      display: none;
    });

    &:hover, &:active {
      background-color: @blue-dark;
    }

    .icon-bar {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background-color: @blue-light;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cont {
    display: table;
    width: 100%;

    .phones({
      display: block;
    });

    .tablets({
      display: table;
    });
  }

  &__items {
    display: table-row;

    .phones({
      display: block;
    });

    .tablets({
      display: table-row;
    });
  }

  &__item {
    display: table-cell;
    vertical-align: middle;
    position: relative;

    .phones({
      display: block;
    });

    .tablets({
      display: table-cell;
    });

    &:not(:first-child):before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      bottom: 8px;
      width: 1px;
      background-color: #425286;
    }

    &.active, &:hover {
      background-color: lighten(@blue-dark, 5%);

      & + .ort-menu__item, & {
        &:before {
          display: none;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 9.5px;
    text-align: center;
    color: @menu;
    font-weight: bold;
    text-decoration: none;
    font-size: 0;

    .phones({
      text-align: left;
      border-bottom: 1px solid @blue-soft;
    });

    .tablets({
      text-align: center;
      border-bottom: 0;
    });
  }

  &__ico {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-right: 11px;

    .phones({
      width: 40px;
      text-align: center;
    });

    .tablets({
      width: auto;
      text-align: left;
      transform: scale(0.7);
      margin-right: 5px;
    });

    .desktops({
      transform: none;
      margin-right: 11px;
    });

    &:after {
      content: '';
      vertical-align: middle;
      display: inline-block;
      background: url('../img/menu-icons.png') no-repeat;
      overflow: hidden;
    }

    &_bonus:after {
      background-position: -0px -144px; width: 26px; height: 36px;
    }

    &_chat:after {
      background-position: -0px -0px; width: 37px; height: 36px;
    }

    &_favorites:after {
      background-position: -0px -108px; width: 28px; height: 36px;
    }

    &_home:after {
      background-position: -0px -36px; width: 35px; height: 36px;
    }

    &_hot:after {
      background-position: -0px -180px; width: 23px; height: 36px;
    }

    &_out:after {
      background-position: -0px -72px; width: 30px; height: 36px;
    }
  }

  &__text {
    vertical-align: middle;
    font-size: 16px;

    .phones({
      font-size: 18px;
      font-weight: normal;
    });

    .tablets({
      font-size: 14px;
      font-weight: bold;
    });

    .desktops({
      font-size: 16px;
    });
  }
}
