.ort-profiles-lock {
  position: absolute;
  .size(93px, 100%);
  left: 0;
  top:0;

  &__light {
    position: absolute;
    left: 0;
    top:0;
    .size(43px, 100%);
    background-color: @blue-soft;
    z-index: 20;

    &:after {
      content: '';
      .size(86px);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -43px;
      background-color: @blue-soft;
    }
  }

  &__dark {
    position: absolute;
    left: 7px;
    top:0;
    .size(43px, 100%);
    background-color: @blue-dark;
    z-index: 10;

    &:after {
      content: '';
      .size(86px);
      border-radius: 50%;
      position: absolute;
      left: -1px;
      top: 50%;
      margin-top: -41px;
      background-color: @blue-dark;
    }
  }

  &__link {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 26px;
    .size(48px);
    background: url('../img/lock.png') 50% 50% no-repeat;
    z-index: 30;
    opacity: 0.8;

    .ort-social-ico {
      display: block;
      position: absolute;
      bottom: -4px;
      right: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }
}