.ort-main {
  background-color: @bg;
  padding: 55px 0 25px;

  .phones({
    padding: 0px 0 25px;
  });

  .tablets({
    padding: 10px 0 25px;
  });

  .desktops({
    padding: 55px 0 25px;
  });
}
