.ort-notif {
  position: fixed;
  top: 285px;
  right: -9999px;
  overflow: hidden;
  opacity: 0.8;

  .desktops({
    right: 10px;
  });

  &:hover {
    opacity: 1;
  }

  &__new {
    overflow: hidden;
    color: @blue-light;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__count {
    float: left;
    font-size: 60px;
    transform: scale(0.8, 1.05) skewX(-12deg) translateX(31px) translateY(-2px);
  }

  &__profiles {
    float: left;
  }

  &__kind {
    font-size: 38px;
    height: 38px;
    line-height: 37px;
    transform: scale(0.7, 1.1) skewX(-12deg) translateX(14px) translateY(1px);
  }

  &__what {
    font-size: 15px;
    transform: scale(0.8, 1.1) skewX(-14deg) translateX(14px) translateY(1px);
  }

  &__check {
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: 900;
    padding: 0 15px;
    float: left;
    background-color: #d0d8ef;
    transform: scale(0.8, 1.1) skewX(-20deg) translateX(18px);
  }

  &__link {
    display: block;
    position: absolute;
    .size(100%);
    top:0;
    left:0;
  }
}