@import 'blocks/ac-wrapper.less';
@import 'blocks/ac-menu.less';
@import 'blocks/ac-profile.less';
@import 'blocks/ac-main.less';
@import 'blocks/btn.less';
@import 'blocks/form.less';
@import 'blocks/ac-prices.less';
@import 'blocks/ac-newprod.less';
@import 'blocks/bootstrap-select.less';
@import 'blocks/ac-product.less';
@import 'blocks/ac-editable.less';
@import 'blocks/ac-reviews.less';
@import 'blocks/rating.less';
@import 'blocks/breadcrumb.less';
@import 'blocks/ac-search.less';
@import 'blocks/pagination.less';
@import 'blocks/ac-blames.less';
@import 'blocks/ac-login.less';
@import 'blocks/ac-sidebar.less';
@import 'blocks/ac-board.less';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #e4e4e4;
  font-family: Roboto, sans-serif;
}

a {
  &, &:focus, &:hover, &:active {
    color: #000000;
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}