@import 'blocks/cleanvertising.less';
@import 'blocks/wrapper.less';
@import 'blocks/sidebar.less';
@import 'blocks/main.less';
@import 'blocks/userbar.less';
@import 'blocks/menu.less';
@import 'blocks/header.less';
@import 'blocks/bootstrap-select.less';
@import 'blocks/btn.less';
@import 'blocks/users.less';
@import 'blocks/datepicker.less';
@import 'blocks/feed.less';
@import 'blocks/badge.less';
@import 'blocks/feedback.less';
@import 'blocks/profile.less';
@import 'blocks/editable.less';
@import 'blocks/post.less';
@import 'blocks/form.less';
@import 'blocks/login.less';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
}

a, a:focus, a:hover {
  color: #1a7db1;
  outline: none;
}