.ac-blames {

  &__cont {
    padding: 27px 30px;
  }

  &__block {
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 28px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__title {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 17px;
  }

  &__item {
    font-size: 16px;
    line-height: 25px;
    color: #4b4a4a;
    font-weight: 400;
    margin-bottom: 15px;

    a, a:hover, a:focus, a:active, a:active:hover {
      text-decoration: none;
      color: #000;
      font-weight: 700;
    }
  }
}