.ac-menu {
  float: left;
  height: 100%;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

  &__item {
    float: left;
    height: 100%;
    margin-right: 40px;
    position: relative;

    &_active {
      a.ac-menu__link {
        &, &:hover, &:active, &:focus {
          color: #ffffff;
        }
      }

      &:after {
        content:'';
        display: block;
        border: 10px solid transparent;
        border-bottom: 10px solid #e4e4e4;
        position: absolute;
        bottom: 0;
        left:50%;
        margin-left: -10px;
      }
    }
  }

  a&__link {
    display: block;
    height: 100%;
    white-space: nowrap;
    font-size: 0;

    &, &:active, &:focus {
      color: #baf398;
      text-decoration: none;
    }

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    span {
      white-space: normal;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      vertical-align: middle;
    }
  }
}