.ac-main {
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  min-height: 200px;

  &__header {
    min-height: 75px;
    box-sizing: border-box;
    padding: 14px 20px 14px 30px;
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
  }

  &__title {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 250px 4px 0;
    margin-right: -240px;
  }

  &__action {
    float: left;
    text-align: right;
  }

  &__body {
    padding: 30px;

    .container-fluid {
      padding: 0;
    }
  }
}