.ac-profile {
  float: right;
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &__toggle {
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 0;
    white-space: nowrap;

    &:after {
      content: '';
      display: inline-block;
      height: 35px;
      width: 12px;
      margin-left: 16px;
      background: url('../img/ico_caret_white.svg') 50% 50% no-repeat;
    }
  }

  &__toggle-photo {
    width: 33px;
    height: 33px;
    border: 1px solid #ffffff;
    display: inline-block;
    background-color: #ffffff;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }

  &__cont {
    margin: 0 -10px 0 0;
    border: 0;
    background: #ffffff;
    padding: 30px;
    border-radius: 4px;
    min-width: 295px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);

    &:before {
      content:'';
      display: block;
      border: 10px solid transparent;
      border-bottom: 10px solid #ffffff;
      position: absolute;
      top: -20px;
      right: 45px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__photo {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
  }

  &__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 86px;
    margin-left: -64px;
    margin-top: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 13px;
  }

  a&__logout {
    color: #ff6218;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    &, &:hover, &:active, &:focus {
      color: #ff6218;
    }
  }
}