.ac-prices {

  &__price {
    margin-bottom: 5px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__shop {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
  }

  &__shop-input {
    display: none;
  }

  &__value {
    float: left;
    width: 25%;
    padding-left: 10px;
  }

  &__control {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 35px;
    margin-right: -25px;
  }

  &__label {
    float: left;
    width: 25px;
    color: #434343;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
  }



  &__new {
    margin-top: 20px;
  }

  &__action {
    float: left;
    line-height: 40px;
    margin-left: 30px;
  }


}

.ac-product {

  .ac-prices {
    margin-bottom: 40px;
  }

  .ac-prices__list {
    margin-top: 7px;
  }

  .ac-prices__price {
    height: 40px;
  }

  .ac-prices__shop {
    width: 170px;

    label {
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  .ac-prices__value {
    width: auto;

    .ac-prices__control {
      width: auto;
      padding-right: 8px;
      margin-right: 0;

      .form-control {
        width: 60px;
        padding: 12px;
      }
    }

    .ac-prices__label {
      width: auto;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
    }
  }

  .ac-editable_edit {

    .ac-prices__label {
      color: #434343;
      font-size: 14px;
      font-weight: 300;
      line-height: 40px;
    }
  }
}
