.ac-search {

  &__title {
    color: #404040;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__form {
    padding: 24px 20px 22px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
  }

  &__row {
    display: table-row;
  }

  &__field {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;

    label {
      color: black;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__input {
    width: 100%;
  }

  &__result {
    padding: 23px 30px;
  }

  &__table {
    width: 100%;

    td {
      height: 112px;
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid #e1e1e1;
      vertical-align: middle;
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }

  &__cover {
    padding-left: 15px;
    padding-right: 15px;
    width: 75px;
  }

  &__photo {
    width: 45px;
    height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__name {
    color: black;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__code {
    color: black;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    width: 290px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__result {

    p {
      margin: 5px 0;
      font-size: 16px;
    }
  }

}