.breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;

  li {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    &.active {
      color: #000000;
    }

    &+li:before {
      color: #000;
    }
  }

  a, a:hover, a:focus, a:active, a:active:focus {
    color: #9b9b9b;
  }
}