.btn, .btn-default {
  border-radius: 2px;
  border: 1px solid #a8a8a8;
  outline: none !important;
  background-color: #dfdfdf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #3c3c3c;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding: 11px 10px;
  min-width: 160px;
  box-sizing: border-box;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #3c3c3c;
    background-color: darken(#dfdfdf, 5%);
  }
}

.btn-success {
  background-color: #6eae44;
  border-color:#4d822b;
  color: #fff;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    background-color: darken(#6eae44, 5%);
    border-color:#4d822b;
    color: #fff;
  }
}

.btn-danger {
  background-color: #be4727;
  border-color: #be4727;
  color: #fff;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    background-color: darken(#be4727, 5%);
    border-color: darken(#be4727, 5%);
    color: #fff;
  }
}

.btn-warning {
  background-color: #f6a804;
  border-color: #bb7f00;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #fff;

  &:hover, &:focus, &:active,
  &.active.focus, &.active:focus, &.active:hover, &:active.focus,
  &:active:focus, &:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    background-color: darken(#f6a804, 5%);
    border-color: darken(#bb7f00, 5%);
    color: #fff;
  }
}

.btn-big {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 12px 30px;
}

.btn__ico {
  font-size: 25px;
  margin-right: 20px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}