.form-group {
  margin-bottom: 26px;

  label {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 16px;
  }
}

.form-control {
  border-radius: 2px;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  height: 40px;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 12px 20px;
  box-shadow: none;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(225,225,225,.6);
    border: 2px solid #e1e1e1;
  }

  &::-moz-placeholder {
    color: #434343;
  }
  &:-ms-input-placeholder {
    color: #434343;
  }
  &::-webkit-input-placeholder {
    color: #434343;
  }
}

