.star-rating {
  font-size: 14px;

  .rating-container {
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;

    .rating-stars {
      color: #fad141;
      transition: none;

      &:before {
        text-shadow: none;
      }
    }
  }
}