@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-regular-webfont.eot');
    src: url('../fonts/panton-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-regular-webfont.woff2') format('woff2'),
    url('../fonts/panton-regular-webfont.woff') format('woff'),
    url('../fonts/panton-regular-webfont.ttf') format('truetype'),
    url('../fonts/panton-regular-webfont.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-italic-webfont.eot');
    src: url('../fonts/panton-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-italic-webfont.woff2') format('woff2'),
    url('../fonts/panton-italic-webfont.woff') format('woff'),
    url('../fonts/panton-italic-webfont.ttf') format('truetype'),
    url('../fonts/panton-italic-webfont.svg#pantonitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-bold-webfont.eot');
    src: url('../fonts/panton-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-bold-webfont.woff2') format('woff2'),
    url('../fonts/panton-bold-webfont.woff') format('woff'),
    url('../fonts/panton-bold-webfont.ttf') format('truetype'),
    url('../fonts/panton-bold-webfont.svg#pantonbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-bolditalic-webfont.eot');
    src: url('../fonts/panton-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/panton-bolditalic-webfont.woff') format('woff'),
    url('../fonts/panton-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/panton-bolditalic-webfont.svg#pantonbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-light-webfont.eot');
    src: url('../fonts/panton-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-light-webfont.woff2') format('woff2'),
    url('../fonts/panton-light-webfont.woff') format('woff'),
    url('../fonts/panton-light-webfont.ttf') format('truetype'),
    url('../fonts/panton-light-webfont.svg#panton_lightregular') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Panton';
    src: url('../fonts/panton-lightitalic-webfont.eot');
    src: url('../fonts/panton-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/panton-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/panton-lightitalic-webfont.woff') format('woff'),
    url('../fonts/panton-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/panton-lightitalic-webfont.svg#panton_lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

html, body {
    height: 100%;
}

body {
    font-family: Panton, sans-serif;
    color: #000;
    background-color: #fff;
}

.wrapper {
    background-color: #fff;
    max-width: 1920px;
    min-width: 980px;
    margin: 0 auto;
}

.top {
    background: url('../img/top__bg.png') 50% top no-repeat;
    min-height: 716px;
}

.top__cont {
    width: 960px;
    margin: 0 auto;
    padding-top: 126px;
    min-height: 590px;
    background: url('../img/top__phone.png') left 50% no-repeat;
    background-origin: content-box;
}

.top__desc {
    padding-left: 400px;
    padding-top: 87px;
    color: #fff;
}

.top__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 93px;
    color: #fff;
    margin: 0 0 15px;
}

.top__text {
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
}

.top__title:before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('../img/icons.png') 0 -251px no-repeat;
    margin-right: 25px;
    vertical-align: top;
}

.top-app {
    margin-top: 17px;
}

.top-app__title {
    font-size: 33px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

.top-app__links {
    margin-top: 19px;
    font-size: 0;
}

.top-app__link {
    display: inline-block;
    width: 89px;
    height: 89px;
    margin-right: 31px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
}

.top-app__link:hover {
    opacity: 0.8;
}

.top-app__link_apple:before {
    content: '';
    display: block;
    position: absolute;
    width: 33px;
    height: 41px;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -22px;
    background: url('../img/icons.png') 0 -43px no-repeat;
}

.top-app__link_android:before {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 43px;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -22px;
    background: url('../img/icons.png') 0 0 no-repeat;
}

.caps {
    background: url('../img/caps__bg.png') 50% 90px no-repeat;
    padding-top: 98px;
}

.caps__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    margin: 0;
}

.caps__list {
    max-width: 1080px;
    margin: 90px auto 0;
    padding: 0 10px;
}

.caps-item {

}

.caps-item_smart {
    background: url('../img/caps_smart.png') 615px top no-repeat;
    min-height: 430px;
    margin-bottom: 98px;
}

.caps-item_smart .caps-item__cont {
    padding-right: 540px;
    padding-top: 121px;
}

.caps-item_check {
    background: url('../img/caps_check.png') left top no-repeat;
    min-height: 391px;
    margin-left: -56px;
    padding-left: 56px;
    margin-bottom: 53px;
}

.caps-item_check .caps-item__cont {
    padding-left: 529px;
    padding-top: 107px;
}

.caps-item_new {
    background: url('../img/caps_new.png') 649px top no-repeat;
    min-height: 435px;
    padding-bottom: 182px;
}

.caps-item_new .caps-item__cont {
    padding-right: 470px;
    padding-top: 153px;
}

.caps-item__cont {
    text-align: left;
}

.caps-item__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 22px;
    position: relative;
}

.caps-item__title:before {
    content: '';
    display: block;
    position: absolute;
    width: 29px;
    height: 5px;
    background-color: #6cb83a;
    left: 2px;
    top: -28px;
    border-radius: 3px;

}

.caps-item__text {
    color: #5f5f5f;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

.act {
    background: url('../img/act__bg.png') 50% top no-repeat;
    height: 322px;
    color: #fff;
}

.act__cont {
    padding: 56px 0 0;
}

.act__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    margin: 0 0 53px;
    text-align: center;
}

.act__list {
    text-align: center;
    font-size: 0;
    margin-top: 30px;
}

.act__item {
    display: inline-block;
    width: 256px;
    margin-right: 30px;
    padding-left: 105px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.act__item_scan:before {
    content: '';
    display: block;
    position: absolute;
    width: 78px;
    height: 50px;
    top: 0;
    left: 0;
    background: url('../img/icons.png') 0 -201px no-repeat;
}

.act__item_price:before {
    content: '';
    display: block;
    position: absolute;
    width: 78px;
    height: 50px;
    top: 0;
    left: 0;
    background: url('../img/icons.png') 0 -101px no-repeat;
}

.act__item_review:before {
    content: '';
    display: block;
    position: absolute;
    width: 78px;
    height: 50px;
    top: 0;
    left: 0;
    background: url('../img/icons.png') 0 -151px no-repeat;
}

.act__count {
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;
    margin-bottom: 7px;
}

.act__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

.reviews {
    min-height: 596px;
    background: url('../img/reviews__bg.png') 50% top no-repeat;
    color: #fff;
}

.reviews__cont {
    padding-top: 86px;
}

.reviews__title {
    text-align: center;
    margin: 0 0 88px;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}

.reviews__list {
    font-size: 0;
    text-align: center;
}

.review {
    display: inline-block;
    width: 33.3%;
    max-width: 400px;
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: left;
}

.review__head {
    overflow: hidden;
    margin-bottom: 24px;
}

.review__photo {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: 50% top;
    background-size: cover;
}

.review__name {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 128px;
    margin-left: -100px;
    height: 100px;
    font-size: 0;
}

.review__name:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.review__name span {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
}

.review__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.contact {
    color: #000;
    min-height: 550px;
}

.contact__cont {
    width: 370px;
    margin: 0 auto;
    padding-top: 104px;
}

.contact__title {
    margin: 0 0 33px;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
}

.contact__form {
    position: relative;
}

.contact__field {
    padding: 26px 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;

    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.contact__input {
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    transition: height 0.2s;
    padding: 0;
}

.contact__input::-moz-placeholder {
    color: #000;
}
.contact__input:-ms-input-placeholder {
    color: #000;
}
.contact__input::-webkit-input-placeholder {
    color: #000;
}

textarea.contact__input {
    height: 17px;
}

textarea.contact__input:focus {
    height: 60px;
}

.contact__submit {
    background-color: #6cb83a;
    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
    border-radius: 26px;
    width: 100%;
    margin-top: 49px;
    border: 0;
    outline: none;

    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.success-message {
    background-color: #fff;
    color: #444;
    font-size: 15px;
    left: 0;
    opacity: 0;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    visibility: hidden;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%);
    border-radius: 4px;
}

.form-send .success-message {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-send .contact__field,
.form-send .contact__submit {
    opacity: 0;
}

.app {
    min-height: 471px;
    background: #fff url('../img/app__bg.png') 50% bottom no-repeat;
    color: #fff;
}

.app__cont {
    width: 960px;
    margin: 0 auto;
    height: 471px;
    background: url('../img/app__phones.png') -58px bottom no-repeat;
    padding-left: 574px;
    padding-top: 180px;
    box-sizing: border-box;
}

.app__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    margin: 0 0 30px;
}

.app__links {
    font-size: 0;
}

.app__link {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 36px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
}

.app__link:hover {
    opacity: 0.8;
}

.app__link_apple:before {
    content: '';
    display: block;
    position: absolute;
    width: 33px;
    height: 41px;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -22px;
    background: url('../img/icons.png') 0 -43px no-repeat;
}

.app__link_android:before {
    content: '';
    display: block;
    position: absolute;
    width: 36px;
    height: 43px;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -22px;
    background: url('../img/icons.png') 0 0 no-repeat;
}

.our {
    max-width: 1170px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    font-size: 0;
    color: #000;
    padding: 31px 0 24px;
    margin: 0 auto;
}

.our__block {
    display: inline-block;
    padding: 0 47px 0 13px;
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
    vertical-align: middle;
}

.our__email {
    color: #000;
    text-decoration: none;
}

.our__email:hover {
    color: #000;
    border-bottom: 1px solid #000 ;
}

.our__social {
    display: inline-block;
    font-size: 0;
    margin-left: 27px;
    vertical-align: middle;
    height: 38px;
}

.our__social-link {
    display: inline-block;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.our__social-link_vk:before {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -5px;
    background: url('../img/icons.png') 0 -341px no-repeat;
}

.our__social-link_fb:before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 17px;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -9px;
    background: url('../img/icons.png') 0 -84px no-repeat;
}

.our__social-link:hover {
    opacity: 0.8;
}

.copyright {
    padding: 40px 0 200px;
    text-align: center;
}

.copyright__text {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 32px;
}