.ac-sidebar
    .ac-sidebar__cont
        .ac-profile.dropdown
            .ac-profile__toggle.dropdown-toggle(data-toggle="dropdown")
                .ac-profile__toggle-photo(style='background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)')
                .ac-profile__toggle-name Admin
            .ac-profile__cont.dropdown-menu
                .ac-profile__photo(style='background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)')
                .ac-profile__info
                    .ac-profile__name Яблоков Владимир
                    a.ac-profile__logout(href='') Выйти
        .ac-menu
            ul.ac-menu__list
                li.ac-menu__item(class=page=='prods' ? 'ac-menu__item_active' : '')
                    a.ac-menu__link(href='')
                        span Товары
                li.ac-menu__item(class=page=='blame' ? 'ac-menu__item_active' : '')
                    a.ac-menu__link(href='')
                        span Жалобы
