link(href='libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
link(href='libs/bootstrap-star-rating/css/star-rating.min.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
link(rel="icon", type="image/png", href="img/favicon.png")
link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
