// Screen Modes
@phone-s: ~"(max-width: 375px)"; // default
@phone-m: ~"(min-width: 375px)";
@phone-l: ~"(min-width: 411px)";
@tablet:  ~"(min-width: 768px)";
@desktop: ~"(min-width: 960px) and (orientation: landscape)";
