extends ./include/layout.jade
block vars
    - var page = 'blame'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li.active Жалобы
        .ac-blames
            .ac-blames__cont
                .ac-blames__block
                    .ac-blames__title Сегодня
                    .ac-blames__list
                        .ac-blames__item Пользователь <a href="">Иван Иванов</a> пожаловался на цену <a  href="">Молоко цельное отборное пастеризованное “Домик в деревне”</a> в <a href="">Перекрестке</a>
                .ac-blames__block
                    .ac-blames__title Вчера
                    .ac-blames__list
                        .ac-blames__item Пользователь <a href="">Иван Иванов</a> пожаловался на цену <a  href="">Молоко цельное отборное пастеризованное “Домик в деревне”</a> в <a href="">Перекрестке</a>
                        .ac-blames__item Пользователь <a href="">Иван Иванов</a> пожаловался на цену <a  href="">Молоко цельное отборное пастеризованное “Домик в деревне”</a> в <a href="">Перекрестке</a>
                        .ac-blames__item Пользователь <a href="">Иван Иванов</a> пожаловался на цену <a  href="">Молоко цельное отборное пастеризованное “Домик в деревне”</a> в <a href="">Перекрестке</a>
                        .ac-blames__item Пользователь <a href="">Иван Иванов</a> пожаловался на цену <a  href="">Молоко цельное отборное пастеризованное “Домик в деревне”</a> в <a href="">Перекрестке</a>