extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li.active Карточка товара
        .ac-main__body.ac-product
            form.ac-product__form
                .ac-product__cont
                    .ac-product__cover
                        .ac-product__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                            a.ac-product__photo-link(href='')
                            button(type='button').ac-product__photo-delete ×
                        .ac-product__cover-load
                            button.btn(type='button') Загрузить фото
                    .ac-product__info
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Наименование:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Молоко цельное отборное пастеризованное “Домик в деревне”')
                                .ac-product__text.ac-editable__text Молоко цельное отборное пастеризованное “Домик в деревне”
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label
                                label Гост:
                            .ac-product__value
                                .ac-product__text 0825586558265
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Бренд:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Домик в деревне')
                                .ac-product__text.ac-editable__text Домик в деревне
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Производитель:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Домик в деревне')
                                .ac-product__text.ac-editable__text Домик в деревне
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label.ac-reviews__toggle(data-toggle="collapse", data-target="#reviews")
                                label Отзывы (5):
                            .ac-reviews
                                .ac-reviews__list.collapse#reviews
                                    .ac-reviews__item.ac-editable
                                        .ac-reviews__name
                                            span Дарья Семенова
                                            button.ac-editable__edit(type='button') Редактировать
                                        .ac-reviews__rating
                                            input(type="number", value='3')
                                        .ac-reviews__value
                                            .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                            textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                        button.ac-editable__save(type='button') Сохранить
                                    .ac-reviews__item.ac-editable
                                        .ac-reviews__name
                                            span Дарья Семенова
                                            button.ac-editable__edit(type='button') Редактировать
                                        .ac-reviews__rating
                                            input(type="number", value='3')
                                        .ac-reviews__value
                                            .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                            textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                        button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label
                                label Цены:
                            .ac-prices
                                .ac-prices__list
                                    .ac-prices__price.ac-product__value.ac-editable
                                        .ac-prices__shop
                                            label Ашан
                                            input.ac-prices__shop-input(type='text', value='0')
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label руб.
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label коп.
                                        .ac-prices__action
                                            button.ac-editable__save(type='') Сохранить
                                        .ac-prices__action
                                            button.ac-editable__edit(type='') Редактировать
                                        .ac-prices__action
                                            button.ac-editable__delete(type='') ×
                                    .ac-prices__price.ac-product__value.ac-editable
                                        .ac-prices__shop
                                            label Магнит
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label руб.
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label коп.
                                        .ac-prices__action
                                            button.ac-editable__save(type='') Сохранить
                                        .ac-prices__action
                                            button.ac-editable__edit(type='') Редактировать
                                        .ac-prices__action
                                            button.ac-editable__delete(type='') ×
                                .ac-prices__new
                                    button.btn(type='button', data-edit='true') Добавить магазин
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Описание:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                textarea.form-control.ac-editable__input Молоко цельное отборное пастеризованное “Домик в деревне”
                                .ac-product__text.ac-editable__text Молоко цельное отборное пастеризованное “Домик в деревне”
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__submit
                            button.btn.btn-success.btn-big(type='submit') Сохранить товар
