extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href="#") Поиск товаров
                    li.active Отзывы
            .ac-main__action
                a.btn.btn-success.btn-big(href='index.html')
                    span.btn__ico +
                    span Добавить товар
        .ac-search
            form.ac-search__form
                .ac-search__row
                    .ac-search__field
                        label Поиск
                    .ac-search__field.ac-search__input
                        input.form-control(type='text', placeholder='Введите штрих-код')
                    .ac-search__field
                        select.selectpicker.ac-search__type
                            option Штрих-код
                            option Название
                    .ac-search__field.ac-search__submit
                        button.btn(type='submit') Найти
            .ac-search__result
                .ac-search__title 40 товаров
                table.ac-search__table
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                nav
                    ul.pagination
                        li.disabled
                            span <i class="glyphicon glyphicon-menu-left"></i> Назад
                        li.active
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") 5
                        li
                            a(href="#") 6
                        li
                            span ...
                        li
                            a(href="#") 10
                        li
                            a(href="#")
                                span Вперед <i class="glyphicon glyphicon-menu-right"></i>
