extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href="#") Поиск товаров
                    li.active Отзывы
            .ac-main__action
                a.btn.btn-success.btn-big(href='index.html')
                    span.btn__ico +
                    span Добавить товар
        .ac-search
            form.ac-search__form
                .ac-search__row
                    .ac-search__field
                        label Поиск
                    .ac-search__field.ac-search__input
                        input.form-control(type='text', placeholder='Введите штрих-код')
                    .ac-search__field
                        select.selectpicker.ac-search__type
                            option Штрих-код
                            option Название
                    .ac-search__field.ac-search__submit
                        button.btn(type='submit') Найти
            .ac-search__result
                p Товар <b>Молоко цельное отборное пастеризованное</b> не найден