extends ./parts/layout.jade
block vars
    - page = 'Blank';
block main
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Blank Page
                        .panel-body
                            p This is a blank page.

