extends ./parts/layout.jade
block vars
    - page = 'Buttons';
block main
    .container-fluid.half-padding
        .template.template__btns
            .row
                .col-md-8
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Buttons
                        .panel-body
                            button.btn.btn-primary(type="button") Primary
                            button.btn.btn-success(type="button") Success
                            button.btn.btn-info(type="button") Info
                            button.btn.btn-warning(type="button") Warning
                            button.btn.btn-danger(type="button") Danger
                            button.btn.btn-default(type="button") Default
                    .container-fluid.half-padding
                        .row
                            .col-md-6
                                .panel.panel-danger
                                    .panel-heading
                                        h3.panel-title States
                                    .panel-body
                                        .template__btns
                                            button.btn.btn-info(type="button") Normal
                                            button.btn.btn-info.active(type="button") Active
                                            button.btn.btn-info.disabled(type="button") Disabled
                            .col-md-6
                                .panel.panel-danger
                                    .panel-heading
                                        h3.panel-title Dropdowns
                                    .panel-body
                                        .template__btns
                                            .btn-group
                                                button.btn.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Action&thinsp;
                                                    span.caret
                                                ul.dropdown-menu
                                                    li
                                                        a(href="#") Action
                                                    li
                                                        a(href="#") Another action
                                                    li
                                                        a(href="#") Something else
                                                    li.divider(role="separator")
                                                    li
                                                        a(href="#") Separated link
                                            .btn-group
                                                button.btn.btn-primary(type="button") Action
                                                .btn-group
                                                    button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                        span.caret
                                                    ul.dropdown-menu
                                                        li
                                                            a(href="#") Action
                                                        li
                                                            a(href="#") Another action
                                                        li
                                                            a(href="#") Something else
                                                        li.divider(role="separator")
                                                        li
                                                            a(href="#") Separated link
                                            .btn-group
                                                button.btn.btn-default(type="button") Up
                                                .btn-group.dropup
                                                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                        span.caret
                                                    ul.dropdown-menu.dropdown-menu-right
                                                        li
                                                            a(href="#") Action
                                                        li
                                                            a(href="#") Another action
                                                        li
                                                            a(href="#") Something else
                                                        li.divider(role="separator")
                                                        li
                                                            a(href="#") Separated link
                    .container-fluid.half-padding
                        .row
                            .col-md-12
                                .panel.panel-danger
                                    .panel-heading
                                        h3.panel-title Button groups
                                    .panel-body
                                        .btn-toolbar(role="toolbar")
                                            .btn-group(data-toggle="buttons")
                                                label.btn.btn-danger.active
                                                    input(type="checkbox", name="options", checked="checked")
                                                    | Left
                                                label.btn.btn-danger
                                                    input(type="checkbox", name="options")
                                                    | Center
                                                label.btn.btn-danger
                                                    input(type="checkbox", name="options")
                                                    | Right
                                            .btn-group(data-toggle="buttons")
                                                label.btn.btn-primary
                                                    input(type="radio", name="options", checked="checked")
                                                    i.fa.fa-align-left
                                                label.btn.btn-primary.active
                                                    input(type="radio", name="options")
                                                    i.fa.fa-align-center
                                                label.btn.btn-primary
                                                    input(type="radio", name="options")
                                                    i.fa.fa-align-justify
                                                label.btn.btn-primary
                                                    input(type="radio", name="options")
                                                    i.fa.fa-align-right
                                            .btn-group
                                                button.btn.btn-default 1
                                                button.btn.btn-default 2
                                                button.btn.btn-default 3
                                                button.btn.btn-default 4
                                                button.btn.btn-default 5
                                            .btn-group
                                                button.btn.btn-info Single
                                                .btn-group
                                                    button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Group&thinsp;
                                                        span.caret
                                                    ul.dropdown-menu
                                                        li
                                                            a(href="#") One
                                                        li
                                                            a(href="#") Two
                                                        li
                                                            a(href="#") Three
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Sizes
                        .panel-body
                            .template__btns
                                button.btn.btn-primary.btn-lg(type="button") Large button
                                button.btn.btn-default.btn-lg(type="button") Large button
                            .template__btns
                                button.btn.btn-primary(type="button") Default button
                                button.btn.btn-default(type="button") Default button
                            .template__btns
                                button.btn.btn-primary.btn-sm(type="button") Small button
                                button.btn.btn-default.btn-sm(type="button") Small button
                            .template__btns
                                button.btn.btn-primary.btn-xs(type="button") XS button
                                button.btn.btn-default.btn-xs(type="button") XS button
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Icons
                        .panel-body
                            div
                                button.btn(style='background-color: #43609C; border-color: #43609C; color: #fff;')
                                    i.fa.fa-fw.fa-facebook
                                button.btn(style='background-color: #E62117; border-color: #E62117; color: #fff;')
                                    i.fa.fa-fw.fa-youtube-play
                                button.btn(style='background-color: #FB6405; border-color: #FB6405; color: #fff;')
                                    i.fa.fa-fw.fa-rss
                                button.btn(style='background-color: #563A59; border-color: #563A59; color: #fff;')
                                    i.fa.fa-fw.fa-slack
                                button.btn(style='background-color: #20c05c; border-color: #20c05c; color: #fff;')
                                    i.fa.fa-fw.fa-pagelines
                                button.btn(style='background-color: #FED42A; border-color: #FED42A; color: #fff;')
                                    i.fa.fa-fw.fa-flash
