extends ./parts/layout.jade
block vars
    - page = 'Controls';
block main
    .container-fluid.half-padding
        .template.template__controls
            .row
                .col-md-6
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Inputs
                        .panel-body
                            .form-horizontal
                                .form-group
                                    label.col-sm-2.control-label Text
                                    .col-sm-10
                                        input.form-control(type="email", placeholder="Text")
                                .form-group
                                    label.col-sm-2.control-label Select
                                    .col-sm-10
                                        select.selectpicker.form-control(placeholder='Select')
                                            option One
                                            option Two
                                            option Three
                                .form-group
                                    label.col-sm-2.control-label Multiple
                                    .col-sm-10
                                        select.selectpicker.form-control(placeholder='Select', multiple='multiple')
                                            option One
                                            option Two
                                            option Three
                                .form-group
                                    label.col-sm-2.control-label Textarea
                                    .col-sm-10
                                        textarea.form-control(placeholder='Textarea', rows='7')
                                .form-group
                                    label.col-sm-2.control-label Checkbox
                                    .col-sm-10
                                        .checkbox
                                            input#chb1(type='checkbox', checked='checked')
                                            label(for='chb1') Label
                                .form-group
                                    label.col-sm-2.control-label Radio
                                    .col-sm-10
                                        .radio.radio-inline
                                            input#r1(type='radio', name='controls_radio', checked='checked')
                                            label(for='r1') Radio 1
                                        .radio.radio-inline
                                            input#r2(type='radio', name='controls_radio')
                                            label(for='r2') Radio 2
                                .form-group
                                    label.col-sm-2.control-label Submit
                                    .col-sm-10
                                        button.btn.btn-default(type='submit') Submit Button
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Date & time
                        .panel-body
                            .form
                                .row
                                    .col-md-6
                                        .form-group
                                            label Date
                                            .input-group.date
                                                input.form-control(type="text", value="12/01/2015")
                                                .input-group-addon
                                                    .fa.fa-calendar
                                    .col-md-6
                                        .form-group
                                            label Time
                                            .input-group.timepicker.bootstrap-timepicker
                                                input.form-control(type="text")
                                                .input-group-addon
                                                    .fa.fa-clock-o
                                .input-daterange
                                    .row
                                        .col-md-6
                                            .form-group
                                                label Date range from
                                                .input-group.date
                                                    input.form-control(type="text", value="01/01/2016")
                                                    .input-group-addon
                                                        .fa.fa-calendar-minus-o
                                        .col-md-6
                                            .form-group
                                                label to
                                                .input-group.date
                                                    input.form-control(type="text", value="01/15/2016")
                                                    .input-group-addon
                                                        .fa.fa-calendar-plus-o
                                .row
                                    .col-md-12
                                        label Calendar
                                        .datepicker-embed
                .col-md-2
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Check and radio
                        .panel-body
                            .checkbox.checkbox-primary
                                input#ch1(type='checkbox', checked='checked')
                                label(for='ch1') Primary
                            .checkbox.checkbox-success
                                input#ch2(type='checkbox', checked='checked')
                                label(for='ch2') Success
                            .checkbox.checkbox-info
                                input#ch3(type='checkbox', checked='checked')
                                label(for='ch3') Info
                            .checkbox.checkbox-warning
                                input#ch4(type='checkbox', checked='checked')
                                label(for='ch4') Warning
                            .checkbox.checkbox-danger
                                input#ch5(type='checkbox', checked='checked')
                                label(for='ch5') Danger
                            .checkbox
                                input#ch6(type='checkbox', checked='checked')
                                label(for='ch6') Default
                        .panel-body
                            input.bs-switch(type='checkbox', checked='checked', data-size="mini", data-on-color="success", data-off-color="danger")
                        .panel-body
                            .radio.radio-primary
                                input#rad1(type='radio', name='radio', checked='checked')
                                label(for='rad1') Primary
                            .radio.radio-success
                                input#rad2(type='radio', name='radio')
                                label(for='rad2') Success
                            .radio.radio-info
                                input#rad3(type='radio', name='radio')
                                label(for='rad3') Info
                            .radio.radio-warning
                                input#rad4(type='radio', name='radio')
                                label(for='rad4') Warning
                            .radio.radio-danger
                                input#rad5(type='radio', name='radio')
                                label(for='rad5') Danger
                            .radio
                                input#rad6(type='radio', name='radio')
                                label(for='rad6') Default
            .row
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Input states
                        .panel-body
                            .form
                                .form-group
                                    label.control-label Disabled
                                    input.form-control(type='text', placeholder='Disabled', disabled='disabled')
                                .form-group.has-error.has-feedback
                                    label.control-label Has error
                                    input.form-control(type='text', value='Error')
                                    span.glyphicon.glyphicon-remove.form-control-feedback
                                .form-group.has-success.has-feedback
                                    label.control-label Has success
                                    input.form-control(type='text', value='Success')
                                    span.glyphicon.glyphicon-ok.form-control-feedback
                                .form-group.has-warning.has-feedback
                                    label.control-label Has warning
                                    input.form-control(type='text', value='Warning')
                                    span.glyphicon.glyphicon-exclamation-sign.form-control-feedback
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Autocomplete
                        .panel-body
                            .form
                                .form-group
                                    label.control-label Country select
                                    select.selectize#select-country()
                                        option(value="") Start typing
                                        option(value='AF') Afghanistan
                                        option(value='AX') Åland Islands
                                        option(value='AL') Albania
                                        option(value='DZ') Algeria
                                        option(value='AS') American Samoa
                                        option(value='AD') Andorra
                                        option(value='AO') Angola
                                        option(value='AI') Anguilla
                                        option(value='AQ') Antarctica
                                        option(value='AG') Antigua and Barbuda
                                        option(value='AR') Argentina
                                        option(value='AM') Armenia
                                        option(value='AW') Aruba
                                        option(value='AU') Australia
                                        option(value='AT') Austria
                                        option(value='AZ') Azerbaijan
                                        option(value='BS') Bahamas
                                        option(value='BH') Bahrain
                                        option(value='BD') Bangladesh
                                        option(value='BB') Barbados
                                        option(value='BY') Belarus
                                        option(value='BE') Belgium
                                        option(value='BZ') Belize
                                        option(value='BJ') Benin
                                        option(value='BM') Bermuda
                                        option(value='BT') Bhutan
                                        option(value='BO') Bolivia, Plurinational State of
                                        option(value='BA') Bosnia and Herzegovina
                                        option(value='BW') Botswana
                                        option(value='BV') Bouvet Island
                                        option(value='BR') Brazil
                                        option(value='IO') British Indian Ocean Territory
                                        option(value='BN') Brunei Darussalam
                                        option(value='BG') Bulgaria
                                        option(value='BF') Burkina Faso
                                        option(value='BI') Burundi
                                        option(value='KH') Cambodia
                                        option(value='CM') Cameroon
                                        option(value='CA') Canada
                                        option(value='CV') Cape Verde
                                        option(value='KY') Cayman Islands
                                        option(value='CF') Central African Republic
                                        option(value='TD') Chad
                                        option(value='CL') Chile
                                        option(value='CN') China
                                        option(value='CX') Christmas Island
                                        option(value='CC') Cocos (Keeling) Islands
                                        option(value='CO') Colombia
                                        option(value='KM') Comoros
                                        option(value='CG') Congo
                                        option(value='CD') Congo, the Democratic Republic of the
                                        option(value='CK') Cook Islands
                                        option(value='CR') Costa Rica
                                        option(value='CI') Côte d'Ivoire
                                        option(value='HR') Croatia
                                        option(value='CU') Cuba
                                        option(value='CY') Cyprus
                                        option(value='CZ') Czech Republic
                                        option(value='DK') Denmark
                                        option(value='DJ') Djibouti
                                        option(value='DM') Dominica
                                        option(value='DO') Dominican Republic
                                        option(value='EC') Ecuador
                                        option(value='EG') Egypt
                                        option(value='SV') El Salvador
                                        option(value='GQ') Equatorial Guinea
                                        option(value='ER') Eritrea
                                        option(value='EE') Estonia
                                        option(value='ET') Ethiopia
                                        option(value='FK') Falkland Islands (Malvinas)
                                        option(value='FO') Faroe Islands
                                        option(value='FJ') Fiji
                                        option(value='FI') Finland
                                        option(value='FR') France
                                        option(value='GF') French Guiana
                                        option(value='PF') French Polynesia
                                        option(value='TF') French Southern Territories
                                        option(value='GA') Gabon
                                        option(value='GM') Gambia
                                        option(value='GE') Georgia
                                        option(value='DE') Germany
                                        option(value='GH') Ghana
                                        option(value='GI') Gibraltar
                                        option(value='GR') Greece
                                        option(value='GL') Greenland
                                        option(value='GD') Grenada
                                        option(value='GP') Guadeloupe
                                        option(value='GU') Guam
                                        option(value='GT') Guatemala
                                        option(value='GG') Guernsey
                                        option(value='GN') Guinea
                                        option(value='GW') Guinea-Bissau
                                        option(value='GY') Guyana
                                        option(value='HT') Haiti
                                        option(value='HM') Heard Island and McDonald Islands
                                        option(value='VA') Holy See (Vatican City State)
                                        option(value='HN') Honduras
                                        option(value='HK') Hong Kong
                                        option(value='HU') Hungary
                                        option(value='IS') Iceland
                                        option(value='IN') India
                                        option(value='ID') Indonesia
                                        option(value='IR') Iran, Islamic Republic of
                                        option(value='IQ') Iraq
                                        option(value='IE') Ireland
                                        option(value='IM') Isle of Man
                                        option(value='IL') Israel
                                        option(value='IT') Italy
                                        option(value='JM') Jamaica
                                        option(value='JP') Japan
                                        option(value='JE') Jersey
                                        option(value='JO') Jordan
                                        option(value='KZ') Kazakhstan
                                        option(value='KE') Kenya
                                        option(value='KI') Kiribati
                                        option(value='KP') Korea, Democratic People's Republic of
                                        option(value='KR') Korea, Republic of
                                        option(value='KW') Kuwait
                                        option(value='KG') Kyrgyzstan
                                        option(value='LA') Lao People's Democratic Republic
                                        option(value='LV') Latvia
                                        option(value='LB') Lebanon
                                        option(value='LS') Lesotho
                                        option(value='LR') Liberia
                                        option(value='LY') Libyan Arab Jamahiriya
                                        option(value='LI') Liechtenstein
                                        option(value='LT') Lithuania
                                        option(value='LU') Luxembourg
                                        option(value='MO') Macao
                                        option(value='MK') Macedonia, the former Yugoslav Republic of
                                        option(value='MG') Madagascar
                                        option(value='MW') Malawi
                                        option(value='MY') Malaysia
                                        option(value='MV') Maldives
                                        option(value='ML') Mali
                                        option(value='MT') Malta
                                        option(value='MH') Marshall Islands
                                        option(value='MQ') Martinique
                                        option(value='MR') Mauritania
                                        option(value='MU') Mauritius
                                        option(value='YT') Mayotte
                                        option(value='MX') Mexico
                                        option(value='FM') Micronesia, Federated States of
                                        option(value='MD') Moldova, Republic of
                                        option(value='MC') Monaco
                                        option(value='MN') Mongolia
                                        option(value='ME') Montenegro
                                        option(value='MS') Montserrat
                                        option(value='MA') Morocco
                                        option(value='MZ') Mozambique
                                        option(value='MM') Myanmar
                                        option(value='NA') Namibia
                                        option(value='NR') Nauru
                                        option(value='NP') Nepal
                                        option(value='NL') Netherlands
                                        option(value='AN') Netherlands Antilles
                                        option(value='NC') New Caledonia
                                        option(value='NZ') New Zealand
                                        option(value='NI') Nicaragua
                                        option(value='NE') Niger
                                        option(value='NG') Nigeria
                                        option(value='NU') Niue
                                        option(value='NF') Norfolk Island
                                        option(value='MP') Northern Mariana Islands
                                        option(value='NO') Norway
                                        option(value='OM') Oman
                                        option(value='PK') Pakistan
                                        option(value='PW') Palau
                                        option(value='PS') Palestinian Territory, Occupied
                                        option(value='PA') Panama
                                        option(value='PG') Papua New Guinea
                                        option(value='PY') Paraguay
                                        option(value='PE') Peru
                                        option(value='PH') Philippines
                                        option(value='PN') Pitcairn
                                        option(value='PL') Poland
                                        option(value='PT') Portugal
                                        option(value='PR') Puerto Rico
                                        option(value='QA') Qatar
                                        option(value='RE') Réunion
                                        option(value='RO') Romania
                                        option(value='RU') Russian Federation
                                        option(value='RW') Rwanda
                                        option(value='BL') Saint Barthélemy
                                        option(value='SH') Saint Helena, Ascension and Tristan da Cunha
                                        option(value='KN') Saint Kitts and Nevis
                                        option(value='LC') Saint Lucia
                                        option(value='MF') Saint Martin (French part)
                                        option(value='PM') Saint Pierre and Miquelon
                                        option(value='VC') Saint Vincent and the Grenadines
                                        option(value='WS') Samoa
                                        option(value='SM') San Marino
                                        option(value='ST') Sao Tome and Principe
                                        option(value='SA') Saudi Arabia
                                        option(value='SN') Senegal
                                        option(value='RS') Serbia
                                        option(value='SC') Seychelles
                                        option(value='SL') Sierra Leone
                                        option(value='SG') Singapore
                                        option(value='SK') Slovakia
                                        option(value='SI') Slovenia
                                        option(value='SB') Solomon Islands
                                        option(value='SO') Somalia
                                        option(value='ZA') South Africa
                                        option(value='GS') South Georgia and the South Sandwich Islands
                                        option(value='ES') Spain
                                        option(value='LK') Sri Lanka
                                        option(value='SD') Sudan
                                        option(value='SR') Suriname
                                        option(value='SJ') Svalbard and Jan Mayen
                                        option(value='SZ') Swaziland
                                        option(value='SE') Sweden
                                        option(value='CH') Switzerland
                                        option(value='SY') Syrian Arab Republic
                                        option(value='TW') Taiwan, Province of China
                                        option(value='TJ') Tajikistan
                                        option(value='TZ') Tanzania, United Republic of
                                        option(value='TH') Thailand
                                        option(value='TL') Timor-Leste
                                        option(value='TG') Togo
                                        option(value='TK') Tokelau
                                        option(value='TO') Tonga
                                        option(value='TT') Trinidad and Tobago
                                        option(value='TN') Tunisia
                                        option(value='TR') Turkey
                                        option(value='TM') Turkmenistan
                                        option(value='TC') Turks and Caicos Islands
                                        option(value='TV') Tuvalu
                                        option(value='UG') Uganda
                                        option(value='UA') Ukraine
                                        option(value='AE') United Arab Emirates
                                        option(value='GB') United Kingdom
                                        option(value='US') United States
                                        option(value='UM') United States Minor Outlying Islands
                                        option(value='UY') Uruguay
                                        option(value='UZ') Uzbekistan
                                        option(value='VU') Vanuatu
                                        option(value='VE') Venezuela, Bolivarian Republic of
                                        option(value='VN') Viet Nam
                                        option(value='VG') Virgin Islands, British
                                        option(value='VI') Virgin Islands, U.S.
                                        option(value='WF') Wallis and Futuna
                                        option(value='EH') Western Sahara
                                        option(value='YE') Yemen
                                        option(value='ZM') Zambia
                                        option(value='ZW') Zimbabwe
                                .form-group
                                    label.control-label Option groups
                                    select.selectize(placeholder="Select gear")
                                        option(value="") Select gear
                                        optgroup(label="Climbing")
                                            option(value="pitons") Pitons
                                            option(value="cams") Cams
                                            option(value="nuts") Nuts
                                            option(value="bolts") Bolts
                                            option(value="stoppers") Stoppers
                                            option(value="sling") Sling
                                        optgroup(label="Skiing")
                                            option(value="skis") Skis
                                            option(value="skins") Skins
                                            option(value="poles") Poles
                                .form-group
                                    label.control-label Tags
                                    input.form-control.selectize_tags(type='text', value='right,bootstrap')
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Sliders
                        .panel-body
                            .form
                                .form-group
                                    label.control-label Money range
                                    input.slider(type="text", name="", value="", data-grid="true")
                                .form-group
                                    label.control-label Single slider
                                    input.slider(type="text", name="", value="", data-type="single", data-from="500")
block css
    link(href='libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css', rel='stylesheet')
    link(href='libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js')
    script(src='libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js')
    script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
    if !release
        script(src='js/template/controls.js')

