extends ./parts/layout.jade
block vars
    - page = 'Dashboard';
block main
    .container-fluid.half-padding
        .pages.pages_dashboard
            .row
                .col-md-9
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Users statistic
                        .panel-body
                            .ld-widget
                                .ld-widget__cont
                                    .ld-widget-main
                                        .ld-widget-main__title Levels
                                        .ld-widget-main__chart
                                    .ld-widget-side
                                        .ld-widget-side__title Ratio
                                        .ld-widget-side__chart
                                        .ld-widget-side__footer
                                            .ld-widget-side__item
                                                .ld-widget-side__label Free
                                                .ld-widget-side__value 0
                                            .ld-widget-side__item
                                                .ld-widget-side__label Light
                                                .ld-widget-side__value 0
                                            .ld-widget-side__item
                                                .ld-widget-side__label Pro
                                                .ld-widget-side__value 0
                .col-md-3
                    .panel.panel-success
                        .panel-heading
                            h3.panel-title Overview
                        .panel-body
                            .ov-widget
                                .ov-widget__list
                                    | Loading
            .row
                .col-md-5
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Activity feed
                        .feed-widget
                            .feed-widget__wrap.scrollable.scrollbar-macosx
                                .feed-widget__cont
                                    .feed-widget__list
                                        .feed-widget__item.feed-widget__item_user
                                            .feed-widget__ico
                                                i.fa.fa-fw
                                            .feed-widget__info
                                                .feed-widget__text <b><a href='./'>Gary Long</a></b> has registered.
                                                .feed-widget__date 14:20 pm - 01.11.2016
                                        .feed-widget__item.feed-widget__item_product
                                            .feed-widget__ico
                                                i.fa.fa-fw
                                            .feed-widget__info
                                                .feed-widget__text New product <b><a href='./'>Sony PlayStation 4</a></b>.
                                                .feed-widget__date 10:08 pm - 01.11.2016
                                        .feed-widget__item.feed-widget__item_order
                                            .feed-widget__ico
                                                i.fa.fa-fw
                                            .feed-widget__info
                                                .feed-widget__text New order <b><a href='./'>#35108243</a></b>.
                                                .feed-widget__date 09:42 pm - 01.11.2016
                                        .feed-widget__item.feed-widget__item_subscriber
                                            .feed-widget__ico
                                                i.fa.fa-fw
                                            .feed-widget__info
                                                .feed-widget__text <b><a href='./'>Julie Payne</a></b> subscribed to a news feed.
                                                .feed-widget__date 18:06 pm - 01.10.2016
                .col-md-4
                    .panel.panel-danger
                        .panel-heading.panel-heading_label
                            h3.panel-title Support Messages
                            .label.label-danger 2
                        .sp-widget
                            .sp-widget__wrap.scrollable.scrollbar-macosx
                                .sp-widget__cont
                                    .sp-widget__top
                                        .sp-widget__info
                                            .sp-widget__title
                                                i.fa.fa-envelope-o
                                                span 2 New Messages
                                        .sp-widget__all
                                            a.btn.btn-default.btn-block(href='inbox.html') Show All
                                    .sp-widget__list
                                        .sp-widget__item
                                            .sp-widget__user
                                                a(href='./') Carol Burton
                                                span.sp-widget__date , 18:06 pm
                                            .sp-widget__text Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.
                                        .sp-widget__item
                                            .sp-widget__user
                                                a(href='./') Judy Shaw
                                                span.sp-widget__date , 11:38 pm
                                            .sp-widget__text Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.
                                        .sp-widget__item
                                            .sp-widget__user
                                                a(href='./') Angela Kennedy
                                                span.sp-widget__date , 13:03 pm - 01.09.2016
                                            .sp-widget__text Vivamus vel nulla eget eros elementum pellentesque. Quisque porta volutpat erat.
                                        .sp-widget__item
                                            .sp-widget__user
                                                a(href='./') Larry Cole
                                                span.sp-widget__date , 15:10 pm - 01.08.2016
                                            .sp-widget__text Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.
                                        .sp-widget__item
                                            .sp-widget__user
                                                a(href='./') Wanda Watson
                                                span.sp-widget__date , 09:18 pm - 01.08.2016
                                            .sp-widget__text Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.
                .col-md-3
                    .panel.panel-warning
                        .panel-heading
                            h3.panel-title Settings
                        .st-widget
                            .st-widget__wrap
                                .st-widget__cont
                                    .st-widget__item.st-widget__item_switch
                                        .st-widget__label Site accessibility
                                        .st-widget__switch
                                            input.bs-switch(type='checkbox', checked='checked', data-size="mini", data-on-color="success", data-off-color="danger")
                                    .st-widget__item.st-widget__item_switch
                                        .st-widget__label Invite mailing
                                        .st-widget__switch
                                            input.bs-switch(type='checkbox', data-size="mini", data-on-color="success", data-off-color="danger")
                                    .st-widget__item.st-widget__item_slider
                                        .st-widget__label Delivery limit
                                        .st-widget__slider
                                            input.settings-slider(type="text", name="", value="", data-grid="true", data-min='0', data-max='2000', data-from='600', data-step='200')
                                    .st-widget__item.st-widget__item_number
                                        .st-widget__label Timeout value
                                        .st-widget__number
                                            input.form-control(type='number', min="5", max='50', step="5", value='15')
                                    .st-widget__item.st-widget__item_select
                                        .st-widget__label Something variant
                                        .st-widget__select
                                            select.selectpicker.form-control(placeholder='Variable')
                                                option One
                                                option Two
                                                option Three
block css
    link(href='libs/morris.js/morris.css', rel='stylesheet')
    link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='libs/raphael/raphael-min.js')
    script(src='libs/morris.js/morris.min.js')
    script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
    if !release
        script(src='js/template/index.js')
