extends ./parts/layout.jade
block vars
    - page = 'Products';
block main
    .container-fluid.half-padding
        .datalist.page.page_products.products.float-right
            .row
                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                    .products-preview.datalist-preview
                        .products-preview__cont
                            .products-preview__name(title='Name') Name
                            .products-preview__data
                                .products-preview__photo
                                    div(style='')
                                .products-preview__info
                                    .products-preview__type Position
                                    .products-preview__stat.sparkline
                                    .products-preview__edit
                                        .btn-group.btn-group-sm
                                            button.btn.btn-danger(type="button") Edit
                                            button.btn.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                                span.caret
                                            ul.dropdown-menu
                                                li
                                                    a(href="#") Details
                                                li
                                                    a(href="#") Disable
                                                li
                                                    a(href="#") Delete
                            .products-preview__props
                                .products-preview__prop(title='salary')
                                    i.fa.fa-money
                                    span.products-preview__salary Salary
                                .products-preview__prop
                                    i.fa.fa-calendar
                                    span.products-preview__date Date
                                .products-preview__prop
                                    i.fa.fa-heartbeat
                                    span.products-preview__status Status
                            .products-preview__note
                                | Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis. Sed ante.
                .col-lg-9.col-md-9.col-sm-12.col-xs-12
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Products
                        .panel-body
                            p You have 62 products.
                            form.datalist-filter
                                .input-group.datalist-filter__search
                                    input.form-control(type="text", placeholder="Find product")
                                    span.input-group-btn
                                        button.btn.btn-default(type="button", role="button", data-toggle="collapse", data-target="#datalist-filter__detail", aria-controls="users__filter-detail", aria-expanded="false")
                                            .fa.fa-filter
                                .collapse#datalist-filter__detail
                                    .container-fluid.datalist-filter__detail
                                        .row
                                            .col-lg-6.col-md-6.col-sm-12.col-xs-12.input-daterange
                                                .form-group
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-calendar-minus-o
                                                        input.form-control.datalist-filter__from(type="text", value="")
                                                .form-group
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-calendar-plus-o
                                                        input.form-control.datalist-filter__to(type="text", value="")
                                            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                                .form-group
                                                    input.slider#datalist-filter__salary(type="text", name="", value="")
                                                .form-group
                                                    .checkbox.checkbox-danger
                                                        input#datalist-filter__actives(type='checkbox')
                                                        label(for='datalist-filter__actives') Actives only
                            .datalist__result
                                ul.nav.nav-tabs(role="tablist")
                                    li.active(role="presentation")
                                        a(href="#brand",aria-controls="brand", role="tab", data-toggle="tab") Brand&nbsp;
                                    li(role="presentation")
                                        a(href="#digital",aria-controls="digital", role="tab", data-toggle="tab") Digital&nbsp;
                                    li(role="presentation")
                                        a(href="#affilate",aria-controls="affilate", role="tab", data-toggle="tab") Affilate&nbsp;
                                    li(role="presentation")
                                        a(href="#new",aria-controls="new", role="tab", data-toggle="tab")
                                            i.fa.fa-plus
                                            | &nbsp;New
                                .tab-content
                                    .tab-pane#new(role="tabpanel")
                                        form.form.products-new
                                            .container-fluid
                                                .row
                                                    .col-md-8
                                                        .row
                                                            .col-md-6
                                                                .form-group
                                                                    .input-group
                                                                        .input-group-addon
                                                                            i.fa.fa-cube
                                                                        input.form-control(type="text", placeholder="Title")
                                                                .form-group
                                                                    .input-group
                                                                        .input-group-addon
                                                                            i.fa.fa-folder
                                                                        select.selectpicker(placeholder="Type")
                                                                            option(value="brand") Brand
                                                                            option(value="digital") Digital
                                                                            option(value="affilate") Affilate
                                                            .col-md-6
                                                                .form-group
                                                                    .input-group
                                                                        .input-group-addon
                                                                            i.fa.fa-usd
                                                                        input.form-control(type="text", placeholder="Price")
                                                                .form-group
                                                                    .input-group
                                                                        .input-group-addon
                                                                            i.fa.fa-heartbeat
                                                                        select.selectpicker(placeholder="Status")
                                                                            option(value="customer") Active
                                                                            option(value="manager") Confirmed
                                                                            option(value="admin") Blocked
                                                        .row
                                                            .col-md-12
                                                                .form-group
                                                                    textarea.form-control(rows='3', placeholder='Note')
                                                    .col-md-4
                                                        .fileupload
                                                            label
                                                                .fa.fa-image
                                                                input(type='file')
                                            button.btn.btn-success Save
                                    .tab-pane.active#brand(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/products_brand.jade
                                    .tab-pane#digital(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/products_digital.jade
                                    .tab-pane#affilate(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/products_affilate.jade
block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.select.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
    if !release
        script(src='js/template/products.js')
