extends ./parts/layout.jade
block vars
    - page = 'Table Static';
block main
    .container-fluid.half-padding
        .template.template__table_static
            .row
                .col-md-8
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Simple
                        .panel-body
                            .scrollable.scrollbar-macosx
                                include ./include/table.html
                .col-md-4
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Responsive
                        .panel-body
                            .template__table_static.template__table_responsive
                                .scrollable.scrollbar-macosx
                                    include ./include/table.html