extends ./include/layout.jade
block main
    .ort-profile
        .ort-profile__main
            .ort-profile__main-video
                video#ort-profile-video.ort-player.video-js.vjs-big-play-centered
                    source(src="../media/video_720.mp4", type='video/mp4', q='lq', size="1 Mb")
                    source(src="../media/video.webm", type='video/webm', q='lq', size="1 Mb")
                    source(src="../media/video.ogg", type='video/ogg', q='lq', size="1 Mb")
                    p.vjs-no-js
                        | To view this video please enable JavaScript, and consider upgrading to a web browser that&thinsp;
                        a(href="http://videojs.com/html5-video-support/", target="_blank") supports HTML5 video
            .ort-profile__info
                .ort-profile__photo(style='background-image: url("../media/photo.png")')
                .ort-profile__name Sandra Star
                ul.ort-profile__props
                    li
                        span.ort-profile__prop-title Downloaded:&thinsp;
                        a.ort-profile__prop-value(href='') 2011
                    li
                        span.ort-profile__prop-title Age:&thinsp;
                        span.ort-profile__prop-value 26 years
                    li
                        span.ort-profile__prop-title Activities:&thinsp;
                        span.ort-profile__prop-value
                            a(href='') Facial
                            | ,&#32;
                            a(href='') Cum Shots
                            | ,&#32;
                            a(href='') Amateur
                            | ,&#32;
                            a(href='') Blowjob
                .ort-profile__notes
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    | the industry's standard dummy text.

        .ort-profile__videos
            .ort-profile__videos-title
                h2 Sandra's Videos
            .ort-profile__videos-list
                .ort-profile__videos-cont
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video4.png");')
                            .ort-social-ico.ort-social-ico_instagramm
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video3.png");')
                            .ort-social-ico.ort-social-ico_facebook
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video2.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video1.png");')
                            .ort-social-ico.ort-social-ico_tamblr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video8.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video7.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video6.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video5.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video12.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video11.png");')
                            .ort-social-ico.ort-social-ico_pinterest
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video10.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video9.png");')
                            .ort-social-ico.ort-social-ico_instagram
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
            .ort-profile__videos-more
                button(type='button') Show More
