script(src='libs/jquery/jquery.min.js')
script(src='libs/bootstrap/js/bootstrap.min.js')
script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
script(src='libs/bootstrap-star-rating/js/star-rating.min.js')
script(src='libs/jquery.maskedinput/dist/jquery.maskedinput.min.js')
script(src='js/main.js')