@font-face {
  font-family: 'ANegaar';
  src: url('../fonts/ANegaar/ANegaar.Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ANegaar/ANegaar.Regular.woff') format('woff'),
       url('../fonts/ANegaar/ANegaar.Regular.ttf')  format('truetype'),
       url('../fonts/ANegaar/ANegaar.Regular.svg#ANegaar') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANegaar';
  src: url('../fonts/ANegaar/ANegaar.Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ANegaar/ANegaar.Bold.woff') format('woff'),
       url('../fonts/ANegaar/ANegaar.Bold.ttf')  format('truetype'),
       url('../fonts/ANegaar/ANegaar.Bold.svg#ANegaar-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TanseekModPro';
  src: url('../fonts/TanseekModPro/TanseekModernProArabic.Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Medium.woff') format('woff'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Medium.ttf')  format('truetype'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Medium.svg#TanseekModernProArabic-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TanseekModPro';
  src: url('../fonts/TanseekModPro/TanseekModernProArabic.Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Bold.woff') format('woff'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Bold.ttf')  format('truetype'),
       url('../fonts/TanseekModPro/TanseekModernProArabic.Bold.svg#TanseekModernProArabic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Chalkboard';
  src: url('../fonts/Chalkboard/Chalkboard.Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Chalkboard/Chalkboard.Bold.woff') format('woff'),
       url('../fonts/Chalkboard/Chalkboard.Bold.ttf')  format('truetype'),
       url('../fonts/Chalkboard/Chalkboard.Bold.svg#Chalkboard-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue/HelveticaNeue.Light.otf')  format('opentype'),
	     url('../fonts/HelveticaNeue/HelveticaNeue.Light.woff') format('woff'),
       url('../fonts/HelveticaNeue/HelveticaNeue.Light.ttf')  format('truetype'),
       url('../fonts/HelveticaNeue/HelveticaNeue.Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueArabic';
  src: url('../fonts/HelveticaNeue/HelveticaNeueArabic.Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue/HelveticaNeueArabic.Light.woff') format('woff'),
       url('../fonts/HelveticaNeue/HelveticaNeueArabic.Light.ttf')  format('truetype'),
       url('../fonts/HelveticaNeue/HelveticaNeueArabic.Light.svg#HelveticaNeueLTArabic-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
