// Screen Modes
@phone-s: ~"(max-width: 375px)"; // default
@phone-m: ~"(min-width: 375px)";
@phone-l: ~"(min-width: 411px)";
@tablet:  ~"(min-width: 768px)";
@desktop: ~"(min-width: 960px)";
@less-then-desktop: ~"(max-width: 960px)";
@retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Mixins
.ltr-version(@rules) {
  html[dir = ltr] & { @rules(); }
}

.terms-page(@rules) {
  html.terms & { @rules(); }
}

.when-page-loaded(@rules) {
  html.wf-active.page-loaded &, html.wf-inactive.page-loaded & { @rules(); }
}
