.header-navbar {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid @smoke-light;
  position: absolute;
  top:0;
  width: 100%;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .navbar-header, .topnavbar {

    .screen-sm({
      display: none !important;
    });
  }

  .navbar-header {
    position: relative;
    background-color: transparent;
  }

  .navbar-brand {
    padding: 0;
    height: auto;
    width: 200px;
    border-right: 1px solid @smoke-light;
  }

  .topnavbar {
    float: left;
    width: 100%;
    padding-left: 200px;
    margin-left: -200px;
  }

  .nav>li>a {
    background-color: transparent;
    display: block;
    height: 75px;
    padding: 10px 5px;
    .valign;

    &>span {
      color: @gray-ui;
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .nav>li.active,
  .nav>li:hover,
  .nav>li:focus,
  .nav>li.open {
    background-color: transparent;

    a>span {
      color: #333;
    }
  }

  .nav>li.active {

    a>span {
      font-weight: 500;
    }
  }

  .nav .open>a,
  .nav .open>a:focus,
  .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &__search {
    float: right;
    width: 140px;
    padding: 19px 0;

    form {
      border-bottom: 1px solid @smoke-dark;

      .form-control {
        height: 35px;
        padding: 5px 15px;
        background-color: transparent;
        border: 1px solid transparent;
        color: @gray-text;
        outline: none;
        box-shadow: none;

        &::-moz-placeholder           { color: @gray-text; }
        &:-ms-input-placeholder       { color: @gray-text; }
        &::-webkit-input-placeholder  { color: @gray-text; }
      }

      .btn {
        padding: 7px 12px;
        background-color: transparent;
        border: 0;
        color: @gray-text;

        &:hover,
        &:focus,
        &:active {
          color: darken(@gray-text, 20%);
          box-shadow: none;
          background-color: transparent;
          border: 0;
        }
      }
    }

  }
}

.userbar {
  float: right;
  height: 75px;
  padding: 20px;

  &__toggle {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }

  &__photo {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: @smoke-light url('../img/nophoto.png') 50% 50% no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__name {
    display: inline-block;
    vertical-align: middle;

    .fa {
      margin-left: 3px;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.header-navbar-mobile {
  display: none;
  padding: 15px;
  border-bottom: 1px solid @smoke-light;
  box-sizing: border-box;
  height: 65px;

  .screen-sm({
    display: block;
  });

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &__brand {
    float: left;
    min-width: 82px;
    position: relative;

    &>a {
      display: block;
    }

    .logo {
      padding: 0 0 0 10px;
      height: 34px;
    }
  }

  &__menu {
    float: left;
    position: relative;
  }

  &__title {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 130px 0 130px;
    margin: 0 -40px 0 -120px;
    color: #333;
    text-align: center;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .userbar {
    float: right;
    height: 34px;
    padding: 0;

    &__photo {
      width: 34px;
      height: 34px;
      margin-right: 0;
    }

    &__name {
      display: none;
    }
  }
}