.logo {
  padding: 0 0 0 20px;
  height: 75px;
  font-size: 0;
  .valign;

  &__img {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    background: url('../img/irm.svg') 50% 50% no-repeat;
    background-size: contain;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    padding-left: 30px;
    margin-left: -25px;
    font-size: 20px;
    line-height: 34px;
    color: #333333;
  }
}