html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    background-color: #fff;
    max-width: 1600px;
    min-width: 1000px;
    margin: 0 auto;
}

.top {
    height: 721px;
    background: url('../img/top__bg.png') 50% top no-repeat;
}

.top__cont {
    padding-top: 88px;
    width: 508px;
    margin: 0 auto;
    text-align: center;
}

.top__logo {
    width: 146px;
    height: 161px;
    margin: 0 auto;
    background-image: url('../img/top__logo.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.top__title {
    background-image: url('../img/driveclub.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 71px;
    margin-bottom: 18px;
}

.top__slogan {
    display: inline-block;
    width: 507px;
    height: 67px;
    background-color: #79d175;
    box-shadow: 0 11px 24px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 49px;
    font-weight: 300;
}

.top__apps {
    margin-top: 65px;
}

.top__app {
    display: inline-block;
    width: 120px;
    height: 118px;
    position: relative;
    margin: 0 22px;
}

.top__app a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}

.top__app_apple {
    background-image:url('../img/icons.svg');background-position:0 -118px;background-repeat:no-repeat;

}

.top__app_android {
    background-image:url('../img/icons.svg');background-position:0 0;background-repeat:no-repeat;
}

.events {
    text-align: center;
}

.events__title{
    color: #79d175;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

.events__counts {
    overflow: hidden;
    max-width: 1038px;
    margin: 67px auto 36px;
}

.events__count {
    float: left;
    padding: 0 46px;
    overflow: hidden;
    text-align: left;
    width: 33.3%;
    box-sizing: border-box;
}

.events__count_users .events__ico {
    background-color: #fff;
}

.events__count_users .events__ico:before {
    width:46px;
    height:27px;
    margin-left: -23px;
    margin-top: -13px;
    background-image:url('../img/icons.svg');background-position:0 -479px;background-repeat:no-repeat;
}

.events__count_evacuators .events__ico {
    background-color: #79d175;
}

.events__count_evacuators .events__ico:before {
    width:48px;
    height:35px;
    margin-left: -24px;
    margin-top: -17px;
    background-image:url('../img/icons.svg');background-position:0 -305px;background-repeat:no-repeat;
}

.events__count_incidents .events__ico {
    background-color: #ff8f8f;
}

.events__count_incidents .events__ico:before {
    width:47px;
    height:27px;
    margin-top: -13px;
    margin-left: -23px;
    background-image:url('../img/icons.svg');background-position:0 -393px;background-repeat:no-repeat;
}

.events__ico {
    float: left;
    width: 86px;
    height: 86px;
    position: relative;
    border-radius: 50%;
}

.events__ico:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.events__info {
    float: left;
    width: 240px;
    box-sizing: border-box;
    padding-left: 115px;
    margin-left: -86px;
}

.events__value {
    color: #79d175;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    line-height: 32px;
    margin-bottom: 2px;
}

.events__desc {
    color: #757575;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
}

.events__map {
    height: 669px;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
}

.feed {
    position: absolute;
    bottom: 16px;
    right: 18px;
    width: 384px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.22);
}

.feed__title {
    background-color: #79d175;
    color: white;
    font-size: 24px;
    font-weight: 300;
    line-height: 56px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feed__cont {
    min-height: 50px;
    max-height: 579px;
    overflow-y: auto;
}

.feed__item {
    overflow: hidden;
    padding: 20px 26px 15px;
    border-bottom: 1px solid #fff;
    text-align: left;
    cursor: pointer;
}

.feed__item:last-child {
    border-bottom: 0;
}

.feed__ico {
    width: 40px;
    height: 25px;
    float: left;
    position: relative;
}

.feed__ico:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.feed__item_evacuator {
    background-color: rgba(121, 209, 117, 0.1);
}

.feed__item_incident {
    background-color: rgba(255, 143, 143, 0.1);
}

.feed__item_evacuator .feed__ico:before {
    width:34px;
    height:25px;
    margin-top: -12px;
    margin-left: -17px;
    background-image:url('../img/icons.svg');background-position:0 -340px;background-repeat:no-repeat;
}

.feed__item_incident .feed__ico:before {
    width:38px;
    height:22px;
    margin-top: -11px;
    margin-left: -19px;
    background-image:url('../img/icons.svg');background-position:0 -420px;background-repeat:no-repeat;
}

.feed__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 54px;
    margin-left: -40px;
}

.feed__head {
    font-size: 0;
    margin-bottom: 18px;
}

.feed__time {
    color: #181818;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 17px;
}

.feed__theme {
    color: #ed5b5b;
    font-size: 16px;
    font-weight: 500;
}

.feed__desc {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.feed__look {
    position: absolute;
    bottom: 64px;
    right: 73px;
    width: 384px;
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.13);
    padding: 32px 30px;

    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;

    display: none;
}


.how {
    position: relative;
}

.how__title {
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    position: absolute;
    top: 41px;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.how__title i {
    display: inline-block;
    width: 38px;
    height: 50px;
    vertical-align: top;
    margin-left: 18px;
}

.how__title i:before {
    content: '';
    display: block;
    margin-top: 13px;
    width:38px;
    height:24px;
    background-image:url('../img/icons.svg');background-position:0 -236px;background-repeat:no-repeat
}

.how__title h2 {
    color: #414141;
    font-size: 48px;
    line-height: 50px;
    font-weight: 300;
    border-bottom: 2px dashed #414141;
    margin: 0;
    display: inline-block;
}

.how__slider {
    position: relative;
    height: 905px;
    overflow: hidden;
}

.slide {
    height: 905px;
    width: 100%;
}

.slide__cont {
    max-width: 1100px;
    padding-top: 167px;
    margin: 0 auto;
    overflow: hidden;
}

.slide__pic {
    float: left;
    width: 313px;
    height: 601px;
}

.slide__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 405px;
    margin-left: -313px;
    margin-top: 257px;
}

.slide__title {
    color: white;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 24px;
}

.slide__text {
    background-color: #79d175;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
    text-align: left;
}

.slide_1 {
    background: url('../img/slide_1.png') 50% bottom no-repeat;
}

.slide_1 .slide__cont {
    max-width: 1100px;
    padding-top: 167px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_1 .slide__pic {
    float: left;
    width: 313px;
    height: 601px;
    background: url('../img/slide_1_pic.png') left top no-repeat;
}

.slide_1 .slide__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 405px;
    margin-left: -313px;
    margin-top: 257px;
}

.slide_1 .slide__title {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 24px;
}

.slide_1 .slide__text {
    background-color: #79d175;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
}

.slide_2 {
    background: url('../img/slide_2.png') 50% bottom no-repeat;
}

.slide_2 .slide__cont {
    max-width: 990px;
    padding-top: 167px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_2 .slide__pic {
    float: left;
    width: 313px;
    height: 601px;
    background: url('../img/slide_2_pic.png') left top no-repeat;
}

.slide_2 .slide__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-right: 388px;
    padding-left: 0;
    margin-right: -313px;
    margin-left: 0;
    margin-top: 295px;
    text-align: right;
}

.slide_2 .slide__title {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 30px;
}

.slide_2 .slide__text {
    background-color: #79d175;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
}

.slide_3 {
    background: url('../img/slide_3.png') 50% bottom no-repeat;
}

.slide_3 .slide__cont {
    max-width: 1100px;
    padding-top: 167px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_3 .slide__pic {
    float: left;
    width: 313px;
    height: 601px;
    background: url('../img/slide_3_pic.png') left top no-repeat;
}

.slide_3 .slide__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 405px;
    margin-left: -313px;
    margin-top: 191px;
}

.slide_3 .slide__title {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 24px;
    text-shadow: 0 3px 7px rgba(45, 47, 54, 0.21);
    font-size: 60px;
}

.slide_3 .slide__text {
    background-color: #79d175;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
}

.slide_4 {
    background: url('../img/slide_4.png') 50% bottom no-repeat;
}

.slide_4 .slide__cont {
    max-width: 854px;
    padding-top: 140px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_4 .slide__info {
    float: right;
    width: 655px;
    box-sizing: border-box;
    padding-left: 0;
    margin-left: 0;
    margin-top: 224px;
    text-align: right;
}

.slide_4 .slide__title {
    color: white;
    text-shadow: 0 3px 7px rgba(45, 47, 54, 0.21);
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 19px;
    text-align: right;
}

.slide_4 .slide__text {
    background-color: #79d175;
    padding: 13px 17px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
    text-align: right;
}

.slide_5 {
    background: url('../img/slide_5.png') 50% bottom no-repeat;
}

.slide_5 .slide__cont {
    max-width: 1100px;
    padding-top: 186px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_5 .slide__pic {
    float: left;
    width: 313px;
    height: 601px;
    background: url('../img/slide_5_pic.png') left top no-repeat;
}

.slide_5 .slide__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 405px;
    margin-left: -313px;
    margin-top: 224px;
}

.slide_5 .slide__title {
    color: white;
    text-transform: uppercase;
    text-shadow: 0 3px 7px rgba(45, 47, 54, 0.21);
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 28px;
}

.slide_5 .slide__text {
    background-color: #79d175;
    padding: 25px 30px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
}

.reviews {
    padding-top: 60px;
    text-align: center;
}

.reviews__title {
    color: #79d175;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

.reviews__cont {
    margin: 100px auto 0;
    max-width: 1500px;
    overflow: hidden;
}

.reviews__review {
    float: left;
    width: 33.3%;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}

.reviews__photo {
    float: left;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 8px;
}

.reviews__info {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 118px;
    margin-left: -99px;
}

.reviews__text {
    font-size: 24px;
    font-weight: 400;
    color: #606060;
}

.reviews__name {
    margin-top: 29px;
    color: #ff7971;
    font-size: 24px;
    font-weight: 400;
}

.contact {
    padding: 117px 0 84px;
    text-align: center;
}

.contact__link {
    display: inline-block;
    padding-top: 65px;
    color: #ff8f8f;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    min-width: 65px;
    line-height: 40px;
    border-bottom: 1px dashed #ff8f8f;
    text-align: center;
    position: relative;
}

.contact__link:before {
    content: '';
    display: inline-block;
    width:65px;
    height:45px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    background-image:url('../img/icons.svg');background-position:0 -260px;background-repeat:no-repeat;
}

.contact__link:hover {
    border-bottom-color: transparent;
}

.app {
    height: 450px;
    background-color: #79d175;
    position: relative;
}

.app:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 82px;
    background-color: #fff;
}

.app__cont {
    max-width: 1030px;
    margin: 0 auto;
    height: 100%;
    background: url('../img/app_bg.png') -20px bottom no-repeat;
    position: relative;
    overflow: hidden;
}

.app__info {
    float: right;
    margin-top: 152px;
}

.app__title {
    color: white;
    line-height: 37px;
    font-size: 28px;
    font-weight: 300;
    min-height: 74px;
    padding-left: 109px;
    background: url('../img/app__logo.png') left top no-repeat;
}

.app__title h2 {
    color: white;
    line-height: 36px;
    font-size: 37px;
    font-weight: 400;
    margin: 0;
}

.app__links {
    text-align: left;
    margin-top: 49px;
}

.app__link {
    display: inline-block;
    width: 120px;
    height: 118px;
    position: relative;
    margin-right: 43px;
}

.app__link a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}

.app__link_apple {
    background-image:url('../img/icons.svg');background-position:0 -118px;background-repeat:no-repeat;
}

.app__link_android {
    background-image:url('../img/icons.svg');background-position:0 0;background-repeat:no-repeat;
}

.bottom {
    text-align: center;
    padding-bottom: 155px;
    position: relative;
}

.bottom__mail {
    width: 613px;
    margin: 0 auto;
    border-bottom: 2px dashed rgba(121, 209, 117, 0.5);
}

.bottom__mail-link {
    color: #ff8f8f;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 110px;
    text-decoration: underline;
}

.bottom__mail-link:hover {
    text-decoration: none;
}

.social {
    margin-top: 26px;
}

.social__title {
    color: #72c36f;
    font-family: HelveticaNeue, Roboto, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.social__links {
    margin-top: 30px;
    font-size: 0;
}

.social__link {
    display: inline-block;
    width: 71px;
    height: 71px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    margin: 0 49px;
}

.social__link:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

.social__link:hover {
    border: 2px solid #79d175;
}

.social__link a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}

.social__link_vk:before {
    width:30px;
    height:17px;
    margin-top: -8px;
    margin-left: -15px;
    background-image:url('../img/icons.svg');background-position:0 -506px;background-repeat:no-repeat;
}

.social__link_fb:before {
    width:15px;
    height:28px;
    margin-top: -14px;
    margin-left: -7px;
    background-image:url('../img/icons.svg');background-position:0 -365px;background-repeat:no-repeat;
}

.social__link_tw:before {
    width:28px;
    height:24px;
    margin-top: -12px;
    margin-left: -14px;
    background-image:url('../img/icons.svg');background-position:0 -442px;background-repeat:no-repeat;
}

.bottom__copyrights {
    margin-top: 47px;
    color: #9b9b9b;
    font-family: HelveticaNeue, Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.bottom__up {
    position: relative;
    max-width: 748px;
    margin: 0 auto;
}

.bottom__up-link {
    position: absolute;
    left: 0;
    top: -51px;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: rgba(117, 117, 117, 0.5);
    cursor: pointer;
}

.bottom__up-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width:21px;
    height:13px;
    margin-left: -10px;
    margin-top: -6px;
    background-image:url('../img/icons.svg');background-position:0 -466px;background-repeat:no-repeat;
}

.bottom__up-link:hover {
    background-color: rgba(117, 117, 117, 0.6);
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #c3c3c3;
    left: 2px;
    width: 8px;
    opacity: 1;
}

.scrollbar-inner > .scroll-element .scroll-bar {
    /* height: 157px !important; */
    background-color: #757575;
    border-radius: 5px 6px 6px 5px;
    opacity: 1;
    left: 0px;
}

.scrollbar-inner > .scroll-element.scroll-y {
    right: 9px;
    width: 12px;
    height: auto;
    top: 15px;
    bottom: 15px;
}

.slick-next {
    width: 99px;
    height: 99px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -50px;
    background: rgba(65, 65, 65, 0.6) url('../img/ico_up.svg') 50% 50% no-repeat;
    border: 0;
    border-radius: 50%;
    font-size: 0;
    display: block;
    z-index: 1000;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    outline: none;
}

.slick-next:hover {
    background-color: rgba(65, 65, 65, 0.7);
}

.slick-prev {
    width: 99px;
    height: 99px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -50px;
    background: rgba(65, 65, 65, 0.6) url('../img/ico_up.svg') 50% 50% no-repeat;
    border: 0;
    border-radius: 50%;
    font-size: 0;
    display: block;
    z-index: 1000;
    transform: rotate(-90deg);
    -ms-transform: rotate(270deg);
    outline: none;
}

.slick-prev:hover {
    background-color: rgba(65, 65, 65, 0.7);
}

.slick-dots {
    position: absolute;
    width: 100%;
    height: 14px;
    left: 0;
    text-align: center;
    font-size: 0;
    bottom: 37px;
}

.slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
}

.slick-dots li button {
    border: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.slick-dots li.slick-active button {
    background-color: #ff8f8f;
}