<template>
  <ul class="ab-pagination" v-if="last > 1">
    <li v-if="page - 6 > 0 && last == page"><a href="" :class="{ disabled: disabled }" @click.prevent="changePage(1)">{{ 1 }}</a></li>
    <li v-if="page - 5 > 0 && last - page <= 1"><a href="" :class="{ disabled: last - page < 1 || disabled }" @click.prevent="changePage(last - page == 1 ? 1 : null)">{{ last - page == 1 ? 1 : '..' }}</a></li>
    <li v-if="page - 4 > 0 && last - page <= 2"><a href="" :class="{ disabled: last - page == 1 || disabled }" @click.prevent="changePage(last - page < 2 ? last - page == 1 ? null : page - 4 : 1)">{{ last - page < 2 ? last - page == 1 ? '..' : page - 4 : 1 }}</a></li>
    <li v-if="page - 3 > 0"><a href="" :class="{ disabled: last - page == 2 || disabled }" @click.prevent="changePage(last - page < 3 ? last - page == 2 ? null : page - 3 : 1)">{{ last - page < 3 ? last - page == 2 ? '..' : page - 3 : 1 }}</a></li>
    <li v-if="page - 2 > 0"><a href="" :class="{ disabled: !(page < 5 || last - page < 3) || disabled }" @click.prevent="changePage(page < 5 || last - page < 3 ? page - 2 : null )">{{ page < 5 || last - page < 3 ? page - 2 : '..' }}</a></li>
    <li v-if="page - 1 > 0"><a href="" :class="{ disabled: disabled }" @click.prevent="changePage(page - 1)">{{ page - 1 }}</a></li>

    <li class="active"><a href="" :class="{ disabled: disabled }" @click.prevent="changePage(page)">{{page}}</a></li>

    <li v-if="page + 1 <= last"><a href="" :class="{ disabled: disabled }" @click.prevent="changePage(page + 1)">{{ page + 1 }}</a></li>
    <li v-if="page + 2 <= last"><a href="" :class="{ disabled: !(page < 4 || last - page == 2) || disabled }" @click.prevent="changePage(page < 4 || last - page == 2 ? page + 2 : null)">{{ page < 4 || last - page == 2 ? page + 2 : '..' }}</a></li>
    <li v-if="page + 3 <= last"><a href="" :class="{ disabled: page == 3 || disabled }" @click.prevent="changePage(page < 4 ? page == 3 ? null : page + 3 : last)">{{ page < 4 ? page == 3 ? '..' : page + 3 : last }}</a></li>
    <li v-if="page + 4 <= last && page < 4"><a href="" :class="{ disabled: page == 2 || disabled }" @click.prevent="changePage(page < 3 ? page == 2 ? null : page + 4 : last)">{{ page < 3 ? page == 2 ? '..' : page + 4 : last }}</a></li>
    <li v-if="page + 5 <= last && page < 3"><a href="" :class="{ disabled: page == 1 || disabled }" @click.prevent="changePage(page <= 2 ? page == 1 ? null : last : page + 5)">{{ page <= 2 ? page == 1 ? '..' : last : page + 5 }}</a></li>
    <li v-if="page + 6 <= last && page < 2"><a href="" :class="{ disabled: disabled }" @click.prevent="changePage(last)">{{ last }}</a></li>
  </ul>
</template>

<script>
  export default {
    props: ['page', 'perpage', 'total', 'disabled'],
    data: function() {
      return {}
    },
    computed: {
      last: function() {
        return Math.ceil(this.total / this.perpage);
      }
    },
    methods: {
      changePage: function(page) {
        if (page && page != this.page) {
          this.$emit('pageChanged', page);
        }
      }
    }
  }
</script>
