.h-content {
  text-align: center;
  color: #1110f8;

  font-family: 'LeituraNews-Roman1', serif;
  font-weight: normal;
  line-height: 1.2;

  & > p {
    font-size: 6vw;
    margin: 0 auto;
    max-width: 80vw;
    letter-spacing: -0.4px;

    &.bold {
      line-height: 1.17;
      font-weight: bold;
    }

    b {
      font-size: 5vw;
    }

    @media (max-width: 1100px) {
      max-width: 880px;
      font-size: 66px;

      b {
        font-size: 55px;
      }
    }

    @media (max-width: 500px) {
      font-size: 38px;

      b {
        font-size: 36px;
      }
    }

    @media (min-width: 1750px) {
      max-width: 1400px;
      font-size: 105px;

      b {
        font-size: 87px;
      }
    }
  }

  b {
    font-family: 'Termina-Bold', sans-serif;
    font-weight: bold;
  }
}
