.h-footer {
  margin: 20.5vw 0 3vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;

  @media (min-width: 1750px) {
    margin: 360px 0 53px;
  }

  @media (max-width: 850px) {
    margin: 174px 0 25px;
  }

  &__logo {
    width: 181px;
    height: 32px;
    background-image: url('../../img/logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
  }
}
