.h-wrapper {
  position: relative;
  max-width: 90vw;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 500px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media (min-width: 1750px) {
    max-width: 1575px;
  }
}
