extends ./include/layout.jade
block vars
    - var page = 'users'
block main
    .header
        .header__cont
            .header__title.cleanvertising Изменение пароля пользователя
    .main__content
        .main__form
            .main__form-cont
                form
                    .form-group
                        label Старый пароль
                        input.form-control(type='password')
                    .form-group
                        label Новый пароль
                        input.form-control(type='password')
                    .form-group
                        label Подтверждение нового пароля
                        input.form-control(type='password')
                    .main__form-submit
                        button.btn.btn-success(type='submit') Сохранить
