extends ./include/layout.jade
block vars
    - var page = 'users'
block main
    .header
        .header__cont
            .header__title.cleanvertising Редактирование учетной записи
    .main__content
        .main__form
            .main__form-cont
                form
                    .form-group
                        label nikolaysmirnov@mail.ru
                        input.form-control(type='password')
                    .main__form-submit
                        button.btn.btn-success(type='submit') Сохранить
            .main__form-delete.pull-right
                button.btn.btn-danger(type='button') Удалить
