extends ./include/layout.jade
block vars
    - var page = 'feed'
block main
    .header
        .header__cont
            .header__title.cleanvertising Редактирование записи
        .header__backlink
            a(href='feed.html')
                i.fa.fa-arrow-left
                span Лента эвакуации
    .main__content
        .post.post_edit
            .post__head
                span.post__address
                    i.fa.fa-map-marker
                    | &nbsp;
                    span Адрес: ул. Ленина, 1
                span.post__date 15:35 20 октября 2015
            .post__body
                .post__field
                    .post__title.editable Текст сообщения
                    .post__data
                        .post__text
                            p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .post__close
                        span.fa.fa-close
                .post__field
                    .post__title.editable Фотография
                    .post__data
                        .post__img
                            img(src='http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg')
                            .post__close
                                i.fa.fa-close
                .post__field
                    .post__title.editable Фоторгафия пользователя
                    .post__data
                        .post__photo(style="background-image: url('http://webdvs.com/wp-content/uploads/2014/05/05.jpg')")
            .post__save
                button.btn.btn-success(type='button') Сохранить изменения