extends ./include/layout.jade
block vars
    - var page = 'feed'
block main
    .header
        .header__cont
            .header__title.cleanvertising Лента событий
            .header__action
                .header__btn
                    a.btn.btn-success(href='') Добавить новую запись
    .main__filter
        .form-inline
            .form-group.input-daterange
                label Показывать эвакуации с
                .input-group
                    .input-ico.input-ico_left
                        .fa.fa-calendar-o
                    input.form-control(type="text", value="01.10.15")
                    .input-ico.input-ico_right
                        .fa.fa-chevron-down
                label по
                .input-group
                    .input-ico.input-ico_left
                        .fa.fa-calendar-o
                    input.form-control(type="text", value="20.10.15")
                    .input-ico.input-ico_right
                        .fa.fa-chevron-down
    .main__content
        .feed
            .feed__title.cleanvertising 50 сообщений
            .feed__list
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Николай Смирнов
                                span.feed__date 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                            .feed__address Адрес: ул. Ленина, 1
                    .feed__close
                        .fa.fa-close
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Степан Панфилов
                                span.feed__date 20:47 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                                img(src='http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg')
                    .feed__close
                        .fa.fa-close
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Александр Лыков
                                span.feed__date 15:35 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                            .feed__address Адрес: ул. Разбитых фонарей, 1
                    .feed__close
                        .fa.fa-close
