extends ./include/layout.jade
block vars
    - var page = 'feedback'
block main
    .header
        .header__cont
            .header__title.cleanvertising Обратная связь
    .main__filter
        .form-inline
            .form-group
                label Сортировать по:
                select.selectpicker(data-style="")
                    option Имени
                    option Блокировкам
    .main__content
        .feedback
            .feedback__list
                .feedback__msg
                    .feedback__head
                        span.label.label-new Новое
                        span.feedback__username Николай Смирнов
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: nicks@mail.ru
                        span.feedback__phone Телефон: +7 (915) 555-56-59
                .feedback__msg
                    .feedback__head
                        span.label.label-new Новое
                        span.feedback__username Степан Панфилов
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: step@mail.ru
                .feedback__msg
                    .feedback__head
                        span.feedback__username Елена Малышева
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: nicks@mail.ru
                        span.feedback__phone Телефон: +7 (915) 555-56-59
