doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Admin Test Task
        include ./include/styles.jade
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body
        .wrapper
            .login
                .login__form
                    form(action='index.html')
                        .login__title Авторизация
                        .form-group
                            input.form-control.login__login(type='text', placeholder='Логин')
                        .form-group
                            input.form-control.login__password(type='password', placeholder='Пароль')
                        .checkbox.login__remember
                            input#remember(type='checkbox')
                            label(for='remember') Запомнить меня
                        .login__submit
                            button.btn.btn-success.btn-block(type='submit') Войти

        include ./include/js.jade