extends ./include/layout.jade
block vars
    - var page = 'feed'
block main
    .header
        .header__cont
            .header__title.cleanvertising Добавление новой записи
        .header__backlink
            a(href='feed.html')
                i.fa.fa-arrow-left
                span Лента эвакуации
    .main__content
        .post.post_new
            .post__body
                .post__field
                    .post__title.editable Текст сообщения
                    .post__data
                        .post__text
                            p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                .post__field
                    .post__title.editable Фотография
                    .post__data
                        .post__img
                            img(src='http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg')
                            .post__img-name wrong_parking.png
                            .post__img-add
                                button.btn.btn-default(type='button') Добавить фотографию
                            .post__close
                                i.fa.fa-close
            .post__add
                button.btn.btn-success(type='button') Добавить запись