extends ./include/layout.jade
block vars
    - var page = 'userslist'
block main
    .header
        .header__cont
            .header__title.cleanvertising Профиль пользователя
        .header__backlink
            a(href='users.html')
                i.fa.fa-arrow-left
                span Список пользователей
    .main__content
        .profile
            .profile__props
                .container-fluid
                    .row
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Фотография пользователя
                                .profile__prop-data
                                    .profile__photo(style="background-image: url('http://webdvs.com/wp-content/uploads/2014/05/05.jpg')")
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Никнейм
                                .profile__prop-data
                                    span Nikolay
                            .profile__prop
                                .profile__prop-title.editable Email
                                .profile__prop-data
                                    span nick@mail.ru
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Транспортные средства
                                .profile__prop-data
                                    ul
                                        li Skoda Octavia A526AE
                                        li BMW X6 E666KX
                            .profile__prop
                                .profile__prop-title.editable Пол
                                .profile__prop-data
                                    span Мужской
            .profile__info
                .profile__info-field
                    .profile__info-title Дата регистрации
                    .profile__info-data 20.10.2015
                .profile__info-field
                    .profile__info-title Баллы / Благодарности
                    .profile__info-data 594 054
                .profile__info-field
                    .profile__info-title Последнее зарегистрированное местоположение этого пользователя
                    .profile__info-data
                        i.fa.fa-map-marker
                        | &nbsp;
                        span ул. Ленина, 1
                .profile__info-field
                    .profile__info-title.editable Состояние учетной записи пользователя: активен или заблокирован
                    .profile__info-data
                        span.profile__status Активен
                .profile__info-field
                    .profile__info-title Количество блокировок этого пользователя другими пользователями
                    .profile__info-data Нет блокировок
            .profile-msg__list
                .profile-msg__title.cleanvertising Последние сообщения
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .profile-msg__address Адрес: ул. Ленина, 1