extends ./include/layout.jade
block vars
    - var page = 'users'
block main
    .header
        .header__cont
            .header__title.cleanvertising Учетные записи
            .header__action
                .header__btn
                    a.btn.btn-success(href='') Создать учетную запись
    .main__filter
        .form-inline
            .form-group
                label Сортировать по:
                select.selectpicker(data-style="")
                    option Имени
                    option Блокировкам
    .main__content
        .users
            .users__title.cleanvertising 532 пользователя
            .users__list
                table.table.users__table
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015