extends ./include/layout.jade
block vars
    - var page = 'users__list'
block main
    .header
        .header__cont
            .header__title.cleanvertising Список пользователей
            .header__action
                .header__search
                    form
                        .input-group
                            span.input-group-addon
                                i.fa.fa-search
                            input.form-control(type="text", placeholder="Имя, телефон или номер автомобиля")
    .main__filter
        .form-inline
            .form-group
                label Сортировать по:
                select.selectpicker(data-style="")
                    option Имени
                    option Блокировкам
    .main__content
        .users
            .users__title.cleanvertising 532 пользователя
            .users__list
                table.table.users__table
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован