html {
  height: 100%;
}

body {
  height: 100%;
    background-color: #e4ebf1;
}

.rt-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 65px;
}

.rt-header {
    height: 300px;
    background: transparent url('../img/header__bg.png') 50% top no-repeat;
}

.rt-main {
    max-width: 920px;
    margin: 0 auto;
}

.rt-list {}

.rt-item {
    background-color: #242d49;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 40px;
    min-height: 310px;
    position: relative;
}

.rt-item__info {
    box-sizing: border-box;
    padding-right: 420px;
}

.rt-item__screen {
    width: 380px;
    height: 260px;
    position: absolute;
    right: 30px;
    bottom: 40px;
    opacity: 0.9;
    background-position: 50% bottom;
    background-size: cover;
}

.rt-item__title {
    color: #2ac5ff;
    font-family: Georgia;
    font-size: 30px;
    font-style: italic;
    line-height: 35px;
}

.rt-item__title a {
    color: inherit;
    text-decoration: none;
}

.rt-item__desc {
    margin: 9px 0;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.rt-item__rate {
    width: 300px;
    margin: 16px 0 15px;
}

.rt-item__rate:after {
    content: '';
    display: block;
    clear: both;
}

.rt-item__medal {
    width: 40px;
    height: 33px;
    float: left;
    background-position: left top;
    background-repeat: no-repeat;
}

.rt-item__medal_gold {
    background-image: url('../img/medal_gold.png');
}

.rt-item__medal_silver {
    background-image: url('../img/medal_silver.png');
}

.rt-item__medal_bronze {
    background-image: url('../img/medal_bronze.png');
}

.rt-item__rate-indicator {
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 70px 0 60px;
    margin: 4px -60px 0 -40px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 15px;
}

.rt-item__rate-line {
    height: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
}

.rt-item__rate-progress {
    height: 100%;
    background-color: #2ac5ff;
}

.rt-item__rate-value {
    float: left;
    box-sizing: border-box;
    width: 60px;
    color: white;
    font-family: Georgia;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
    white-space: nowrap;
    margin-top: 13px;
}

.rt-item__btn {
    margin-top: 25px;
}

.rt-item__btn a {
    display: inline-block;
    background-color: #e73c88;
    border-radius: 5px;
    line-height: 50px;
    padding: 0 45px;
    color: white;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.rt-item__btn a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.rt-footer {
    height: 65px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.rt-footer__cont {
    max-width: 920px;
    margin: 0 auto;
    background: transparent url('../img/age.png') right top no-repeat;
    height: 100%;
}

.rt-footer__copyright {
    color: #242d49;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    padding-top: 6px;
}