.tb-bottom
    .tb-screens
        .tb-screens__item
            a.tb-screens__link.fancybox(href='img/video.png', rel="screens", style='background-image: url("img/video.png")')
        .tb-screens__item
            a.tb-screens__link.fancybox(href='../media/screen_1.png', rel="screens", style='background-image: url("../media/screen_1.png")')
        .tb-screens__item
            a.tb-screens__link.fancybox(href='../media/screen_2.png', rel="screens", style='background-image: url("../media/screen_2.png")')
        .tb-screens__item
            a.tb-screens__link.fancybox(href='../media/screen_3.png', rel="screens", style='background-image: url("../media/screen_3.png")')
        .tb-screens__item
            a.tb-screens__link.fancybox(href='../media/screen_4.png', rel="screens", style='background-image: url("../media/screen_4.png")')
        .tb-screens__item
            a.tb-screens__link.fancybox(href='../media/screen_5.png', rel="screens", style='background-image: url("../media/screen_5.png")')
    .tb-count
        .tb-count__container
            | В трагедию белок играет&thinsp;
            span.tb-count__total 4 832 211&thinsp;
            | человек
    .tb-social
        .tb-social__comments
            div#vk_comments
            //img(src='../media/comments.png', width='100%')
        .tb-social__communities
            .tb-social__title Играть в соц.сетях:
            .tb-social__links
                .tb-social__link.tb-social__link_vk
                    a(href='')
                .tb-social__link.tb-social__link_fb
                    a(href='')
                .tb-social__link.tb-social__link_ok
                    a(href='')
                .tb-social__link.tb-social__link_mm
                    a(href='')
            .tb-tabs
                .tb-tabs__nav
                    .tb-tabs__btn(data-tab='vk-tab')
                        button
                            img(src='img/vk.png')
                            | Вконтакте
                    .tb-tabs__btn(data-tab='fb-tab')
                        button
                            img(src='img/fb.png')
                            | Facebook
                .tb-tabs__content
                    .tb-tabs__tab#vk-tab
                        #vk_groups
                        //img(src='../media/vk_group.png', width='100%')
                    .tb-tabs__tab#fb-tab
