.tb-footer
    .tb-footer__cont
        .tb-join
            .tb-join__title Присоединяйтесь к нам!
            .tb-join__links
                .tb-join__link.tb-join__link_vk
                    a(href='')
                .tb-join__link.tb-join__link_fb
                    a(href='')
                .tb-join__link.tb-join__link_ok
                    a(href='')
                .tb-join__link.tb-join__link_mm
                    a(href='')
                .tb-join__link.tb-join__link_yt
                    a(href='')
                .tb-join__link.tb-join__link_gp
                    a(href='')
                .tb-join__link.tb-join__link_fs
                    a(href='')
        .tb-footer__copyright
            img(src='img/rockstone.png')
            p
                a(href='http://rockstonedev.com', target='_blank') rockstonedev.com
            p
                | Техническая поддержка:&thinsp;
                a(href='mailto:feedback@itsrealgames.com') feedback@itsrealgames.com