script(src='libs/jquery/jquery.min.js')
script(src='libs/parallax/jquery.parallax.js')
script(type="text/javascript", src="libs/fancybox/source/jquery.fancybox.pack.js?v=2.1.5")
script(src='js/tb.js?v=0.1')
script(src='js/vk_widgets.js?v=0.1')