doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title TB
        include ./styles.jade
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    block vars
    body.tb(class="tb_#{page}")
        .tb-container
            .tb-background
                .tb-background__layer.tb-background__layer_landscape.layer(data-depth="0.10")
                .tb-background__layer.tb-background__layer_island.layer(data-depth="0.15")
                .tb-background__layer.tb-background__layer_rocket.layer(data-depth="0.30")
                .tb-background__layer.tb-background__layer_mask
                .tb-background__layer.tb-background__layer_squirrel
            .tb-content
                include ./header.jade
                include ./main-menu.jade
                include ./main.jade
                include ./bottom.jade
            include ./footer.jade
        include ./js.jade