.tb-menu
    .tb-menu__list
        .tb-menu__item(class=page=='game' ? 'tb-menu__item_active' : '')
            a.tb-menu__link(href='game.html') Игра
        .tb-menu__item(class=page=='news' ? 'tb-menu__item_active' : '')
            a.tb-menu__link(href='news.html') Новости
        .tb-menu__item
            a.tb-menu__link(href='http://forum.itsrealgames.com/forum/10-tragediia-belok/', target="_blank") Форум
        .tb-menu__item
            a.tb-menu__link(href='') Wiki-Белки
        .tb-menu__item
            a.tb-menu__link(href='') Поддержка
