link(rel="icon", type="image/png", href="img/favicon.png")
link(rel="apple-touch-icon-precomposed", href="img/apple-touch-favicon.png")
link(href='libs/normalize.css/normalize.css', rel='stylesheet')
script(type="text/javascript", src="//vk.com/js/api/openapi.js?117")
link(rel="stylesheet", href="libs/fancybox/source/jquery.fancybox.css?v=2.1.5", type="text/css", media="screen")
link(href='css/tb.css', rel='stylesheet')