.sm-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  text-align: center;

  @media @desktop {
    height: 100%;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    padding: 8vh 0 5vh;

    .ltr-version({
      flex-flow: row nowrap;
      padding-top: 0;
    })
  }
}

.sm-promo {
  height: 100vh;
  width: 100%;
  padding: 26vh 0 20vh 20px;
  background-position: 50% 50%;
  background-image: url('../../img/pack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;

  //border-bottom: 1px solid yellow;

  opacity: 0;
  transform: translateY(-20px);

  transition: opacity 0.8s ease-out, transform 0.4s ease-out;
  transition-delay: 400ms;

  .when-page-loaded({
    opacity: 1;
    transform: translateY(0);
  });

  .ltr-version({
    background-image: url('../../img/pack_en.png');
  });

  @media @desktop {
    width: 450px;
    height: auto;
    padding: 0 0 0 10px;
    background-position: left center;
  }
}

.sm-info {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media @tablet {
    justify-content: flex-start;
  }

  @media @desktop {
    flex-grow: 1;
    width: 55%;
    justify-content: center;
    padding-right: 22px;
    padding-top: 57px;

    .ltr-version({
      padding-top: 79px;
    });
  }
}

.sm-title {
  position: fixed;
  top: 8.4vh;
  left: 20px;
  right: 20px;

  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s ease-out 400ms, transform 0.4s ease-out 400ms, top 0.25s ease-out;

  .when-page-loaded({
    opacity: 1;
    transform: translateY(0);
  });

  @media @less-then-desktop {
    .ltr-version({
      top: 11vh;
    });

    html.page-scrolled & {
      top: 1.5vh;
    }
  }


  @media @desktop {
    position: static;

    text-align: right;
    margin-bottom: 10px;

    .ltr-version({
      text-align: center;
      margin-right: -20px;
      margin-bottom: 28px;
    });
  }

  h1 {
    font-family: 'ANegaar', sans-serif;
    font-size: 1rem;
    line-height: 1.2em;

    html.page-scrolled & {
      font-size: 0.85rem;
    }

    .ltr-version({
      font-family: 'Chalkboard', cursive;

      @media @less-then-desktop {
        font-size: 0.80rem;
        letter-spacing: -2px;
      }
    });

    @media @desktop {
      font-size: 1.27rem;

      .ltr-version({
        font-size: 0.92rem;
        letter-spacing: -2px;
      });
    }
  }

  h2 {
    font-family: 'ANegaar', sans-serif;
    font-size: 0.88rem;
    line-height: 1.2em;

    html.page-scrolled {
      font-size: 0.78rem;
    }

    .ltr-version({
      font-family: 'Chalkboard', cursive;

      @media @less-then-desktop {
        font-size: 0.53rem;
        letter-spacing: -1px;
      }
    });

    @media @desktop {
      font-size: 1.22rem;

      .ltr-version({
        font-size: 0.7rem;
        letter-spacing: -1px;
      });
    }
  }

  &__1 {
    color: #0D216E;
    margin: 0.7rem 0 0.3rem;

    //
    margin-bottom: 0.2rem;
    //

    @media @desktop {
      margin-bottom: 0.4rem;

      .ltr-version({
        margin-bottom: 0.25rem;
      });
    }

    .sm-title__sub {
      font-size: 1.3em;

      @media @desktop {
        font-size: 1.5em;
      }
    }
  }

  &__2 {
    margin: 0.1rem 0 0.65rem;

    @media @desktop {
      margin-bottom: 0.8rem;

      .sm-title__dots {
        display: none;

        .ltr-version({
          display: inline;
          color: #FCDE44;
        });
      }

      .sm-title__sub {
        color: #FCDE44;
      }
    }
  }

  &__3 {
    color: #FCDE44;
    margin: 0;

    @media @desktop {
      display: none;
    }
  }
}
