.sm-lang {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 38px;
  height: 38px;
  background-color: #4C9FDC;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;

  transition: opacity 0.4s ease-out;
  transition-delay: 400ms;

  .when-page-loaded({
    opacity: 1;
  });

  @media @desktop {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 34px;

    &:hover, &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    @media @desktop {
      font-size: 1rem;
      line-height: 46px;
    }
  }
}
