.sm-more {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-flow: column;
  text-align: right;
  padding-top: 18px;

  .ltr-version({
    min-width: 190px;
  });

  @media @less-then-desktop {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 10vh;
    align-items: center;
    opacity: 0;

    transition: opacity 0.2s ease-out;

    .ltr-version({
      bottom: 9vh;
    });

    html.page-bottom & {
      opacity: 1;
    }
  }

  &__title {
    color: #0D216E;
    font-size: 0.86rem;
    line-height: 0.7rem;
    font-family: 'TanseekModPro', sans-serif;
    font-weight: bold;
    margin-bottom: 2px;

    .ltr-version({
      font-size: 0.92rem;
      line-height: 0.78rem;

      @media @less-then-desktop {
        font-size: 1.2rem;
        margin-bottom: 14px;
      }
    });
  }

  &__number {
    color: #fff;
    font-size: 1.1rem;
    line-height: 0.7rem;

    .ltr-version({
      font-size: 1.15rem;

      @media @less-then-desktop {
        font-size: 1.5rem;
      }
    });
  }
}
