.sm-rules {
  flex-flow: row wrap;
  justify-content: center;
  max-width: 220px;
  margin: 0 auto;

  @media @desktop {
    max-width: none;
    margin: 0;
    justify-content: flex-start;
    flex-flow: row nowrap;

    .ltr-version({
      margin-right: -8px;
    });
  }

  &__step {
    width: 80px;
    margin: 0 15px 15px;

    @media @less-then-desktop {

      .ltr-version({
        width: 100px;
        margin: 0 5px 15px;
      });
    }

    @media @desktop {
      margin: 0 0 0 13px;
      width: 66px;

      .ltr-version({
        width: 80px;
        margin: 0;
      });
    }

  }

  &__pic {
    height: 80px;
    width: 100%;
    background-color: #ffe32d;

    @media @less-then-desktop {

      .ltr-version({
        width: 80px;
        margin: 0 auto;
      });
    }

    @media @desktop {
      height: 66px;

      .ltr-version({
        width: 66px;
        margin: 0 auto 2px;
      });
    }

    img, svg {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 0.8em;
    text-align: center;
    font-size: 0.72rem;

    @media @less-then-desktop {

      .ltr-version({
        font-size: 0.65rem;
      });
    }

    @media @desktop {
      font-size: 0.55rem;

      .ltr-version({
        font-size: 0.5rem;
        line-height: 0.75em;
      });
    }

  }
}
