.sm-video {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  order: 3;
  margin-bottom: 8px;
  overflow: hidden;
  height: 100vh;

  @media @desktop {
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: auto;
    order: unset;
    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transition-delay: 600ms;

    .when-page-loaded({
      opacity: 1;
      transform: translateY(0);
    });

    .ltr-version({
      flex-direction: row-reverse;
      margin-bottom: 5px;
    });
  }

  &__player {
    margin: 0 auto 21vh;
    width: 268px;
    height: 150px;

    @media @desktop {
      width: 240px;
      height: 134px;
      margin: 0;
    }

    .video-js, .youtube-player {
      width: 100%;
      height: 100%;
    }
  }
}

.video-js {

  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
  }
}

.vjs-poster {
  background-color: transparent;
}
