.sm-wrapper {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 768px;

  @media @desktop {
    max-width: 996px;
    padding: 0 20px;
    min-height: 600px;
  }
}
